<!DOCTYPE html>
<html>

<head>
	<title>Dattaguru Parikrama - अबुवरील गुरुशिखर</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left datta-img'>
					<img alt='गुरु शिखर दत्त पादुका मंदिर, अबु '
						src='https://raw.githubusercontent.com/onkar2498/JSON/master/images/Abu-Guru-Shikhar/abu-1.jpg'>
					<figcaption class="figncaption">Guru Shikhar Dutt Paduka Temple, Abu</figcaption>
				</div>
				<h3>Gurushikhar on Abu</h3>
				<p>Aravalli Ha is the oldest mountain in India. To Rajasthanat Nairitya - Ishanya Pasarlela Aahe.</p>
				<p>Mount Abu' (Abu Pahar, Abu Parvat) is the highest peak in the northwest. Its height is about 1,700
					meters. He is called 'Gurushikhar' like this. There are seven Malanwars near this Abu Shikhar. Abu
					Pasu is five Malanwar and more than 500 feet high 'Oriya' or Navache village. This 'Gurushikharchya'
					is situated in the main Tokali. Gurushikhar is three Malanwars from Ya village. It is cooler than
					Abu or the places are Hindu and Jain temples. There is a famous temple of 'Kankhaleshwar' Mahadev in
					this place.</p>
				<p>Oriyapass is a little distant south. But leaving behind such paulavats (trails) start. Ti goes from
					the mountain and from Nalyatun till 'Gurushikhar'. The climb is a bit more difficult. But it doesn't
					seem difficult to have a strong devotion. Sri Bhagwan Dattatreyani or the abode is banana. That
					Smriti Khadkache Shivalaya Koraliya Paduka or Shikharavar Ek Lahansha Temple has been established.
					Or the place has a very big hour (ghat). His voice is heard far and wide. </p>

				<div role="group" class="caption caption-img align-left data-img">
					<img alt="Datta Paduka Deep at Abu"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Abu-Guru-Shikhar/abu-2.jpg">
					<figcaption class=" figcaption">Datta paduka deep at Abu </figcaption>
				</div>
				<p>Or Shikharavar the great Yogi remained to do penance.</p>
				<p>Or hides are predatory creatures.</p>
				<p>Far away places can be seen from this place. Far away dense forest, green as well as Pujaraji and
					Sheetal Variachya temples make Lahari Manala happy.</p>
				<p>Many travelers come to this place. Due to a slight obstruction on the road, a policy ship comes to
					Oriya village every morning and evening for the protection of genuine travelers. The Oriapas
					guidelines are more densely friendly.</p>
				<p>Ya thikana yatrakaroonchi dharamshala ahe. Also there are many deep (cave) pans. Whatever the
					destination, in fact the saints and sages take full care of the arrangements for the pilgrims. Here
					Sadhu-Sanyasana, as well as poor Manasana, are given free food. This is a beautiful well garden.</p>
				<p>Ramanand's pan paduka was related to Hinduism.</p>
				<p>Or where Shrimant Tukoji Maharaj Holkar or Shri Swami Samarth (Akkalkot) has given darshan.</p>
				<br>
				<br>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="Shri Datta Charan Paduka Temple"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Abu-Guru-Shikhar/abu-3.jpg">
					<figcaption class=" figcaption">Shri Datta Charan Paduka Temple</figcaption>
				</div>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="Shri Datta Paduka Guru Shikhar, Abu Pahar"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Abu-Guru-Shikhar/abu-4.jpg">
					<figcaption class="figncaption">Shri Datta Paduka Guru Shikhar, Abu Pahad</figcaption>
				</div>
			</div>
		</section>
	</main>
</body>

</html>