<!DOCTYPE html>
<html>

<head>
	<title>Dattaguru Parikrama - Anusaya Tirth</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left data-img'>
					<img alt='Asti Datta Mandir'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Asti-Beed/asti-1.jpg">
					<figcaption class="figncaption">Ashti Datta Temple</figcaption>
				</div>
				<h3>Shri Kshetra Ashti Datta Mandir</h3>
				<p>Mumbai-Beed highway, off Mumbai-Beed highway, has 36 Mailanwar Ashti villages in taluka of Beed
					district.</p>
				<p>Matra Vadya Pratipada Shake 1888 Saturday. On 25/2/1967 Shree Dattamurti Navyane was established
					here. The same idol has been prepared from Jaipur and brought. Shivdattachi means the one with
					Shankar's middle mouth. Statue 3॥ Feet high, white marble stone, meditation is very beautiful and
					attractive.</p>
				<p>Ya mandirachi puja-archadi sarva system Shridatta devotee Shri. Raghunathrao Anantrao Kalkundrikar is
					in possession and the trust of the temple is the same.</p>
				<div class='caption caption-img align-left data-img'>
					<img alt=''
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Asti-Beed/asti-2.jpg">
					<figcaption class="figncaption"></figcaption>
				</div>
				<div class='caption caption-img align-left data-img'>
					<img alt='Asti Datta Mandir Palkhi '
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Asti-Beed/asti-3.jpg">
					<figcaption class="figncaption">Ashti Datta Mandir Palkhi </figcaption>
				</div>
				<div class='caption caption-img align-left data-img'>
					<img alt='Asti Dutt Temple'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Asti-Beed/asti-4.jpg">
					<figcaption class="figncaption">Ashti Dutt Temple </figcaption>
				</div>
			</div>
		</section>
	</main>
</body>

</html>