<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left data-img'>
					<img alt='Nrusinghwadi'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Audumbar/shree_sketra_audumber_datta_mandeer01.jpg">
					<figcaption class="figncaption">Sri Kshetra Audumbar Datta Temple</figcaption>
				</div>
				<h3>Mr. Area Audumber&nbsp;</h3>
				<p>The birthplace of Narasimha-Saraswini is Varahtala; But he made Krishnakath his workplace.
					Both Krishna Kathi Audumbar and Narsobachi Wadi are his genuine, penance and Lokodhara activities.
					The holy place has been created. Bhilwadi is on Altira and Audumber area is on Paletira river
					Dark woman
					Oh, he used to reach Udumber by bus from Sangli. accommodation can be arranged
					and besides the living
					There are dharamshalas in the village.</p>
				<p>Shri Narasimhasaraswati is considered to be the second incarnation of Shri Dattatreya. to increase
					their heat,
					Due to the influence of scriptures and knowledge, the Datta sect of Maharashtra spread everywhere.
					His
					This work is so great that people consider him the founder of the Datta sect. 1441 in Audumber
					Why Chaturmasat is situated here, that's why Audambara is specially known as Maharashtra Dattasthan
					Unclekhop Village on Paletira of Krishna near Kadam Bhuvaneshwari Devi Temple and Bhilwadi on Eltira
					Aha Bhuvaneshwari being a Shaktipeeth, people used to do penance in this locality.
					walk krishna's arrow
					It is due to the movement of trees that solitary Tapovan is formed. this nature
					siddha tapovanat audumbrachya dat
					Narasimha Saraswini spent only one chaturmas in the cool shade and attained eternal purity.
					Compassionate.</p>

				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 Yogini Puja"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Audumbar/audumber_datta_mandeer01_0.jpg">
					<figcaption class="figncaption">Sri Kshetra Audumbar Datta Temple</figcaption>
				</div>
				<p>Bathe in the holy pot of Krishna in this holy environment and have darshan of Shri
					Dattapaduka
					This bathing ghat is of concrete.</p>
				<p>You live with me, I am very happy, you are grateful to Vandita Srikrishnamai!<br>
					Asi krishnamachi manoman, pray and become pure and go to Datta Darshanalay. direct sec
					range of mountains
					Padukam continues to work. On this ghat Brahmanandswami's disciple Sahajanandswami, Sec.
					Devotees
					They built dams by collecting financial support in the early twentieth century.</p>
				<p>After seeing the feet of Datta, I started circumambulating the path of Guru Charitra,
					Datta Bhakta.
					Distill while doing. Rigorous penance is of great importance in the Datta sect. very much
					stingy manners
					Nonconformists believe that revelation should be accessible to believers.
					Gorakshanath, Changdevraul,
					Janardanaswamy, Eknath, Dasopant, Niranjan Raghunath etc. mention the names of great Datta devotees.
					History why austerity, self-respect.</p>
				<p>Narasimha Saraswati must have been enjoying seclusion at that place for four months.
					There is reason to think about character and punishment. so check yourself
					a friendly mental meeting
					benefits.</p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 Yogini Puja"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Audumbar/audumber_datta_mandeer_parisar_shreenchi_murti0_0.jpg">
					<figcaption class="figncaption">Audumbar Datta Temple Complex Sri Chi Murchi</figcaption>
				</div>
				<p>The area around the temple has dense shade of sycamore trees. while the shadow is on the ground
					the sun is setting in the sky - of light
					Jalidaar Rangoli remains liquid. The shadows of these Audumbaras around the temple are compassion,
					immense 'Ajoba'.
					vadakhalchai
					After going to Baate, Brahmanand Swami asked maths. This gentleman Girnarhu Audumbarkshetri around
					1826
					He raised his fist here and there and did penance. Come to their peaceful, happy and holy
					environment
					Tapala Siddhi attained fame and finally he took samadhi here. Meru Shastri danced with her
					He was a learned gentleman. He composed the Yoga scripture 'Hatha Yoga Pradipika' with the help of
					Why Brahmanand?
					Wrote criticism of the famous Sanskrit text 'Jyotsana'.</p>
				<p>Brahmanand's disciple Sahajanand Swami collected Vargani from the devotees and paved the way for
					Audumbarcha.
					The courtesy of tying bananas. or Brahmananda Mathatach Srivasudevanandasaraswati (an archaic of the
					Datta sect
					Satpurush) would have taken the first steps of his life. Pude or Mathat Srinarayanandatirtha or
					Navache ek satpurush rahat asat.</p>
				<p>Aundubarakshetri Chaitrat Krishnamai festival, Shripad Shrivallabh festival, Shri Narasimha Saraswati
					birth anniversary,
					Datta Jayanti is celebrated like this. You must visit the extremely delightful Datta Kshetrala.</p>
				<p>&nbsp;</p>

				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 Yogini Pujas"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Audumbar/narayanand-swami_audumbar_0.jpg">
					<figcaption class="figncaption">Narayananda Saraswati Swami Maharaj Audumbar</figcaption>
				</div>
				<p><strong>Krishnatirichiya Vasayane. These residents of Audumbari. Dhr.<br>
						Wish. Found those who wear sandals. 1. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>
						Those who do ashes. Those who get the punishment kamandalu. 2. &nbsp; &nbsp; &nbsp; &nbsp;
						&nbsp; &nbsp;
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>
						Self-devotees are friends. Devotees. Those who meditate. 3. &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
						&nbsp;
						&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<br>
						The one who gives smarta darshan. Vasudev's Kaivariya. 4.</strong></p>
			</div>
		</section>
	</main>
</body>

</html>