<!DOCTYPE html>
<html>

<head>
	<title>Dattaguru Parikrama - Dattapaduka of Bachani, Temple</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left data-img'>
					<img alt='Bachani Dutt Temple'
						src='https://raw.githubusercontent.com/onkar2498/JSON/master/images/Bachani/bachani.jpg'>
					<figcaption class="figncaption">Bachani Dutt Temple</ figcaption>
				</div>
				<h3>Shri Kshetra Bachanichya Shri Dattapaduka, the awakened place</h3>
				<p>Dakshina normal distance from Kolhapur is 23-25 km distance from Vispurli to left Hatala, Gargoti
					road 'Kagal' Talukyat 'Bachni' village. Population Jemtem 5000 Hazanavar Asel. From here one goes to
					Konkan.</p>
				<p>'Kagal' is p. Poo Yogiraj Gulvani Maharaj's village. Next came the 'Kudutris'. West from Kagal - 14
					kms. m. And from Kudutri to Purvela - 16 kms. m. Or in the distance is the village of 'Bachani'.
					Sadhvi Janmala Alya named Muktabai, the family member of Kulkarna in Kagal taluka, Kapileshwar. At
					that time Mahavastra, chest and paduka were found in his birth room. She was fed up with smallness.
					Tya Padukanchich Tya Khelt Asat. Next, after seven years, according to the custom of that time, the
					marriage of 'Bachani' with Eknathrao Kulkarnyan took place. But that world is never Ramlyach. Lord
					Dattatreya's research is always false. Dhananjay gotri Bachnikarani left him in the same condition
					after seeing his condition. Always devoted to Datta, Sakshat Shripad Shrivallabh used to accept his
					hand offerings. Kagalkar Sansthanik (Dhakte) Kakasaheb and his father had once come to 'Bachanis',
					they saw the crackling of the door; Tehi Bharavale and he donated 21 acres of land to the
					organization for the arrangement of gods. Due to this, the expenses of Nandadeep Naivedya etc.
					should be spent. Next, at the age of 20-21 Vyavarshi, on the day of "Guruvadadashi" "Shripad
					Shrivallabh" Swami Maharaj's funeral, Muktabai took Samadhi. His Paduka, Lord Dattatreya'ach
					Padukanchya Mage sthapana ke liye. Bananas were immersed in chest, Mahavastrahi there, on the third
					day Audumbarache saplings came there, even today Audumbara Dimakhat dolat aahe. Just like
					Nrisinghwadi, there is a temple of small minded Sridattapaduka, with the shade of Audumbar tree on
					it. Roz Rudra, pavaman pournimes, nitya nandadeep, pade asa nityacha bhag mandirat asato. </p>
				<p>Mr. Fifth note of musical scale. Fifth note of musical scale. Ramchandra Yogi, P. Fifth note of
					musical scale. Shri Gopalaswami, P. Fifth note of musical scale. Sri Narayanaswamy, p. Fifth note of
					musical scale. Shri Vasudevananda Saraswati Swami, p. Poo Shri Yogiraj Gulvani Maharaj etc. have
					taken the darshan of 'Shri Dattapadukanche' or the speeches.</p>
				<p>'Shri Dattapaduka' at 'Bachani' is extremely dazzling like Nrusinghwadi and fulfills the wishes of
					the devotees. Nrusinghwadila Jashi Krishna river flows towards the south, Tashi Bachnila Dudhganga
					river flows towards the east. Lord Dattatreya's Padukanchi service should be done by all Datta
					devotees. There are Nrisinghwadila temples like Krishna Nadi Tiravar Shri Dattapadukanche temple and
					Bachanila Dudhgangeya Tiravar Shri Dattapadukanche temple. Guruvdadashis is a big festival. This is
					the best area for the practice of your great yoga. Sadhana would have been fine.</p>
			</div>
		</section>
	</main>
</body>

</html>