<!DOCTYPE html>
<html>

<head>
	<title>Dattaguru Parikrama - Shrikshetra Basavakalyan</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left data-img'>
					<img alt='Basavkalyan Kshetra'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Basav-Kalyan/basav-kalyan.jpg">
					<figcaption class="figncaption">Basavkalyan Kshetra </figcaption>
				</div>
				<h3>Shri Kshetra Basavakalyan</h3>
				<p>Basavakalyan is 110 km from Solapur. m. अंपर्ड हिबरद मर्ग सास्तापूर फट्याnear aahe. This is a very
					ancient such Shridatta area. Or Mandirala Bhuyari Samadhi Temple would be called like this. Or the
					Datta sect is called the Ananda sect.</p>
				<p>It is told that after the end of Dwaparayuga, when Kaliyuga started, the five Pandavas along with
					Draupadi left for Badrinath. Abhimanyu's son Parikshit and his son Janmejay means a big yagya
					banana. Then a child came out of the sacrificial fire. He was very cheerful and very happy. His
					attitude of being constantly happy started calling him Sadanand. There is a belief that Sri
					Sadananda or Roopa was born in the beginning of Kaliyuga under Sridatta Prabhun. Or Sadanandani
					pleased Shri Shankarla by doing intense penance in his childhood. After that Shankarani ordered him
					to go west. You will meet with Avdhoots. He will be your teacher and guide. Then Sadanand thought,
					how can I know them? Then he told that you should roar like 'Aho, Shridatta' after taking every
					thousand steps. Wherever you get a response, you just do penance. There will be darshan of Tula
					Avdhoot. As per the order of Shankara, Shri Sadanand started moving towards the west. Dattatreya's
					gazelles would have been done for every thousand Pavalvanars. Basavakalyan came to the city by
					roaming around like this. Or at some place Shridattatreya's response was received by him. Such a
					story goes to Sangitali. He started penance there. There he had darshan of Shri Dattatreya and he
					showered full blessings on Sadanandavar. He established the Ananda Sampradaya at Kalyan. Sri
					Ramanand, the disciple of Sri Sadanand, has extended this sect further. That tradition is still
					going on. Or the guru tradition of the sect, Vishnu - Vidhi - Atri - Datta - Sadananda - Ramananda
					goes on like this.</p>

				<div role="group" class="caption caption-img align-left data-img">
					<img alt="Basavakalyan Temple"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Basav-Kalyan/basav-kalyan-1.jpg">
					<figcaption class="figncaption"> Basavakalyan Temple</figcaption>
				</div>
				<p>Shri Basavakalyan is a unique Dattakshetra and there are 48 mausoleums and there are 30 such
					mausoleums in other places, totaling 78 Mathadhishan's mausoleums. There are total nine Bhuyares.
					The temple is like a fortress and in each Bhuyara there are tombs of many monks. Or those who used
					to get down in the clouds would literally get tired after seeing the Samadhya. There is a lot of joy
					and wonderful experiences come. The specialty of the region is that here is the sanjeevan samadhi of
					Sadanand Maharaj. Also here Shridatta Peeth and Shri Saraswati Peeth are at the same place.
					Saraswati Peeth is very awakened and Saraswati Mata speaks like this. When Shankaracharya came here
					and had his darshan, she showered him with complete blessings. After that, his speech stopped and
					Sri Shankaracharya started writing profusely, such is the narrative.</p>
				<p>There is a 'Sumukh Ganeshmurti' of Shri Ganpati at this place. According to the story of the birth of
					Lord Ganesha, his head was beheaded by Shankara and there later Hattiche's mouth was drawn. The
					unique beautiful idol of Lord Ganesha before the beheading is here. Shree Dattatreyan's back is
					there only and Shree Dattapaduka is there. The main temple is Audumbaracha tree and in Bhuyara there
					is a very unique 'Shrisheshadatta Paduka'. Paduka is probably the only area in Sheshnaga's abdomen.
					If the paduka is in perfect condition, the mind would be satisfied by seeing it. Or the Abbot of the
					region is completely fame-oriented or the devotees do not have the Persian knowledge of the region.
					Every Datta devotee should go here and have darshan. There is free arrangement of Bhakta Niwas and
					Bhojan Prasad for stay in this place.</p>
				<p>This is one of the main Pithas of the Ananda Sampradaya.</p>
				<br>
			</div>
		</section>
	</main>
</body>

</html>