<!DOCTYPE html>
<html>

<head>
	<title>Dattaguru Parikrama - अबुवरील गुरुशिखर</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left data-img'>
					<img alt='Shri Datta Bhiksha Ling Temple'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-1.jpg">
					<figcaption class="figncaption">Shri Datta Bhiksha Linga Temple</figcaption>
				</div>
				<h3>Sri Kshetra Dattabhikshalinga Temple</h3>
				<p>Sri Dutt Bhikshalinga Mandir in Kolhapur City Sunday Pethetil Azad Chowk is Jagrut Dutt Sthan and is
					considered to be an important place or area since ancient times. In the afternoon Shri Dattaprabhu
					Etech Jagdambekdun receives alms. Amongst those local Navnaths, one of the Vatsiddh Navnathanni Shri
					Duttaprabhuna would have been alms-giving bananas. Also Shri Gorakshanathani Dutt Maharaj's alms
					field would have started from Shridatta Bhikshalinga place at Jholi. Or the story of
					Vatsiddhanaganathachi about the place has come in Navnathkathasar Adhyay No.36 and 37.</p>
				<p>Shridatta Prabhu receives alms in the middle of the day at Kolhapur in South Kashi Kshetra. </p>
				<p>Or the local Shri Gorakshanathanni Shri Samarth Ramdas Swamina would have been the head of Kubdi.
					Today's gentleman gets Gadavar Pahavayas. Shree Mahalakshmi's mother Adeshavarun Shree Narayan
					Swamin did penance at this place. Shri Dattaprabhu himself gave him this local darshan. His
					mausoleum is located in the main Dutt Kshetra Shree Nirhasingh Wadi. Or the presence of Shridatta
					Prabhunche is felt at the time of local Duparchaya Barachya Aartichaya. As in Gangapur, Sadguru
					Dattatreya's second human incarnation Shri Nrihasingh Saraswati Swami asks for honey during the
					afternoon. Similarly, Dattaprabhu himself comes here to beg for alms.</p>
				<p>Kolhapurla is accessible by rail and bus only. Buses are available from all over Maharashtra to
					Kolhapurla. </p>

				<p><b>Shri Dattabhikshalinga Temple Devasthan</b></p>
				<p>Azad Chowk, Sunday Peth Kolhapur.</p>
				<div class='caption caption-img align-left data-img'>
					<img alt='Shri Dattatreya Dev Math Sansthan'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-2.jpg">
					<figcaption class="figncaption">Shri Dattatreya Dev Math Sansthan </figcaption>
				</div>
				<div class='caption caption-img align-left data-img'>
					<img alt='Shri Datta Murti, Datta Bhikshalinga Temple '
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-3jpg">
					<figcaption class="figncaption">Shri Datta idol, Datta Bhikshalinga temple</figcaption>
				</div>
				<div class='caption caption-img align-left data-img'>
					<img alt='Datta Bhikshalinga Temple, Sri Dattachi Pooja '
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-4.jpg">
					<figcaption class=" figncaption">Datta Bhikshalinga Temple, Sri Dattachi Pooja</figcaption>
				</div>
				<div class='caption caption-img align-left data-img'>
					<img alt='Shri Dattatreya Dev Math Sansthan Information'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-5.jpg">
					<figcaption class="figncaption ">Sri Dattatreya Dev Math Sansthan Information</figcaption>
				</div>
				<div class='caption caption-img align-left data-img'>
					<img alt='Datta Bhiksha Ling temple afternoon Mahalakshmi sadguruuna alms giving'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-6.jpg">
					<figcaption class="figncaption">Datta Bhiksha Ling Mandirat Padhi Mahalakshmi Sadguruuna Bhiksha
						Ghaltana</figcaption>
				</div>

			</div>
		</section>
	</main>
</body>

</html>