<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name='viewport' content='target-densityDpi=device-dpi' />
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- main-banner -->
	<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1255529006075362" data-ad-slot="4279346191"
		data-ad-format="auto" data-full-width-responsive="true"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left data-img'>
					<img alt='ग श्रीदत्तप्रभूंच आजोल (महर्षि कर्दमुनिंचा आश्रम) करंजी'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Karanji/karanji-1.jpg">
					<figcaption class=" figncaption">सी श्रीदत्त प्रभुंच आजोल (महर्षि कर्दमुनिंचा आश्रम)
						करणजी</figcaption>
				</div>
				<h3>करणजी का 'श्रीदत्त प्रभुंच आगोल'</h3>
				<p>महर्षि अत्रि और महापतिव्रता के पुत्र त्रेतायुगत मार्गशीर्ष पूर्णिमा के मध्य में
					साध्वी अनसूया ने भगवान श्रीदत्तात्रेयणी का अवतार ग्रहण किया। महर्षि भृगु ज्येष्ठ पुत्र हैं
					ब्रह्मदेव के चार मानस पुत्रों में दूसरे महर्षि अंगिरस, तीसरे महर्षि अत्रि और
					चतुर्थ महर्षि वैखानस ! महर्षि अत्रि और महर्षि अंगिरस का स्थान माना जाता है
					सप्तर्षिमादेही का। कर्दमुनि और देवहुति की सुकन्या, श्री लक्ष्मी की माता के पुत्र, अर्थात्
					महर्षि अत्रिंचि की पत्नी महासाध्वी माता अनसूया ! अत्रिमुनि के ज्ञान, तपस्या की शक्ति और
					वैराग्य, कर्दमुनि-देवहुतिहि उनसे प्रसन्न हुए और उन्हें अपनी अनसूया या सौन्दर्यवती-सुशील प्राप्त हुई
					पुत्री का विवाह अत्रिमुनि से हुआ। 'अनसूया' का अर्थ है 'बिना असूया'! अश्या या महान सती श्री
					अनसुयेचन माहेर का अर्थ है श्री दत्त प्रभुंच आगोल (महर्षि कर्दमुनि का आश्रम)। डिंडोरी के पास
					'करणजी' या गवी, दंडकर्ण का एक बहुत ही सुरम्य परिसर, नासिक-वाणी रोड के पार! पर
					वणिकड़े का रास्ता, ओझरखेड बांध बाईं ओर है और मुख्य सड़क से केवल 3-4 किमी दूर है
					दाहिनी ओर पवित्र स्थान है। यलाच को 'निर्जल मठ' आसनही कहा जाता है। पराशर, मार्कण्डेय, कण्व वा
					तपस्वी महर्षि के इस क्षेत्र में आश्रम रहे होंगे। 'सिद्धाना कपिलो मुनिः' के रूप में वर्णित है
					'सिद्धानां कपिलो मुनिः', क्योंकि कपिल मुनि ने स्थानीय तपस्या नहीं की थी।</p>
				<p>श्रीदत्त प्रभुंची पद्मासन की मूर्ति कहीं और नहीं मिलती है और यहां केवल एक ही मूर्ति मिलती है
					भारत। गंगमेन के श्रीदत्त प्रभु की वास्तविक मूर्ति श्री शिवदयाल को प्रसाद के रूप में दी गई है
					स्वामी ने यहां तपस्या की थी। मंदिर के मध्य भाग में देवघराट के मध्य में एक है
					केवल एक ऊंचाई की शुद्ध सफेद मूर्ति।</p>
				<p>यहां एक और आश्चर्य की बात यह है कि पहाड़ा मितालन के क्षेत्र में सभी कुत्ते दोपहर 12 बजे इकट्ठा होते
					हैं
					अर्टिला देवलछाया का गर्भ और आरती के बाद चले जाना।</p>
			</div>
		</section>
	</main>
</body>

</html>