<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name='viewport' content='target-densityDpi=device-dpi' />
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- main-banner -->
	<ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-1255529006075362" data-ad-slot="4279346191"
		data-ad-format="auto" data-full-width-responsive="true"></ins>
	<script>
		(adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left data-img'>
					<img alt='ग श्रीदत्तप्रभूंच आजोल (Maharishi Kardammunincha Ashram) Karanji'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Karanji/karanji-1.jpg">
					<figcaption class=" figncaption">C Shridatta Prabhuncha Aajol(Maharishi Kardammunincha Ashram)
						Karanji</figcaption>
				</div>
				<h3>Karanji's 'Shridatta Prabhuncha Aagol'</h3>
				<p>Throughout the middle of Tretayugat Margashirsha Purnima, the son of Maharishi Atri and Mahapativrata
					Sadhvi Anasuya assumed the incarnation of Lord Sridattatreyani. Maharishi Bhrigu is the eldest son
					among the four Manas sons of Brahmadev, the second Maharishi Angiras, the third Maharishi Atri and
					the fourth Maharishi Vaikhanas! Maharishi Atri and Maharishi Angiras are considered to be the place
					of Saptarshimadhehi. Kardammuni and Devahuti's Sukanya, the son of Sri Lakshmi's mother, that is
					Maharishi Atrinchi's wife Mahasadhvi Mata Anasuya! Seeing Atrimuni's knowledge, power of penance and
					quietness, Kardammuni-Devahutihi was pleased with him and got his Anasuya or Saundaryavati-Susheel
					daughter married to Atrimuni. 'Anasuya' means 'without Asuya'! Ashya or the great sati Shree
					Anasuyechan Maher means Shree Datta Prabhuncha Aagol (Maharshi Kardammuni's ashram). Dindori near
					'Karanji' or Gavi, a very picturesque complex of Dandakarna, just across the Nashik-Vani road! On
					the way to Vanikde, Ozharkhed Dam is on the left side and only 3-4 km from the main road on the
					right side is the holy place. Yalach is called 'Nirjal Math' Asanhi. Parashar, Markandeya, Kanva or
					ascetic Maharishi would have had ashrams in this area. 'Siddhaana Kapilo MuniH' is described as
					'Siddhaanaan Kapilo MuniH', because Kapila Muni did not do local penance.</p>
				<p>Shridatta Prabhunchi Padmasan's idol is not found anywhere else and only one idol is found here in
					India. The actual idol of Sridatta Prabhun of Gangamain has been given as Prasad to Sri Shivdayal
					Swami who did penance here. In the center of the temple, in the center of the Devgharat, there is a
					pure white idol of only one height.</p>
				<p>Another surprise here is that all the dogs in the area of Pahayala Mitalan gather at 12 noon at
					Artila Devlachaya's womb and go away after the Aarti.</p>

			</div>
		</section>
	</main>
</body>

</html>