<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name='viewport' content='target-densityDpi=device-dpi' />
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
</head>

<body>
	<main>
		<section class="datta-main-section">
			<दिव>
				<div class='caption caption-img align-left data-img'>
					<img alt='नृसिंहवाड़ी'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/kuravpur_datta_mandeer01_0.jpg">
					<figcaption class="figncaption">श्रीक्षेत्र कुरवपुर - श्रीपद मंदिर महाद्वार</figcaption>
				</div>
				<h3>श्री क्षेत्र कुरवपुर (कुर्गद्दी)</h3>
				<p>पूजा के माध्यम से आध्यात्मिक शक्ति प्राप्त करके, मानव जीवन में अपने कर्तव्यों को पूरा करना और प्राप्त
					करना
					ईश्वर भक्ति का मार्ग है। महाराष्ट्र में दत्त संप्रदाय सबसे अधिक फैला। या इस वजह से,
					महाराष्ट्र में कई प्रसिद्ध दत्तस्थान हैं। दत्त श्री की पूजा के कारण
					नृसिंहसरस्वती, दत्त संप्रदाय का स्वरूप प्राप्त हुआ। श्रीपाद श्रीवल्लभ को माना जाता है
					दत्तात्रेय का पहला अवतार 'कर्वपुर' उनका शाश्वत निवास है।</p>
				<p><strong>'दिगंबर दिगंबर श्रीपाद वल्लभ दिगंबर'</strong></p>
				<p>मंत्र का उच्चारण 'श्री क्षेत्र कुरवपुर' या 'श्री क्षेत्र कुरवपुर' में आंखों के सामने दिखाई देता है
					वह स्थान जहाँ मंत्र की उत्पत्ति हुई, वह प्राचीन स्थान है। तपोभूमि ही मानी जाती है।</p>
				<p>दत्त भक्तन के 'गुरुचरित्र' के अध्याय 5 से 10</strong> या मंत्र ग्रंथ, जो माने जाते हैं
					वेद, प्रथम दत्तावतार के बारे में हैं। भगवान दत्तात्रेय द्वारा सुमति को दिए गए वचन के अनुसार
					और अपलराज, पहला अवतार पूरा करने वाला बच्चा श्रीपादवल्लभ होना चाहिए। श्रीपाद
					श्रीवल्लभ पहली बार सोलह वर्ष की आयु में गोकर्ण महाबलेश्वर गए और तेथून गए
					श्रीशैल पर्वत और वहाँ कुछ समय तक रहे। बाद में कुरावपुर से यहां आ गए। वहां तपस्या करो
					बाईस साल तक, और इस तरह आप आत्मनिरीक्षण कर सकते हैं।</p>
				<p>कुरावपुर क्षेत्र स्वतंत्रता पूर्व निज़ाम राज्य में हुआ करता था। वर्तमान में यह रायचूर जिले में आता है
					कर्नाटक। कुरुगुड्डी या छोटा खेड़्या, कृष्णा नदी के पास, दोनों भागों को प्राकृतिक रूप से अलग कर दिया
					गया है
					और बाद में दोनों भाग एक साथ आ गए हैं। जिन स्थानों पर कृष्ण को दो भागों में बांटा गया है
					'कुर्गुड्डी बेट' कहलाती हैं। यहाँ श्रीपाद श्रीवल्लभांचे का स्थान है। यच बेतावर दग्दंच्य
					गुहेत श्रीपाद श्रीवल्लभ तप करित और या गुहेस्मोरेल मोथाया औदुम्बर वृक्ष रहित अनुष्ठान करित।
					दोनों बेटे मधुकरी मागून के मकान में रह रहे हैं।</p>


				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 योगिनी की पूजा"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/shriMandirKurawarpur.jpg">
					<figcaption class="figncaption">श्रीश्रीपाद मंदिर - कुरवपुर</figcaption>
				</div>
				<p>सुबह उठकर नदी में स्नान करें, सूर्य को प्रणाम करें। जितना अधिक आप
					आसन पर खड़े होकर जितना अधिक आप सूर्य नमस्कार का जाप करते हैं उतनी ही अधिक समय तक आपकी छाया सूर्य पर
					पड़ती है
					पेडस्टल अभी भी स्पष्ट रूप से दिखाई देता है। उसके पंजे खूनी नजर आ रहे हैं। यह कैंपस बेहद खूबसूरत है।
					पादुका, मंदिर, पास के जंगल सब मन को भाने वाले हैं वैसे ही अंतर्मुखी हैं। यह
					कुरवपुर का स्थान कई वर्षों तक अज्ञात रहा होगा; &nbsp;श्री वासुदेवानंद सरस्वती
					तेम्बेस्वामी महाराज, जो श्री गुरु के शोध के लिए आए थे, या उस स्थान पर शोध किया था। कुरावपुर है
					आंध्र और कर्नाटक की सीमा पर रायचूर जिले में हैमलेट। चारी बजुन्नी कृष्णमैच्य
					प्रवाहनी वेधलेले हे बेट आहे। बारिश हो रही है&nbsp;कृष्ण मैच्य पुरमुले और उनहलयत ना सोसना-ओर
					&nbsp;उनके लिए कड़क, यहां जाना दर्दनाक होता। दिसंबर से फरवरी तक तीन महीने,
					यहां रहना सुखद है।</p>
				<p><strong>'अश्विन वद्य वददशी' हा श्रीपाद श्रीवल्लभांच तिरोहित भटायुथा का अर्थ है
						निजानंदगमनाच दिन। इस दिन कुर्वापुर्ला का बड़ा पर्व होता है। </strong></p>
				<p>रायचूर से 29 कि.मी. मीटर पर 'अटकुर' या ग्राम तेथून कुरावपुर जाने के बाद पैदल चलते हैं
					कृष्ण के कथावर के लिए छोटी पैदल दूरी। आटा नवेची सोया झाली आहे दूसरी तरफ जाने के लिए।
					कृष्णा नदी पार करने का अनुभव प्रत्येक मौसम में अलग होता है।</p>
				<p>नदी के जहाज सभी अजस्त्र चट्टानें हैं। ऐसे चार प्रवाहों को मैं एक ही तरह से पार करने वाला हूं। में
					बुरुजांजिक के गांव के कुरवपुर गांव के सामने, पश्चिम के प्रकोष्ठ से, बाएं से
					हाथ, शेतिच्य बांध से, श्रीपाद श्रीवल्लभांच्य मंदिर के पास, पूर्व द्वार के पास। यह
					शर्त साधारण तीन मील लंबी है, तीन फर्लांग इस तरह दौड़ती है और यह कीडे के आकार की होती है। बेतावर हैं
					यात्रा करने के लिए अगले स्थान।</p>
				<h2>श्रीपाद&nbsp;मंदिर</h2>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 योगिनी पूजा"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/ShripadShriwallabh_Paduka-Kurwarpur.jpg">
					<figcaption class="figncaption">श्रीपाद श्रीवल्लभ पादुका - कुरवपुर</figcaption>
				</div>
				<p>श्रींचे&nbsp;मंदिर विशाल है। के भव्य द्वार के दोनों ओर पत्थर की दो शिलाएँ हैं
					मंदिर। इसके बगल में पत्थर की दीवारें हैं। महावदारावर की कमान है। वहां, अगर आप विनम्रता से अंदर जाते
					हैं
					आपके हाथ को छूने के बाद, दो देवियाँ दोनों ओर पहरा दे रही हैं। भव्य अश्वत्थ
					(पिंपल) कडुनीम्ब वृक्ष होने के कारण उन्हें दगड़ी के आर-पार बांध रखा है। दोनों कोप्रियंवर घड़िव दगड़ी
					वृंदावन पराच्य के उत्तर की ओर हैं। या परवर के एक मंदिर में दक्षिण की ओर दो मंदिर हैं
					वहाँ काले शालिग्राम शिलेची मारुचिची रेखिव की मूर्ति दक्षिण की ओर है और दूसरे मंदिर में है
					केशवमूर्ति और शिवलिंग पादुका है। या परसमोरच पूजा का मुख्य स्थान है, फिर श्रीपाद
					श्रीवल्लभ जप-तप-अनुष्ठान करते हैं। यलाच को 'निर्गुण पीठ' कहा जाता है। क्योंकि महाराज स्वयं हैं
					उस स्थान पर अदृश्य, वह अद्वितीय रूप में पादुका नहीं है। इसमें दैवीय अनुभव मिलते हैं
					स्थान। अर्थात इसके लिए तीव्र साधना आवश्यक है।</p>

				<h2>प्राचीन बरगद का पेड़</h2>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 योगिनी की पूजा"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/shripadshriwallabh.jpg">
					<figcaption class="figncaption">श्रीपादश्री वल्लभ मूर्ति - कुरवपुर</figcaption>
				</div>
				<p>श्री श्रीपदवल्लभांची संस्कार जाग्रत: सदर का पेड़ आमतौर पर 900 साल पुराना होता है। वहां एक बड़ा है
					कटोरे में साँप. इस स्थान पर सोलापुर के भक्तों ने श्रीपादवल्लभाची की मूर्ति स्थापित की है
					पादुका।</p>

				<h2>श्री तेम्बेस्वामी गुहा</h2>
				<p>गुफा प्राकृतिक और प्राचीन है। इसी स्थान पर श्री वासुदेवानंद सरस्वती टेम्बेस्वामी ने समापन किया
					1910 में चतुर्थाश्रमीय चातुर्मास। शिव मंदिर का निर्माण किसी स्थान या स्थान पर किया गया है
					जगह।</p>
				<p>या स्थान तेम्बे स्वामी महाराजानी ने हर संकट के लिए घोरक्षतोधरन स्तोत्रची की रचना की।</p>
				<p>महाराज ने यहां तपस्या की थी। इतनी चिंचोली वत आहे। गुफा इतनी ऊंची और चौड़ी है कि एक ही आदमी जा सकता है
					अंदर रहते हैं। फारसी भीड़ और मानवीय स्पर्श ने कुरवापुरा के वातावरण को पवित्रता और पवित्रता से भर
					दिया है
					चेतना। बस इतना ही।</p>
				<p>कुरावपुर (जिला रायचूर) किस क्षेत्र में कृष्णा नदी में स्थित बेतावरों में से एक है?
					कर्नाटक। या क्षेत्रच्य छोहोबजुनि पाणि आहे। अथवा क्षेत्री श्रीपाद वल्लभन्नी 14 वर्ष वास्तविक
					केले। श्री दत्ता अवतारी योगिराज श्री वासुदेवानंद सरस्वती (तेम्बेस्वामी) की दृष्टि थी
					इस स्थान पर दिगंबर दिगंबर श्रीपाद वल्लभ दिगंबर या अथरा अक्षरी मंत्र। इस स्थान पर
					वास्तव में वासुदेवानंद सरस्वती की एक पवित्र गुफा है। श्री&nbsp;पाचलेगांवकर महाराजा श्रीपाद
					इस स्थान पर वल्लभांच का साक्षात्कार हुआ था।</p>
				<p>दत्त उपासक विठ्ठल बाबानी ने पंचदेव पहाड़ या के पास वल्लभपुरम नवचा आश्रम की स्थापना की
					गाँव rajnagar। या फिर आश्रम में रहने और खाने की व्यवस्था है। कार का प्रावधान है
					कुरवपुरला जाने के लिए अपनी कार से या आश्रम के अंदर पार्किंग। वल्लभपुरम या आश्रमत दरबार है
					श्री श्रीपाद वल्लभ स्वामी जी। यह वह जगह है जहां श्रीपाद श्रीवल्लभ स्वामी प्रदर्शन किया करते थे
					सूर्य नमस्कार। उनका लहू आज भी दिखाई देता है।</p>

				<h2>गूलर का पेड़&nbsp;</h2>
				<p>या बेतावर का औदुम्बराचा वृक्ष बहुत ही शोभनीय है। जगह-जगह पाठ करने के लिए पट्‌टा बांधा गया है।
					या उस स्थान पर काम करने वाले पुजारी और उनके परिवार के सदस्य यहां रहने, खाने, पीने आदि सोया के लिए
					आते हैं
					नाममात्र की लागत से किया जाता है। सदर बेतावर के पास और कोई व्यावहारिक साधन नहीं है; पूरी बेट
					तपस्या की भूमि है। जिन्हें श्री गुरुदत्त की सेवा, पाठ, जप, अनुष्ठान मिला है
					पूरे मन से किया। उनके लिए ही स्वर्ग है। परेशानी की जरूरत नहीं है। वक्ता,
					रेडियो, टीवी और व्यत्य नहीं तथ्य एकांतच। किसी स्थान का महत्व सिर्फ गाने से नहीं पता चलता,
					पढ़ना या सुनना। चीनी कितनी मीठी होती है, इसे खाली किए बिना समझ नहीं आता।</p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 योगिनी पूजा"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/Utsav मूर्ति कुरावरपुर.jpg">
					<figcaption class="figncaption">श्रीपाद श्रीवल्लभ पादुका - कुरवपुर</figcaption>
				</div>
				<p>सदर क्षेत्र के कई महात्माओं के यहां आने से काफी पुण्य हुआ है। श्री टेम्बेस्वामी, श्री.
					श्रीधरस्वामी, श्री नानामहाराज तारणेकर, श्री पोखरापुरकर महाराज, श्री गुलवानीमहाराज, श्री.
					कवीश्वर, श्री ममदेशपांडे, &nbsp;ई. तपस्वी लोग या स्थान अपने गंतव्य पर पहुंच गए हैं।</p>
				<p>यतील कृष्णा नदी के विशाल बेसिन में कई चट्टानें हैं। ऐसा प्रतीत होता है कि ऋषियों के
					पूरब ध्यान कर रहे हैं और यहां एक शिला के आकार में बस गए हैं। आपका एक रिवाज है। देवदर्शन
					बिना हाथ-पैर धोए लेना चाहिए। बिना पैर धोए आप मंदिर में प्रवेश नहीं कर सकते
					मंदिर। यहां सारा संसार भूल जाता है जब आप कृष्णा नदी के पात्र पर कदम रखते हैं, तो आप केवल देख सकते
					हैं
					श्रीपाद मंदिर।&nbsp;</p>
				<h2>श्री गुरुचरित्रतिल कुरवपुर महात्म्य</h2>
				<p>श्री गुरुचरित्राचार्य 10 वें अध्याय को कुरवपुरला जाने के दौरान वटेट चोरानी एडून द्वारा मारा गया था
					अपने प्रिय शिष्य नवस को खिलाओ। तभी वहां श्रीपाद श्रीवल्लभ की रक्षा के लिए प्रकट हुए
					उनके भक्तों ने उनके अवतार के बाद और उनके शिष्य वल्लभशाला को जीवित कर दिया। ऐसी है कहानी
					श्रीपाद श्रीवल्लभ और उनके समर्पित भक्त वल्लभेश या गुरु-शिष्य। वह स्थान जहाँ
					घटना मन्थनगढ़ की है। यह इलाका कुरावपुर से 30 किलोमीटर दूर है। आज है
					उस स्थान पर श्रीपाद श्रीवल्लभांचे मंदिर।</p>

				<h3>श्रीपाद श्रीवल्लभ और उनके
					<p>सिद्धयोग के शब्दों को सुनकर, नामधर ने उनसे पूछा, "कौरवपुरा में किस प्रकार की महानता थी? आपने
						महंत, श्रीपाद श्रीवल्लभ कोठे पर नहीं गए हैं। वे कुरवपुरात में रह गए हैं
						उनका सूक्ष्म रूप। लेकिन&nbsp;वह आगे बताते हैं कि श्री दत्तात्रेय के कई अवतार हुए हैं
						हुआ, नामधारन ने ऐसा कैसे किया?" सोचते-सोचते सिद्ध ने कहा, "अरे, श्री का माहात्म्य
						गुरु, तुम क्या सोच रहे हो? यह शब्दों से परे है। भगवान विष्णु क्षीर सागर में हैं। अभी भी आप
						जानते हैं कि उन्होंने कल्याण के लिए भूतों के रूप में कई अवतार लिए हैं? श्रीदत्तत्रेय, कि
						सृष्टि के रूप में शाश्वत है, एक स्थान पर रहता है और हर जगह अवतार लेता है। कोई जाति नहीं।
						गुरु अपने भक्तों की परीक्षा लेते हैं। जो सच्चे भक्त होते हैं, वे कभी उपेक्षा नहीं करते, भक्त
						बाजों को मारने के लिए दौड़ पड़ते हैं
						उसके लिए। मैं आपको एक कहानी सुनाता हूँ कि श्रीगुरु कैसे भक्त हैं, कैसे प्रकट होते हैं
						भक्त।</p>

					<div role="group" class="caption caption-img align-left data-img">
						<img alt="64 योगिनी की पूजा"
							src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/gurucharitra-10_0.jpg">
						<figcaption class="figncaption">गुरुचरित्र अध्याय 10 में संकट-निवारक प्रसंग
							</अंजीर केप्शन>
					</div>
					<p>पूर्वी कश्यप गोत्रचा के वल्लभेश नवचा ब्राह्मण रहे होंगे। तो वह होता
						अत्यंत गुणी, शिष्ट। इसलिए हर साल कुरवपुरा रोजाना यहां दर्शन के लिए आते हैं
						श्री गुरु। वह श्री गुरु के प्रति अत्यधिक श्रद्धा और भक्ति रखेगा। एक बार जाते समय
						व्यापार, उन्होंने एक नवस बनाया, "जाट व्यवसाय अच्छा लाभ, और मैं जैनियों को भोजन दूंगा और एक
						कुरवपुर यात्रा में हजार ब्राह्मण।" इस दृढ़ संकल्प के साथ, मनोमन व्यवसाय में चला गया
						श्री गुरु का स्मरण उन्होंने जहां भी व्यापार किया, उन्हें उस स्थान पर शत प्रतिशत लाभ हुआ।
						वह बहुत खुश है। सो व्यापार से प्राप्त धन लेकर कुरवपुरा में जाप करता हुआ चला गया
						श्री गुरु का नाम यह जानकर कि वह एक चोर है, उन्होंने उसे लूटने का निश्चय किया। उन चोरों ने कपड़े
						पहने
						एक बहुत ही सभ्य व्यक्ति के वेश में, 'हम श्रीपादायतिन के दर्शन करने जा रहे हैं'। मैरून शुरू हो
						गया
						उसके साथ इस तरह जा रहा है। येन्यापुरविच रात्रीचयवेली था चोरानी था वल्लभेश के पास कुरवपुरा
						ब्रह्मनाच का सिर काटकर लाएं, द्रव्य लुबाडले।</p>
					<p>त्याचाक्षानी भक्त कैवारी, कुरवपुर निवासी श्रीगुरु श्रीपाद ढिप्पड़ सामने प्रकट हुए
						एक हाथ में त्रिशूल और दूसरे हाथ में तलवार लिए चोर। उसने चोरों को अपने साथ मार डाला
						त्रिशूल। लेकिन श्रीगुरु श्रीपदना रथचक्षिणी, उनमें से एक चोर होती। उसके बाद आया
						उसके सामने और हाथ जोड़कर कहा, "हे कृपा के भगवान, जगन्नाथ, मैं निर्दोष हूं। मेरे पास नहीं था
						मेरे साथ किसी असेल या ब्राह्मण को मारने का विचार, मैं केवल उनके साथ यात्रा करूंगा। आप सर्वज्ञ
						हैं।
						आप मेरी अंतरात्मा को समझते हैं।" </p>

					<div role="group" class="caption caption-img align-left data-img">
						<img alt="64 योगिनी पूजा"
							src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/Kurwarpur_sohala.jpg">
						<figcaption class="figncaption">श्रीपाद श्रीवल्लभ पालखी सोहला, कुरवपुर</figcaption>
					</div>
					<p>बोलाविल के पास श्रीपदायतिन्नी त्याला को सुनना। उन्होंने विभूति को हाथ में देते हुए कहा, "हाय
						विभूति या
						मृत ब्राह्मणवर तक।" मग त्या ब्राह्मण का सिर उसके सिर से जुड़ा हुआ है और मंत्र के रूप में, सर्व
						अंगवार विभूति लवली। उसी क्षण ब्राह्मण जीवित हो उठा और उसे टुकड़े-टुकड़े दिखाई देने लगे।
						इस बीच सूरज उग आया। श्रीपदयती अचानक गायब हो गईं। तो एक ही होता
						सह आप्रवासी। अन्य शव वहीं पड़े होंगे। इन भूतों को देखकर वल्लभेश ब्राह्मण
						पूछा, "या इंसानों को कौन मारेगा?" इस पर सहयात्री ने कहा, ''अरे सब चोर हैं
						तुम्हें मार देता और तुम्हारे पास के पैसे लूट लेता। लेकिन साथ ही, एक तेजतर्रार अच्छा इंसान
						यहाँ आए थे।&nbsp;वे जट्टाधारी में हुआ करते थे। चोरंचा मारा गया।&nbsp;मैंने उनकी शरण ली।
						उन्होंने आपके शरीर पर विभूति लगाकर आपको जीवित कर दिया, मंत्र के रूप में आप तुरंत गायब हो गए।
						उन्होंने आपकी रक्षा की। भगवान शंकर को तुम्हें माला पहनानी चाहिए थी&nbsp; वल्लभेश ब्राह्मण ही है
						एक। यदि उसके पास धन होता तो वह चोरों के निकट होता। यह देखकर वह मिल गया
						राज़ी। फिर वह सारा धन लेकर कुरवपुरा चला गया। उन्होंने श्री गुरुजी की भावपूर्ण वंदना की।
						फिर उन्होंने एक हजार ब्राह्मणों को भोजन कराया। उसने अपना नवस पूरा किया।</p>
					<p>कई भक्त कुरवपुरा आते हैं और श्रीपाद श्रीवल्लभन के चरणपादुकांची की पूजा करते हैं
						स्नेह। श्री गुरु कुरवपुरात अव्यक्त रूप में रहकर अपने भक्तों की रक्षा करते रहते हैं। सिद्धयोगी
						नामधरकला ने कहा। श्रीपाद श्रीवल्लभांचे महात्म्य ऐसे आहे कुरवपुराचे में और हैं
						अदृश्य रूप। इसके बाद आपने श्री नृसिंह सरस्वती के रूप में अवतार लिया और अपनी विलक्षणता दिखाई
						चरित्र।" सरस्वती गंगाधर संहतत। श्रोता! आटा श्री गुरु की अगली चरित्र कहानी
						सावधानी से। इसलिए सभी मनोकामनाएं पूरी होंगी।"</p>
					</p>
					<p>पूर्वी कुरवपुर में, त्यखली गुहे में देवलत वरति शिवपिंड और श्रृंख्य पादुका हुआ करते थे।
						ब्राह्मण वर ने जाकर शीघ्रता से दर्शन किए, पर वहां रुद्राभिषेक होने के कारण मैं जा सका
						तारीख पर मत जाओ। सबकी निगाहें पादुकाओं पर टिकी थीं। जैसे ही देरी शुरू हुई, वल्लभेश
						घायल हो गया। विरह हृदयात सोस्वेना झाला।&nbsp; मुझे क्या करना चाहिए भगवान?&nbsp;आशी स्थिति
						हुआ!</p>
					<p>अचानक उसके सामने की दीवार पारदर्शी दिखने लगी। खाली श्रीपादुका दिसल्य और दाना
						साक्षात श्रीपाद श्रीवल्लभ स्वयंभू प्रतीत हुए !!</p>
					<p>&nbsp;स्वामी का रूप वर्णन से परे है! तेजपुंज गौरवर्ण, त्यावरिल का रेशमी केसर का कफन प्रयोग किया
						जाता है
						प्रकाश को प्रतिबिंबित करने के लिए। गलायत रुद्रमाला शोभत &nbsp;होत्या। कर्णकुंडलेही
						रुद्राक्षंचिच।
						जटाभर सिर लुढ़कने लगा। इसलिए रुद्रमाले परिणय सूत्र में बंध गए। कुबदीवर ने विश्राम किया
						करकमलमधे जपमल चलते थे। दूसरे हैं अभय पर्यवेक्षक। बस सुंदर
						नासिक। मुस्कान से अलग पतले होंठ। इसमें से डोकवनरी सफेद साधारण दांत की रेखा है। त्रिभुवनचे का
						प्रेम ओसंडून वाहनारे अति आश्वस्त अर्ध-समेकित नेत्र कमल.. विभूति और त्रिपुंडरा
						माथे की शोभा। ऐसे स्वामी पद्मासन में स्थित होते। हमारे सामने,
						तकदीर वाले सर्विस करते थे। कोई चावरिया ढाला होता। और आश्चर्यजनक रूप से, में
						त्योहारों, श्री सावेला, तस्कर जो श्रीनच्यच से स्थानांतरित करने में सक्षम थे, के लिए खड़े थे
						कुछ समय!</p>
					<p>यहां गुरु के किरदार का सूत्रधार एक पल के लिए कहता है, 'विसंबून...'
					<p>आर.एस.संघ के संस्थापक पु. डॉ &nbsp;डॉ. केशव बलिराम हेडगेवार के वंशज, कुछ पीढ़ी पहले,
						'वल्लभेश'&nbsp;नवाचा दत्तगुरु का परम भक्त चला गया! संगीत के पैमाने का पाँचवाँ स्वर। पीयू
						हेडगेवार एक भक्त रहे होंगे।</p>
					<p>आशारिटाइन में श्री गुरुचरित्रमृत में 'कुरुवपुरक्षेत्र महिमा' नाम का दसवां अध्याय है।</p>
					<div role="group" class="caption caption-img align-left data-img">
						<img alt="64 योगिनियां पूजा कर रही हैं"
							src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/shripadShivallabhDevasthan.jpg">
						<figcaption class="figncaption">श्रीपाद श्रीवल्लभ श्रीक्षेत्र कुरवपुर</figcaption>
					</div>
					</div>
		</section>
	</main>
</body>

</html>