<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name='viewport' content='target-densityDpi=device-dpi' />
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
</head>

<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left data-img'>
					<img alt='Nrisihwadi '
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/kuravpur_datta_mandeer01_0.jpg">
					<figcaption class="figncaption">Shrishrikshetra Kuravpur - Shripad Temple Mahadwar</figcaption>
				</div>
				<h3>Sri Kshetra Kuravpur (Kurgaddi)</h3>
				<p>By attaining spiritual strength through worship, fulfilling one's duties in human life and attaining
					God is the path of worship. In Maharashtra, the Datta sect spread the most. Or because of this,
					there are many famous Dattasthanas in Maharashtra. Due to the worship of Datta Shri
					Nrisinghasaraswati, the form of the Datta sect was attained. Shripad Shrivallabh is considered to be
					the first incarnation of Dattatreya. 'Kurvpur' is his eternal abode.</p>
				<p><strong>‘Digambara Digambara Shripad Vallabh Digambara’</strong></p>
				<p>The pronunciation of the mantra is visible in front of the eye at 'Shri Kshetra Kuravpur' or the
					place where the mantra originated, that is the ancient place. Only Tapobhoomi is considered.</p>
				<p>Adhyay 5 to 10 of Datta Bhaktana's 'Gurucharitra'</strong> or mantra texts, which are considered
					Vedas, are about the first Dattavatar. According to the promise given by Lord Dattatreya to Sumati
					and Apalraj, the child who completes the first incarnation should be Shripadvallabh. Shripad
					Shrivallabh first went to Gokarna Mahabaleshwarla at the age of sixteen and went to Tethoon
					Shrishail mountain and lived there for some time. Later came here from Kuravpur. Do penance there
					for twenty-two years, and thus you can get introspection.</p>
				<p>Kuravpur area used to be in pre-independence Nizam state. Presently it comes in Raichur district of
					Karnataka. Kuruguddi or Chhoti Khedya, near Krishna river, both parts have been naturally separated
					and later both parts have come together. The places where Krishna has been divided into two parts
					are called 'Kurguddi Bet'. Here is the place of Shripad Shrivallabhanche. Yach Betavar Dagdanchya
					Guhet Shripad Shrivallabh penance Karit and or Guhesmorel Mothaya Audumbar treeless ritual Karit.
					Both of the sons are living in the house of Madhukari Magoon.</p>


				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 yogini worshiping"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/shriMandirKurawarpur.jpg">
					<figcaption class="figncaption">Shrishripada Temple - Kuravpur</figcaption>
				</div>
				<p>When you wake up in the morning, take a bath in the river, you will bow to the sun. The more you
					stand on the pedestal, the more you chant Surya Namaskar and the more time your shadow falls on the
					pedestal is still clearly visible. His claws are seen as bloody. This campus is very beautiful.
					Paduka, temple, nearby forest are all pleasing to the mind, similarly they are introverts. This
					place of Kuravpur would have been unknown for many years; &nbsp;Shri Vasudevanandasaraswati
					Tembeswami Maharaj, who came for the research of Sri Guru, or researched the place. Kuravpur is a
					hamlet in Raichur district on the border of Andhra and Karnataka. Chari bajunni krishnamaichya
					pravahni vedhlele he bet aahe. It is raining&nbsp;Krishna Maichya Puramule and Unhalyat Na Sosna-or
					&nbsp;Kadak for them, it would have been painful to go here. Three months from December to February,
					stay here is pleasant.</p>
				<p><strong>'Ashwin Vadya Vdadashi' Ha Shripad Shrivallabhancha Tirohit bhatayutha means
						Nijanandagamanacha day. On this day there is a big festival of Kurvapurla. </strong></p>
				<p>29 kms from Raichur. After going to 'Atkur' or village Tethoon Kuravpur on the meter, they walk a
					short walk to Krishna's Kathavar. Aata navechi soya jhali aahe to go to the other side. The
					experience of crossing Krishna river is different in each season.</p>
				<p>The river vessels are all Ajastra rocks. I am going to cross one such four flow in a single way. In
					front of the Kuravpur village of Burujanjik's village, from the vestibule of the west, from the left
					hand, from the Shetichya dam, near the Shripad Shrivallabhanchya temple, near the east door. This
					bet is simple three miles long, three furlongs rund like this and it is worm shaped. Betawar are the
					next places to visit.</p>
				<h2>Shripad&nbsp;Temple</h2>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 Yogini worshiping"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/ShripadShriwallabh_Paduka-Kurwarpur.jpg">
					<figcaption class="figncaption">Shripad Shrivallabh Paduka - Kuravpur</figcaption>
				</div>
				<p>Srinche&nbsp;The temple is spacious. There are two stone slabs on both sides of the grand gate of the
					temple. There are stone walls next to it. Mahavdaravar is in command. There, if you go in humbly
					after touching your hand, there are two goddesses standing guard on both sides. The grand Ashwattha
					(Pimple), being a Kadunimb tree, has tied them across the dagdi. Both Kopriyanvar Ghadiv Dagdi
					Vrindavane are on the north side of Parachya. Ya Paravar has two temples facing south, in one temple
					there is black Shaligram Shilechi Marutichi Rekhiv idol facing south and in the other temple there
					is Keshavmurti and Shivling Paduka. Or Parasmorach is the main place of worship, then Shripad
					Shrivallabh does japa-tapa-rituals. Yalach is called 'Nirgun Peeth'. Because Maharaj himself is
					invisible at that place, he is not Paduka in a unique form. Divine experiences are found in this
					place. That means, for this, intense spiritual practice is necessary.</p>

				<h2>Ancient banyan tree</h2>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 yogini worshiping"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/shripadshriwallabh.jpg">
					<figcaption class="figncaption">Shripadashree Vallabh Murti - Kuravpur</figcaption>
				</div>
				<p>Shri Shripadvallabhanchi Rituals Awakened: Sadar tree is generally 900 years old. There is a big
					snake in the bowl. At this place, the devotees of Solapur have installed Shripadvallabhachi idol and
					paduka.</p>

				<h2>Mr Tembeswamy Guha</h2>
				<p>The cave is natural and ancient. In this place Shri Vasudevanand Saraswati Tembeswami concluded
					Chaturthashramiya Chaturmas in 1910. Shiv Mandir has been constructed by constructing a place or
					place.</p>
				<p>Ya place Tembe Swami Maharajani composed Ghorakshtodharan stotrachi for every crisis.</p>
				<p>Maharaj did penance here. Itna chincholi wat aahe. The cave is so high and wide that only one man can
					live inside. Persian crowd and human touch have filled the atmosphere of Kurvapura with a purity and
					consciousness. That's it.</p>
				<p>Kuravpur (Dist. Raichur) is one of the Betavars situated in the Krishna river in the region of
					Karnataka. Ya kshetrachya chohobajuni pani ahe. Or Kshetri Shripad Vallabhanni 14 years of real
					bananas. Shri Datta Avatari Yogiraj Shri Vasudevanand Saraswati (Tembeswami) had a vision of
					Digambara Digambara Shripad Vallabh Digambara or Athara Akshari Mantra at this place. At this place
					there is actually a sacred cave of Vasudevanand Saraswati. Shri&nbsp;Pachalegaonkar Maharaja Shripad
					Vallabhancha was interviewed at this place.</p>
				<p>Datta worshiper Vitthal Babani established Vallabhapuram Navacha Ashram near Panchdev Pahad or
					village. Or there is a system of residence and food in the ashram. There is a provision for car
					parking to go to Kuravpurla by own car or inside the ashram. Vallabhapuram or Ashramat is the court
					of Shri Shripad Vallabh Swamin. This is the place where Shripad Shrivallabh Swami used to perform
					Suryanamaskar. His blood is still visible today.</p>

				<h2>Audumbar tree&nbsp;</h2>
				<p>Or the Audumbaracha tree of Betavar is very graceful. A belt has been tied for reciting at the place.
					Or the priests working in the place and their family members come here to stay, eat, drink etc. Soy
					is done with a nominal cost. Sadar Betawar does not have any other practical means; the entire Bet
					is a land of penance. Those who have got Shri Gurudatta's service, recitation, chanting, rituals
					done with all their heart. It is for them only that there is heaven. No need of trouble. Speaker,
					radio, TV va vyatya nahi fakt ekantach. No one knows the importance of a place just by singing,
					reading or listening. How sweet the sugar is, it is not understood without emptying it.</p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 yogini worship "
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/Utsav Murti Kurawarpur.jpg">
					<figcaption class="figncaption">Shripad Shrivallabh Paduka - Kuravpur</figcaption>
				</div>
				<p>Many Mahatmas of Sadar area have become very auspicious by coming here. Mr. Tembeswamy, Mr.
					Sridharaswami, Mr. Nanamaharaj Taranekar, Mr. Pokharapurkar Maharaj, Mr. Gulvanimaharaj, Mr.
					Kavishwar, Mr. Mamadeshpande, &nbsp;E. Ascetic people or places have reached their destination.</p>
				<p>There are many rocks in the vast basin of the Yatheel Krishna river. It seems that the sages of the
					East are meditating and have settled here in the shape of a rock. You have a custom. Devdarshan
					should be taken without washing hands and feet. Without washing your feet, you cannot enter the
					temple. Here the whole world forgets when you step on the vessel of river Krishna, you can see only
					Shripad temple.&nbsp;</p>
				<h2>Sri Gurucharitratil Kuravpur Mahatmya</h2>
				<p>Shri Gurucharitrachaya 10th chapter was killed by Watet Chorani Adwoon while going to Kuravpurla to
					feed his beloved disciple Navas. That's why Shripad Shrivallabh appeared there for the protection of
					his devotees after his incarnation and brought alive his disciple Vallabheshala. Such is the story
					of Shripad Shrivallabh and his devoted devotee Vallabhesh or Guru-disciple. The place where the
					incident happened is Manthangad. This area is 30 kilometers away from Kuravpur. Today there is
					Shripad Shrivallabhanche temple at that place.</p>

				<h3>Shripad Shrivallabh and his
					<p>Hearing Siddhyoga's words, Namdhar asked him, "What kind of greatness did Kuravpura have? Aapne
						mahanta, Shripad Shrivallabh has not gone to the brothel. Those Kurvpurats have remained in
						their subtle form. But&nbsp;He further tells that Shri Dattatreya's many incarnations have
						happened, how did Namdharan do this?" When thinking, Siddha said, "Hey, the greatness of Shri
						Guru, what are you thinking? It is beyond words. Lord Vishnu is in the ocean of milk. Still, you
						know that he has taken many incarnations as ghosts for the sake of welfare? Sridattatreya, who
						is eternal in the form of creation, remains in one place and incarnates everywhere. No caste.
						Guru tests his devotees. Those who are true devotees, Never ignores Devotees rush to kill hawks
						for him. I will tell you a story about how Shriguru is a devotee, how he appears for the
						devotee.</p>

					<div role="group" class="caption caption-img align-left data-img">
						<img alt="64 yogini worshiping"
							src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/gurucharitra-10_0.jpg">
						<figcaption class="figncaption">The crisis-relieving episode in Gurucharitra Chapter 10
						</figcaption>
					</div>
					<p>Vallabhesh Navacha of Eastern Kashyap Gotracha would have been a Brahmin. So he would have been
						extremely virtuous, well-mannered. So every year, Kuravpuras come here daily for the darshan of
						Shri Guru. He would have utmost devotion and devotion towards Shri Guru. Once, while going for
						business, he made a Navas, "Jat business good profit, and I will give food to Jains and a
						thousand Brahmins in Kuravpur Yatra." With this determination, Manoman went to business
						remembering Shri Guru. Wherever he did business, he got a hundred percent profit at that place.
						He was very happy. So took the money received from the trade and went to Kuravpuras chanting the
						name of Shri Guru. Realizing that he was a thief, they decided to rob him. Those thieves dressed
						in the clothes of a very civilized person, 'We are going to visit Shripadayatin'. Maroon started
						going with him like this. Kuravpura near Yenyapurvich Ratrichayaveli tha Chorani tha Vallabhesh
						Brahmnacha beheading karoon aayeke che dravya lubadale.</p>
					<p>Tyachakshani devotee Kaiwari, Kuravpur resident Shriguru Shripad Dhippad appeared in front of the
						thieves with a trishul in one hand and a sword in the other hand. He killed the thieves with his
						trident. But Shriguru Shripadana Rathachakshini, one of them would have been a thief. Then came
						before him and folded his hands and said, "O Lord of grace, Jagannath, I am innocent. I had no
						idea of killing an Asel or a Brahmin with me, I would only travel with them. You are omniscient.
						You understand my conscience." </p>

					<div role="group" class="caption caption-img align-left data-img">
						<img alt="64 Yogini worshiping"
							src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/Kurwarpur_sohala.jpg">
						<figcaption class="figncaption">Shripad Shrivallabh Palkhi Sohla, Kuravpur</figcaption>
					</div>
					<p>Hearing Shripadayatinni Tyala near Bolaville. Giving Vibhuti in his hand, he said, "Hi Vibhuti or
						the dead Brahmanvar Tak." Mag tya brahmin's head is attached to his head and as a mantra, Sarva
						Angavar Vibhuti Lavli. At the same moment the Brahmin came alive and started seeing pieces.
						Meanwhile the sun rose. Shripadayati suddenly disappeared. So there would have been only one
						co-immigrant. Other bodies would have been lying there. Seeing these ghosts, Vallabhesh Brahmin
						asked, "Or who will kill the humans?" On this, the co-traveler said, "O all are thieves. They
						would have killed you and looted the money near you. But at the same time, a dashing good man
						came here.&nbsp;They used to be in jattadhari. Chorancha was killed.&nbsp;I took refuge in them.
						They made you alive by applying Vibhuti on your body, as a mantra, you disappeared immediately.
						They protected you. Lord Shankar should have garlanded you&nbsp; Vallabhesh Brahmin is the only
						one. If there was wealth with him, he would have been close to thieves. Seeing this, he got
						convinced. Then he went to Kuravpuras with all the money. He worshiped Shri Guruji passionately.
						Then he fed food to one thousand Brahmins. He made his Navas complete.</p>
					<p>Many devotees come to Kuravpuras and worship Shripad Shrivallabhan's Charanpadukanchi with
						affection. Shri Guru Kuravpurat keeps protecting his devotees by being invyakt form. Siddhayogi
						Namdharkala said. Shripad Shrivallabhanche Mahatmya&nbsp;Ase aahe in Kuravpurache and there are
						invisible forms. After this, you incarnated as Shri Nrusingh Saraswati and showed your unique
						character." Saraswati Gangadhar Sanhatat." Listener! Aata Shri Guru's next character story
						carefully. That's why all wishes will be fulfilled."</p>
					</p>
					<p>In East Kuravpur, there used to be Devlat Varati Shivpind and Shrinkhya Paduka in Tyakhali Guhe.
						Brahmin bridegroom went and took darshan quickly, but due to Rudrabhishek started there, I could
						not go to date. Everyone's eyes were fixed on the padukas. As the delay started, Vallabhesh
						became injured. Virah Hrudayat Sosvena Jhala.&nbsp; What should I do God?&nbsp;Ashi situation
						happened!</p>
					<p>Suddenly the wall in front of him started to appear transparent. Empty Shripaduka Dislya and Mage
						Sakshat Shripad Shrivallabh appeared to be self-substitute!!</p>
					<p>&nbsp;Swami's form is beyond description! Tejpunj Gaurvarn, Tyavril's silky saffron shroud used
						to reflect the light. Galyat Rudramala Shobhat &nbsp;Hotya. Karnakundalehi Rudrakshanchich.
						Jatabhar head started rolling. That's why Rudramale tied the knot. Kubdeevar rested in
						Karakamalamadhe Japamal used to move. The second one is Abhay Pradarshak. Simply beautiful
						Nashik. Smile-separated thin lips. Dokavanari white simple teeth line from it. Tribhuvanache's
						love Osandoon Vahanare very reassuring semi-consolidated eye lotus.. Vibhuti and Tripundra
						adorning the forehead. Such Swami would have been situated in Padmasan. In front of us, the
						fortunate ones used to do service. Some chavarya would have been molded. And surprisingly, in
						the festivals, Mr. Savela, the smuggler who was able to move from Srinchyach, used to stand for
						some time!</p>
					<p>Here, the narrator of Guru's character says for a moment, 'Visamboon...'
					<p>R.S.Sangha founder Pu. Dr. &nbsp;Dr. Keshav Baliram Hedgewar's descendants, some generations ago,
						'Vallabhesh'&nbsp;Nawacha Dattaguru's best devotee went away! Fifth note of musical scale. Pu
						Hedgewar would have been a devotee.</p>
					<p>Ashaaritine has the tenth chapter named 'Kuravpurakshetra Mahima' in Shri Gurucharitramrita.</p>
					<div role="group" class="caption caption-img align-left data-img">
						<img alt="64 yoginis worshiping"
							src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kuravpur/shripadShrivallabhDevasthan.jpg">
						<figcaption class="figncaption">Shripad Shrivallabh Shrikshetra Kuravpur</figcaption>
					</div>
			</div>
		</section>
	</main>
</body>

</html>