<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="target-densityDpi=device-dpi, width=device-width, height=device-height, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
</head>

<body>
	<main>
		<section class="datta-main-section">
			<दिव>
				<div class='caption caption-img align-left data-img'>
					<img alt='श्री दत्त मंदिर, मानगांव'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Mangoan/mangaon01.jpg">
					<figcaption class="figncaption">श्री दत्त मंदिर, मानगांव </figcaption>
				</div>
				<h3>श्री क्षेत्र मानगांव&nbsp;</h3>
				<p>श्री क्षेत्र मानगांव सिंधुदुर्ग जिले के कुडाल से 14 किमी दूर है। श्री दत्तात्रेय प्रात:काल
					यादगार चौथे अवतार श्री वासुदेवानंद सरस्वती टेम्बे स्वामींची जन्मभूमि। याभूमि ने दिया
					आप दो अच्छे आदमी जैसे श्री टेम्बे स्वामी महाराज और उनके भाई सीताराम स्वामी। सदर गांव बहुत है
					छोटी और पानी से भरी भूमि। </p>
				<p>वेदों के धनी चिरंजीव गणेश भट्ट और उनकी सुशील पत्नी रमाबाई का विवाह
					मनगंवी राहत असताना गणेश भट्ट ने गंगापुरी जाकर 12 दिनों तक अपने प्रिय दत्तात्रेय की सेवा की
					वर्षों। एक शुभ दिन, दत्तात्रेय का साक्षात्कार हुआ और महाराज ने कहा, 'हम खुश हैं,
					हम आयेंगे, आगे गृहस्थाश्रम चलायेंगे। आमिच आप्या घरि पुत्र रूपाने जनम्स येउ'।
					सदर साक्षात्कार और संभवामी युगे युगे श्रवण क्र.5, ई.एस. 1854 में,
					उन्हें पुत्र रत्न प्राप्त हुआ। उनकी नाव का नाम वासुदेव रखा गया। द्वितीय वर्ष से निजी शिक्षा प्रारंभ
					हुई।
					5 वर्ष की आयु में हरिभट्ट से धार्मिक शिक्षा लेना प्रारंभ किया। मोजीबंधन का 8वां साल।
					12 वर्ष की आयु में, उन्होंने ऋग्वेद संहिता का अध्ययन किया और दशाग्रंथी वासुदेव भाटजी के रूप में जाने
					गए। अलीला
					पिता से दत्तभक्ति की विरासत आगे चलकर नृसिंहवादित और वास्तविकता में उनके आने का कारण बनी
					बढ़ा हुआ। इसलिए उन्हें नरसिंह सारस्वत की कृपा प्राप्त हुई और अनुमति मिल गई। आपको जाना चाहिये
					मंगवी और दत्त मंदिर की स्थापना करें। नरसिंहवाडीहूं मंगवी जाति अष्ट मार्गट कागल एक मूर्तिकार से मिला
					और आपको एक दत्तमूर्ति देने की इच्छा व्यक्त की। वासुदेव भाटजी ने कहा कि मेरे पास पैसा नहीं है,
					लेकिन मैंने उनसे सवकश हप्त्याहप्त्याने की उम्र के अनुसार पैसे देने को कहा और वासुदेव भाटजी पहुंचे
					मूर्ति के साथ मंगलवी। के दृष्टांत की जानकारी पाकर सभी बहुत खुश हुए
					गाँव। मनगांव निवासी एक वृद्ध महिला के सपने के अनुसार झाला उसे दान कर दे
					भूमि, उसने वह भूमि वासुदेव भटजिन को दान कर दी।</p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="श्री वासुदेवानंद सरस्वती तेम्बेस्वामी"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Mangoan/tembeswami_0.jpg">
					<figcaption class="figncaption">श्री वासुदेवानंद सरस्वती तेम्बेस्वामी </figcaption>
				</div>
				<p>पी. पू टेम्बेस्वामियों ने स्वयं छोटेखानी में दत्त मंदिर का निर्माण किसकी सहायता से किया था
					ग्रामीणों और उसी मौजूदा दत्ता मंदिर में दत्ता की मूर्ति स्थापित की। बाद के काल में,
					ट्रस्ट द्वारा धीरे-धीरे सदर मंदिर के जीर्णोद्धार का कार्य किया गया है. 1-1 ऐसी लकड़ी हैं
					मंदिर के प्रदर्शन पथ के दोनों ओर खंभे हैं, जिन्हें स्वामी महाराजाणी ने बनवाया था। उसके
					स्पर्श मात्र से हर प्रकार की बाधा दूर हो जाती है। आज श्री वासुदेवानंद सरस्वती की मूर्ति की गई है
					उस मंदिर में रख दिया। यहां संस्था के माध्यम से श्रद्धालु अभिषेक में शामिल होते थे।
					धन दान करके पालकी, भोजन दान और नवीनीकरण या इसी तरह की सेवाएं। श्री स्वामी के अनुसार
					महाराजाणी दत्तात्जे, मंदिर की स्थापना के 7 साल बाद, मानगांव, परत छोड़ने के बाद
					मैंगाँव कभी नहीं आया।</p>
				<p>या मंदिर के सामने प्राचीन काल का यक्षिणी मंदिर है। यक्षिणी महात्म्य या ग्रन्थ
					यहां श्री वासुदेव के जन्म को पूरा करने के लिए महाराजाणी दिलेले अभिवचन मंगवी झाला। यह यक्षिणी
					मंदिर सबसे जागृत स्थान है।</p>
				<p>यक्षिणी मंदिर के दाईं ओर श्री स्वामी महाराज का जन्मस्थान है। श्री का मंदिर
					पूर्वी भाग के जीर्णोद्धार के बाद यहां स्वामींचे का निर्माण किया गया है। एक पूर्ण मूर्ति (लगभग 5-5
					उस स्थान पर वासुदेवानंद सरस्वती स्वामी महाराज की प्रतिमा बनाई गई है। छप्पर अहिल्यादेवी
					होल्कर ने स्वामी के पदचिन्हों पर सभी योग चिन्हित पादुकाओं की स्थापना की है। वह वहीं होगा
					हमेशा की तरह पूजा की। स्वामी की मूर्ति के गले में हरत श्लोक लिखे हुए थे, जबकि श्री दीक्षित स्वामी के
					नृसिंहवाड़ी ने उन्हें लिखा था। जन्मभूमि की सबसे पवित्र वास्तुकला बहुत ही सुंदर है।</p>

				<div role="group" class="caption caption-img align-left data-img">
					<img alt="वासुदेवानंद सरस्वतीची ध्यान गुफा"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Mangoan/dhyanGumpha_mangaon.jpg">
					<figcaption class="figncaption">वासुदेवानंद सरस्वती की ध्यान गुफा</figcaption>
				</div>
				<h3>एकाग्रता गुहा</h3>
				<p>श्रीछाया मंदिर से 15-20 मिनट की दूरी पर, घने पेड़ों को पार करने के बाद,
					श्री वासुदेवानंद सरस्वती की ध्यान गुफा। या श्री स्वामी महाराजाणी दत्तमहाराजन को प्रसन्न करें
					स्थान पर ध्यान करने से। मुंबई के सिद्ध पुरुष श्री सदानंद तटके उर्फ आनंदस्वामी ने लिया है
					गुफा तक कदम। गुहा दो पत्थरों के बीच की गुहा है। यह साधारण आकार 15 की एक प्राकृतिक गुफा है
					X 15 और अंदर वासुदेवानंद सरस्वती की एक छोटी मूर्ति है। यहां 24 घंटे पनाती तेवत रहता है
					और वहां भक्तों को महान अनुभव प्राप्त होते हैं। उच्च गुणवत्ता वाले कंपन महसूस होते हैं। सच महसूस करो
					मन की शांति का अनुभव यहाँ क्या है। दत्त के भक्त इसका जप, ध्यान और ध्यान करते समय अनुभव करते हैं
					गुरुचरित्र का पाठ। महापूर्णिमा पर यहां सत्य दत्त की पूजा की जाती है। 5-6 हजार लोक प्रसाद
					आओ।</p>
				<p>संस्था का कार्य न्यासी मंडल द्वारा किया जाता है। भक्त कर सकते हैं पालकी, अभिषेक,
					पारायण, अन्नदान सेवा यहाँ। यहाँ भोजन और आश्रय है। मुंबई-गोवा राजमार्ग पर, नीचे जा रहा है
					सावंत वादी, मंगवला गए। दत्त मंदिर का निर्माण श्रीमन नृसिंह के आदेश पर हुआ था
					सरस्वतीच और इसका जीर्णोद्धार और विस्तार किया गया। वर्तमान में मोठे भक्त निवास का निर्माण है
					चल रहा है।</p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="श्री क्षेत्र मानगांव दत्तमंदिर"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Mangoan/mangaon.jpg">
					<figcaption class="figncaption">श्री क्षेत्र मानगांव दत्ता मंदिर</figcaption>
				</div>
				<h3>मंगाओ दत्ता मंदिर- पालकी परंपरा</h3>
				<p>जब एक खाने की जगह की अहमियत तय हो जाती है तो बाकी सारी चीजें अपने आप खत्म हो जाती हैं
					स्थान। सर्वप्रथम श्रीवासुदेवश्री की ख्याति साधु पुरुष के रूप में फैलती। के बाद से
					श्रीदत्त मंदिर की स्थापना से लोगों की आवाजाही बढ़ जाती। नित्य काँकड आरती,
					पूजा नैवेद्य, धूप और शेजराती, अनुष्ठान अपने आप होने लगे। दिन पर दिन भीड़
					भक्त बढ़े। भक्तों ने एक सुंदर लकड़ी की पालकी तैयार की और उसे मंदिर में चढ़ाया।
					बाईं ओर मखमल के कपड़े से पालकी ढकी होती। एक सीट होती और
					एक तकिया। पीतल की छतरियां होती होंगी। पालखीचा डंडा रेशम से सजाया जाता
					कपड़ा बनियान। हर शनिवार को पालकी निघू शुरू हो जाती थी। इसलिए हर शनिवार श्रीक्षेत्र
					मंगावाला फार बिग सेरेमनी शुरू।</p>
				<p>पालखीची प्रणाली काफी सहज रूप से शुरू हुई। एक बार एक भक्त ने सूअरी से विनम्रतापूर्वक कहा कि, "शनिवार
					पालकी निघवी आशी भक्तांची इच्छा आहे।" यह उनका कहना है कि एकतच बुवानी ने मुझे आनंद दिया
					बहुत। इसलिए उनकी सहमति से हर शनिवार को एक खाली पालकी उनकी देखभाल करने लगी।</p>
				<p>आरती सम्पलंका उत्सवमूर्ति पालखित थून देवता के चारों ओर तीन परिक्रमा। से पहले
					पालकी के विदा होते ही ग्रामदेवता श्रीयक्षिणी की पालकी पहले मंदिर के समीप आ गई
					और उसके बाद श्रीदत्तमहाराज की पालकी आ गई। विरोध क्यों दूर हुआ, सो बुवाई
					जाकर श्रीदेवी से प्रार्थना की। तभी प्रशासन को श्री दत्ता मंदिर की एक मिसाल मिली
					पालकी नेन्या। इस तरह सारा विरोध दूर हो गया और पालकी आने लगी।</p>
				<p>उम्मीद के मुताबिक दोनों पालख्याओं को मंदिर से बाहर ले जाकर तीन करने लगे
					प्रदक्षिणा। जो पालकी लेते हैं, चावड़ी और मोर्चरी पकड़ते हैं, और पद धारण करते हैं, ऐसे
					रोज दस-पंद्रह जमातें झूठी होती हैं। इसके अतिरिक्त उस समय दूसरे का समुदाय
					चार से पांच हजार तक लोग भी जमा हो गए। पालकी शुरू हुई, उत्सवमूर्ति उसके बाद कई
					भक्ति गीत, अभंग, स्तोत्र आदि महातली जाट। इस बार संगीताची बाजू ची। भालोबा का अर्थ है
					Shrishasribuvanche धाक्ते भाई Shrisitarambuwa zamleet असत्। उस समय उम्र छह वर्ष की हो सकती है
					वर्षों। पालकी की तीन परिक्रमा पूरी करने में पांच से सात घंटे का समय लगता है
					लोगों का उत्साह जबरदस्त है। एकंद्रित हा पालकीचा सोहला बहुत ही मनोरम है,
					अवलोकनीय, और आकर्षक। </p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="दत्त मंदिर मनगांव"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Mangoan/dattamandir_mangaon.jpg">
					<figcaption class="figncaption">दत्ता मंदिर मनगांव</figcaption>
				</div>
				<p>पालखी की नींद का उत्साह दिन-ब-दिन बढ़ता जा रहा था। या सोहल्या के लिए, असंख्य भक्तों में
					श्रीदेवन के सामने बर्फी, खरीक, नरल उदबत्ती, कपूर आदि इतनी बड़ी मात्रा में रखने वाले
					चीनी, उनका जानुकाही पर्वत लगभग ढह गया। पर श्रीदेव के सामने सारी बातें आ गईं
					पालकी को प्रसाद के रूप में बर्बाद किया गया। श्रीदेव के सामने अनाज भी बड़े पैमाने पर जमा हो जाता। ऐसा
					बन कर
					अन्न का भण्डार होता, वहाँ सबको प्रसाद मिलता।</p>
				<p>असली श्रीदेवा की महिमा दिन-ब-दिन कुछ इस तरह बढ़ती, सिवाय पूजा-पाठ के,
					पूजा के अलावा किसी अन्य मामले में, कोई लक्ष घलिट नासत नहीं होगा। वह पूरी तरह से
					अनासक्त भाव सारे व्यवहार को असत्य बना देता है। सभी मामलों में बोने की वृत्ति बहुत थी
					उदासीन और उनका व्यंग्य यह था कि जो नियम उन्होंने स्वयं अपनाए थे और दूसरों को अपनाने थे
					सख्ती से पालन किया। एक बार श्रीरामभाऊ सबनीसानी ने बुवाई को धोत्रेचे पान दिया। बुवा
					हमेशा पांच बार इस्तेमाल किया। इसलिए उन्होंने पांच केले और श्रीरामभौनि के दिए हुए केले का उपयोग किया।
				<p>श्रीदेव की इच्छा के अनुसार, श्री क्षेत्र मानगाँव में पूजा बहुत अच्छी तरह से शुरू हो जाती
					और व्यवस्थित तरीके से। इसी तरह भगवान श्री दत्तात्रेय पीड़ित और पीड़ित लोगों को आश्वासन देते हैं
					जो अपने काम के हिसाब से आते हैं, कि उनकी मुश्किलें दूर हो जाएंगी, उनका काम हो जाएगा
					अपने कार्य के अनुसार उपयुक्त कर्मकांड और उपाय बताकर पूरा किया। बुवाना है
					श्रीदत्तात्रेय का वरदान, और उनकी कृपा से सभी लोगों की मनोकामना पूरी होती है। भगवान श्रीदत्तत्रेयणी
					वा
					देवस्थानच अपने गण को रक्षा के लिए रख लेते। इसलिए वहां आने वाले लोगों में
					अगर कोई केला खाता है, तो वह तुरंत सामने आ जाता है।</p>
				</div>
		</section>
	</main>
</body>

</html>