<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="viewport"
		content="target-densityDpi=device-dpi, width=device-width, height=device-height, initial-scale=1">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
</head>

<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left data-img'>
					<img alt='Shri Datta Mandir, Mangaon '
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Mangoan/mangaon01.jpg">
					<figcaption class="figncaption">Shri Datta Mandir, Mangaon </figcaption>
				</div>
				<h3>Sri Kshetra Mangaon&nbsp;</h3>
				<p>Sri Kshetra Mangaon is 14 km away from Kudal in Sindhudurg district. Shri Dattatreya's morning
					memorable fourth incarnation Shri Vasudevananda Saraswati Tembe Swaminchi Janmabhoomi. Yabhumi gave
					you two good men like Shri Tembe Swami Maharaj and his brother Sitaram Swami. Sadar village is very
					small and water filled land. </p>
				<p>Chiranjiv Ganesh Bhatt, who is rich in Vedas, and his well-behaved wife Ramabai, are married to
					Manganvi Rahat Asatana Ganesh Bhatt went to Gangapuri and served his beloved Dattatreya for 12
					years. One auspicious day, Dattatreya's interview happened to him and Maharaj said, ' We are happy,
					we will come, we will run the Grahasthashram ahead. Aamich aapya ghari son rupane janams yeu'.
					Ganesh Bhatt again asks after Sadar interview and Sambhavami Yuge Yuge Shravan Kr.5, E.S. In 1854,
					he got son Ratna. His boat was named as Vasudev. Private education started from the second year.
					Started taking religious education from Haribhatta at the age of 5 years. 8th year of Mojibandhan.
					At the age of 12, he studied Rigveda Samhita and became known as Dashagranthi Vasudev Bhatji. Alela
					Duttabhakti's inheritance from father further led to his coming to Nrusinghwadit and the reality
					increased. That's why he got the grace of Narasimha Saraswat and got permission. You should go to
					Mangavi and establish Datta temple. Narsinghwadihoon Mangavi caste Asta Margat Kagal met a sculptor
					and expressed his desire to give a Dattamurti to you. Vasudev Bhatji said that I don't have money,
					but I asked him to give money as per the age of Savakash Haptyahaptyane and Vasudev Bhatji reached
					Manganvi with the idol. Everyone was very happy after getting the information about the parable of
					the village. According to the dream of an old woman resident of Mangaon, Jhala should donate her
					land, she donated that land to Vasudev Bhatjin.</p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="Shri Vasudevananda Saraswati Tembeswami"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Mangoan/tembeswami_0.jpg">
					<figcaption class="figncaption">Shri Vasudevananda Saraswati Tembeswami </figcaption>
				</div>
				<p>P. Poo The Tembeswamins themselves built the Datta temple in Chhotekhani with the help of the
					villagers and installed the idol of Datta in the same existing Datta temple. In the later period,
					gradually the restoration work of Sadar Mandir has been done by the Trust. There are 1-1 such wooden
					pillars on both sides of the temple's display path, which were commissioned by Swami Maharajani. His
					mere touch would remove any kind of obstacle. Today the idol of Shri Vasudevanand Saraswati has been
					placed in that temple. Here, through the institution, the devotees used to get involved in abhishek,
					palkhi, food donation and renovation or similar services by donating money. According to Shri Swami
					Maharajani Dattatje, 7 years after the establishment of the temple, after leaving Mangaon, the layer
					never came to Mangaon.</p>
				<p>Or in front of the temple there is a Yakshini temple of ancient times. Yakshini Mahatmya or Granthat
					Maharajani Dilele Abhivachan to fulfill Shri Vasudev's birth here Mangavi Jhala. This Yakshini
					temple is the most awakened place.</p>
				<p>On the right side of the Yakshini temple is the birthplace of Shri Swami Maharaj. The temple of Shri
					Swaminche has been built here after renovating the eastern part. A full-fledged idol (approx. 5-5
					feet high) of Vasudevanand Saraswati Swami Maharaj has been made at that place. Thatch Ahilyadevi
					Holkar has established all yoga-marked padukas in the footsteps of Swami. There he would be
					worshiped as usual. Harat shlokas were written on the neck of Swami's idol, while Mr. Dixit Swami of
					Nrisinghwadi wrote them. The most sacred architecture of the birthplace is very elegant.</p>

				<div role="group" class="caption caption-img align-left data-img">
					<img alt="Vasudevananda Saraswatinchi Meditation Cave"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Mangoan/dhyanGumpha_mangaon.jpg">
					<figcaption class="figncaption">Vasudevananda Saraswatini's Meditation Cave</figcaption>
				</div>
				<h3>concentration cavity</h3>
				<p>At a distance of 15-20 minutes from Shreechaya temple, after crossing the thickets of trees, there is
					the meditation cave of Shri Vasudevananda Saraswati. Or please Mr. Swami Maharajani Dattamaharajan
					by meditating on the place. Mr. Sadanand Tatke alias Anandswami, a proven man from Mumbai, has taken
					steps till the cave. Cavity is the cavity between two stones. It is a natural cave of simple size 15
					X 15 and inside there is a small idol of Vasudevanand Saraswati. Here there is 24-hour Panati Tevat
					and there the devotees get great experiences. High quality vibrations are felt. Feel the true
					experience of what peace of mind is here. Devotees of Datta feel it while chanting, meditating and
					reciting Gurucharitra. Satya Datta is worshiped here on Mahapournimas. 5-6 thousand Lok Prasadas
					come.</p>
				<p>The work of the institution is done by the Board of Trustees. Devotees can do Palkhi, Abhishek,
					Parayan, Annadan service here. There is food and shelter here. On the Mumbai-Goa highway, going down
					Sawant Wadis, went to Mangawla. The Datta temple was built on the orders of Shriman Nrusingh
					Saraswatich and it was renovated and expanded. Presently the construction of Mothe Bhakt Niwas is
					underway.</p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="Shri Kshetra Mangaon Dattamandir"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Mangoan/mangaon.jpg">
					<figcaption class="figncaption">Shri Kshetra Mangaon Datta Mandir</figcaption>
				</div>
				<h3>Mangao Datta Temple- Palkhi Tradition</h3>
				<p>When the importance of one food place is fixed, all the rest related things automatically fall into
					place. First of all, Shrivasudevshasri's fame would have spread as a saintly man. Since the
					establishment of Sridatta temple, the movement of people would have increased. Everyday Kakad Aarti,
					Pooja Naivedya, Dhoop and Shejarati, the rituals started automatically. Day by day the crowd of
					devotees increased. Devotees prepared a beautiful wooden palanquin and offered it to the temple. The
					palkhi would have been covered with velvet cloth on the left side. There would have been a seat and
					a pillow. There would have been brass parasols. Palkhicha danda would have been decorated with silk
					cloth vest. Every Saturday the palkhi started nighu. That's why every Saturday Shree Kshetra
					Mangawala far big ceremony started.</p>
				<p>Palkhichi system started quite spontaneously. One devotee once humbly told the sow that, "Saturday
					palkhi nighavi aashi bhaktanchi iccha aahe." It is his saying that Ektach Buvani made me enjoy a
					lot. That's why, with his consent, every Saturday, an empty palanquin started to look after him.</p>
				<p>Aarti Sampalanka Utsavmurti Palkhit Theun three circumambulation around the deity. Before the
					departure of the palanquin, the village deity Shriyakshini's palanquin came near the first temple
					and after that the palanquin of Sridattamaharaja arrived. Why did the protest go away, so the sowing
					went and prayed to Sridevi. That's why the administration got an example about Shree Datta Mandir's
					Palkhi Nenya. Like that all the opposition went away and the palanquin started coming.</p>
				<p>As expected, both the palakhyas would be taken out of the temple and started doing three
					pradakshinas. Those who take the palanquin, hold the chawri and morchel, and hold the post, such
					daily ten-fifteen congregations are false. Apart from this, at that time, the community of other
					people also gathered up to four to five thousand. Palkhi started, Utsavmurti followed by many
					devotional songs, Abhang, Stotre etc. Mhatli Jat. This time Sangeetachi Baju Chi. Bhaloba means
					Shrishasribuvanche dhakte brother Shrisitarambuwa zamleet asat. At that time May the age be of six
					years. It takes five to seven hours to complete the three circumambulations of the palanquin, and
					the enthusiasm of the people is huge. Ekandrit Ha Palkhicha Sohla is very enthralling,
					observational, and charming. </p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="Datta Mandir Mangaon"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Mangoan/dattamandir_mangaon.jpg">
					<figcaption class="figncaption">Datta Mandir Mangaon</figcaption>
				</div>
				<p>The enthusiasm of Palkhi's sleep was increasing day by day. Or for Sohlya, innumerable devotees in
					front of Shridevans, Barfi, Kharik, Naral Udbatti, Camphor etc., who kept such a large amount of
					sugar, their Janukahi mountain almost collapsed. All the things that came in front of Shridev on the
					palkhi were wasted as Prasad. Grains would also be stored in a big way in front of Shridev. By being
					a storehouse of the grains stored there, everyone would get prasad.</p>
				<p>The glory of the real Srideva would have increased day by day in such a way, except for worshiping,
					in any other matter other than worship, there would be no Laksh Ghalit Nasat. That completely
					unattached attitude makes all behavior untrue. In all matters, the sowing instinct was very
					disinterested and his sarcasm was that the rules that he himself had adopted and others had to be
					strictly followed. Once upon a time, Shrirambhau Sabnisani gave a dhotrache paan to the sow. Buva
					always used five times. That's why they used five bananas and those given by Shrirambhauni.
				<p>As per the wish of Shridev, the worship at Shree Kshetra Mangaon would have started in a very good
					and orderly manner. In the same way, Lord Shri Dattatreya assures the afflicted and afflicted people
					who come according to their work, that their difficulties will be removed, their work will be
					completed, by giving suitable rituals and remedies according to their work. Buvanna is
					Shridattatreya's boon, and by his grace all people's wishes are fulfilled. Lord Shridattatreyani or
					Devasthancha would have kept his Gana for protection. That's why, among the people who come there,
					if anyone eats a banana, it is immediately exposed.</p>
			</div>
		</section>
	</main>
</body>

</html>