<!DOCTYPE html>
<html>

<head>
	<title>Dattaguru Parikrama - अबुवरील गुरुशिखर</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<दिव>
				<div class='caption caption-img align-left datta-img'>
					<img alt='गुरु शिखर दत्त पैरुका मंदिर, अबु'
						src='https://raw.githubusercontent.com/onkar2498/JSON/master/images/Abu-Guru-Shikhar/abu-1.jpg'>
					<figcaption class="figncaption">गुरु शिखर दत्त पादुका मंदिर, आबू</figcaption>
				</div>
				<h3>अबू पर गुरुशिखर</h3>
				<p>अरावली हा भारत का सबसे पुराना पर्वत है। राजस्थानत नैऋत्य को - ईशान्या पसरलेला आहे।</p>
				<p>माउंट आबू' (अबू पहाड़, अबू पर्वत) उत्तर पश्चिम की सबसे ऊंची चोटी है। इसकी ऊंचाई लगभग 1,700 है
					मीटर। उन्हें 'गुरुशिखर' कहा जाता है। इस आबू शिखर के निकट सात मालनवार हैं। अबू
					पासु पांच मालनवार और 500 फीट से अधिक ऊंचा 'उड़िया' या नवाचे गांव है। यह 'गुरुशिखरच्य'
					मुख्य टोकली में स्थित है। गुरुशिखर या गांव के तीन मालनवार हैं। से ज्यादा ठंडा है
					आबू या स्थान हिंदू और जैन मंदिर हैं। में 'कनखलेश्वर' महादेव का प्रसिद्ध मंदिर है
					यह जगह।</p>
				<p>उड़ियापास थोड़ा दूर दक्षिण है। लेकिन ऐसे पुलावों को पीछे छोड़ना शुरू हो जाता है। टीआई से जाता है
					पर्वत और नलयतुन से 'गुरुशिखर' तक। चढ़ाई थोड़ी अधिक कठिन है। लेकिन ऐसा नहीं है
					दृढ़ भक्ति होना कठिन प्रतीत होता है। श्री भगवान दत्तात्रेयणी या निवास केला है। उस
					स्मृति खड़कचे शिवालय कोरलिया पादुका या शिखरवार एक लहंसा मंदिर की स्थापना की गई है।
					या उस जगह का बहुत बड़ा घंटा (घाट) होता है। उसकी आवाज दूर-दूर तक सुनाई देती है। </p>

				<div role="group" class="caption caption-img align-left data-img">
					<img alt="आबू में दत्त पादुका दीप"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Abu-Guru-Shikhar/abu-2.jpg">
					<figcaption class=" figcaption">आबू में दत्त पादुका गहरी </figcaption>
				</div>
				<p>या शिखरवर महान योगी तपस्या करने के लिए बने रहे।</p>
				<p>या खाल हिंसक जीव हैं।</p>
				<p>इस जगह से दूर के स्थान देखे जा सकते हैं। दूर घना जंगल, हरियाली भी और पूजाराजी भी
					शीतल वरियाच्य मंदिर लहरी मनाला को खुश करते हैं।</p>
				<p>कई यात्री इस स्थान पर आते हैं। रास्ते में जरा सी रुकावट के कारण एक नीति जहाज आ जाता है
					वास्तविक यात्रियों की सुरक्षा के लिए हर सुबह और शाम उड़िया गांव। द ओरिपास
					दिशानिर्देश अधिक सघन अनुकूल हैं।</p>
				<p>या ठिकाना यात्रा करौंचि धर्मशाला आहे। साथ ही कई गहरे (गुफा) पान भी हैं। जो भी
					वास्तव में तीर्थयात्रियों की व्यवस्था का पूरा ध्यान साधु-संत ही रखते हैं। यहां
					साधु-सन्यासना के साथ-साथ गरीब मनसाना को मुफ्त भोजन दिया जाता है। यह एक सुंदर कुएँ का बगीचा है।</p>
				<p>रामानंद की पान पादुका हिंदू धर्म से संबंधित थी।</p>
				<p>या जहां श्रीमंत तुकोजी महाराज होल्कर या श्री स्वामी समर्थ (अक्कलकोट) ने दर्शन दिए हों।</p>
				<br>
				<br>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="श्री दत्त चरण पादुका मंदिर"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Abu-Guru-Shikhar/abu-3.jpg">
					<figcaption class=" figcaption">श्री दत्त चरण पादुका मंदिर</figcaption>
				</div>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="श्री दत्त पादुका गुरु शिखर, अबू पहाड़"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Abu-Guru-Shikhar/abu-4.jpg">
					<figcaption class="figncaption">श्री दत्त पादुका गुरु शिखर, अबू पहाड़</figcaption>
				</div>
				</div>
		</section>
	</main>
</body>

</html>