<!DOCTYPE html>
<html>

<head>
	<title>Dattaguru Parikrama - Anusaya Tirth</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<दिव>
				<h3>श्री क्षेत्र अनसूयातीर्थ</h3>
				<p>दभोई मार्ग प्रतापनगर (बड़ोद) पश्चिमी रेलवे लाइन से दाहा मैलनवर चंदोद (गुजरात) तक है
					नवाचे क्षेत्र। उस स्थान पर नर्मदा नदी का विस्तृत जलपोत है। पूर्व की ओर 'करनाली' है
					क्षेत्र'। 'ओर' नदी करनाली और नर्मदेचे से होकर बहती है, उस स्थान पर ओरासंगम है। तब से
					यह संगम पवित्र है, इसमें मृत लोगों की अस्थियां विसर्जित की जाती हैं।</p>
				<p>चांदोद क्षेत्र के पश्चिमी तरफ, मैलावर के दो गांव हैं, के तिरावर शिनोर नवाचे
					नर्मदा नदी. शिनोर से 'अनसूयातीर्थ-क्षेत्र दत्तस्थान' तक पांच मालावर हैं बाणों पर
					नर्मदा। उस स्थान पर महासती साध्वी दत्तात्रेय माता अनसूया का मंदिर है। के सामने
					मंदिर श्री दत्तात्रेय का मंदिर है। वहां के पुजारी का नाम साने है </p>
				<p>यह स्थान बहुत पवित्र, प्रकृति सुंदर और रमणीय है। अनसूया मंदिर के पास की मिट्टी किसके द्वारा उपचारित
					होती है
					इसे श्रद्धापूर्वक प्रेम करने वाले अनेक भक्तों के ऐसे अनुभव होते हैं। साथ ही अनसूया देवी नवसास
					मिलती है ऐसी भक्तिमय लोगों की भक्ति! गंगासप्तमिला अनसूयक्षेत्री बड़ा मेला भरतो। हर रविवार,
					मंगलवार, शुक्रवार हो या दिन, दर्शन के लिए लोगों की भारी भीड़ रहती है।</p>
				<p>यहां खून के प्यासे लोगों के लिए मशहूर डिस्पेंसरी है। यहां कई मरीज ठीक हो जाते हैं। मुफ्त दवाएं हैं
					उनके लिए दिया!</p>
				</div>
		</section>
	</main>
</body>

</html>