<!DOCTYPE html>
<html>

<head>
	<title>Dattaguru Parikrama - Anusaya Tirth</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<दिव>
				<div class='caption caption-img align-left data-img'>
					<img alt='अस्ति दत्त मंदिर'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Asti-Beed/asti-1.jpg">
					<figcaption class="figncaption">अष्टि दत्ता मंदिर</figcaption>
				</div>
				<h3>श्री क्षेत्र अष्टी दत्ता मंदिर</h3>
				<p>मुंबई-बीड राजमार्ग, मुंबई-बीड राजमार्ग से दूर, बीड के तालुका में 36 मैलनवार आष्टी गांव हैं
					जिला।</p>
				<p>मातृ वाद्य प्रतिपदा शक 1888 शनिवार। 25/2/1967 को श्री दत्तमूर्ति नव्याने की स्थापना हुई थी
					यहां। वही मूर्ति जयपुर से तैयार कर लाई गई है। शिवदत्तची का अर्थ है जिसके पास
					शंकर का मध्य मुख। मूर्ति 3॥ फुट ऊंचा, सफेद संगमरमर का पत्थर, ध्यान बहुत सुंदर और है
					आकर्षक।</p>
				<p>या मंदिराची पूजा-अर्चादि सर्व प्रणाली श्रीदत्त भक्त श्री। रघुनाथराव अनंतराव कलकुंड्रीकर हैं
					कब्जे में है और मंदिर का ट्रस्ट वही है।</p>
				<div class='caption caption-img align-left data-img'>
					<img alt=''
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Asti-Beed/asti-2.jpg">
					<figcaption class="figncaption"></figcaption>
				</div>
				<div class='caption caption-img align-left data-img'>
					<img alt='अस्ति दत्ता मंदिर पालकी'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Asti-Beed/asti-3.jpg">
					<figcaption class="figncaption">अष्टि दत्त मंदिर पालकी </figcaption>
				</div>
				<div class='caption caption-img align-left data-img'>
					<img alt='अस्ति दत्त मंदिर'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Asti-Beed/asti-4.jpg">
					<figcaption class="figncaption">अष्टी दत्त मंदिर </figcaption>
				</div>
				</div>
		</section>
	</main>
</body>

</html>