<!DOCTYPE html>
<html>

<head>
	<title>Dattaguru Parikrama - Dattapaduka of Bachani, Temple</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<दिव>
				<div class='caption caption-img align-left data-img'>
					<img alt='बचानी दत्त मंदिर'
						src='https://raw.githubusercontent.com/onkar2498/JSON/master/images/Bachani/bachani.jpg'>
					<figcaption class="figncaption">बचानी दत्त मंदिर</ figcaption>
				</div>
				<h3>श्री क्षेत्र बचनिच्य श्री दत्तपादुका, जागृत स्थान</h3>
				<p>कोल्हापुर से दक्षिणा सामान्य दूरी विसपुरली से हटला, गरगोती के लिए 23-25 किमी की दूरी है
					सड़क 'कागल' तालुक्यत 'बचनी' गांव। जनसंख्या जेमटेम 5000 हजनावर असेल। यहां से एक जाता है
					कोंकण।</p>
				<p>'कागल' पी है। पू योगिराज गुलवानी महाराज का गाव। इसके बाद 'कुदुत्रिस' आया। कागल से पश्चिम - 14
					किलोमीटर। एम। और कुदुत्री से पूर्वेला तक - 16 कि.मी. एम। या दूर में 'बचानी' का गाँव है।
					साध्वी जनमाला इल्या ने मुक्ताबाई का नाम कपिलेश्वर के कागल तालुका में कुलकर्ण की पारिवारिक सदस्य के
					रूप में रखा। पर
					उस समय उनके जन्म कक्ष में महावस्त्र, छाती और पादुका पाई गई थी। वह छोटेपन से तंग आ चुकी थी।
					त्य पादुकांचिच त्य खेलत असत्। अगला, सात साल बाद, उस समय के रिवाज के अनुसार,
					बचानी का विवाह एकनाथराव कुलकर्न्यान के साथ हुआ। लेकिन वह दुनिया कभी रामलीच नहीं होती। भगवान
					दत्तात्रेय का शोध हमेशा झूठा होता है। धनंजय गोत्री बचनीकरणी ने उसे उसी हालत में छोड़ दिया
					उसकी हालत देखने के बाद। दत्त के प्रति सदैव समर्पित साक्षात श्रीपाद श्रीवल्लभ उनकी ही बात मानते थे
					हाथ प्रसाद। कागलकर संस्थानिक (धक्ते) काकासाहेब और उनके पिता एक बार 'बचनियों' में आए थे,
					उन्होंने दरवाजे की खड़खड़ाहट देखी; तही भरावले और उन्होंने 21 एकड़ जमीन दान में दी
					देवताओं की व्यवस्था के लिए संगठन। इससे नंददीप नैवेद्य आदि का खर्चा चलता है।
					खर्च किया जाना चाहिए। अगला 20-21 वर्ष की आयु में "गुरुवादादशी" के दिन "श्रीपाद"
					श्रीवल्लभ" स्वामी महाराज का अंतिम संस्कार, मुक्ताबाई ने समाधि ली। उनकी पादुका, भगवान दत्तात्रेय'च
					पादुकांच्य मागे स्थापना के लिए। संदूक में विसर्जित किए केले, महावस्त्रहि उधर, तीसरे पर
					जिस दिन औदुम्बराचे के पौधे वहाँ आए, आज भी औदुम्बरा दीमाखत दोलत आहे। बिलकुल इसके जैसा
					नृसिंहवाड़ी में छोटे मन वाले श्रीदत्तपादुका का मंदिर है, जिस पर औदुम्बर वृक्ष की छाया है।
					यह। रोज़ रुद्र, पावमन पूर्णिमा, नित्य नंददीप, पड़े अस नित्याच भाग मंदिरत असतो। </p>
				<p>मि. संगीत के पैमाने का पाँचवाँ स्वर। संगीत के पैमाने का पाँचवाँ स्वर। रामचंद्र योगी, प. का पांचवां
					नोट
					संगीत का पैमाना। श्री गोपालस्वामी, पी. फिफ्थ नोट ऑफ म्यूजिकल स्केल। श्री नारायणस्वामी, पी. पाँचवाँ
					नोट
					संगीत का पैमाना। श्री वासुदेवानंद सरस्वती स्वामी, पृ. पू श्री योगिराज गुलवानी महाराज आदि हैं
					'श्री दत्तपदुकंचे' या भाषणों के दर्शन किए।</p>
				<p>'बचानी' में 'श्री दत्तपादुका' नृसिंहवाड़ी की तरह बेहद चमकदार हैं और उनकी इच्छाओं को पूरा करते हैं
					भक्त। नृसिंहवादिला जशी कृष्णा नदी दक्षिण की ओर बहती है, ताशी बचनीला दूधगंगा
					नदी पूर्व की ओर बहती है। भगवान दत्तात्रेय की पादुकांचि सेवा सभी दत्तों को करनी चाहिए
					भक्त। कृष्ण नदी तिरावर श्री दत्तपादुकांचे मंदिर और जैसे नृसिंहवादिला मंदिर हैं
					बचनीला दूधगंगेय तिरावर श्री दत्तपादुकांचे मंदिर। गुरुवादाशीष एक बड़ा पर्व है। यह है
					आपके महान योग के अभ्यास के लिए सबसे अच्छा क्षेत्र। साधना ठीक होती।</p>
				</div>
		</section>
	</main>
</body>

</html>