<!DOCTYPE html>
<html>

<head>
	<title>Dattaguru Parikrama - Shrikshetra Basavakalyan</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<दिव>
				<div class='caption caption-img align-left data-img'>
					<img alt='बसवकल्याण क्षेत्र'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Basav-Kalyan/basav-kalyan.jpg">
					<figcaption class="figncaption">बसवकल्याण क्षेत्र </figcaption>
				</div>
				<h3>श्री क्षेत्र बसवकल्याण</h3>
				<p>बसवकल्याण सोलापुर से 110 किमी दूर है। एम। अम्बर्ड हिबरद मार्ग सास्तापूर फट्यान नियर आहे। यह है एक
					बेहद
					प्राचीन ऐसा श्रीदत्त क्षेत्र। या मंदिराला भुयारी समाधि मंदिर को ऐसा ही कहा जाएगा। या
					दत्त संप्रदाय को आनंद संप्रदाय कहा जाता है।</p>
				<p>बताया जाता है कि द्वापरयुग की समाप्ति के बाद जब कलियुग शुरू हुआ तो पांचों पांडवों के साथ
					द्रौपदी बद्रीनाथ के लिए रवाना हुई। अभिमन्यु के पुत्र परीक्षित और उनके पुत्र जन्मेजय का अर्थ है एक
					बड़ा यज्ञ
					केला। तब यज्ञ में से एक बालक निकला। वह बहुत खुशमिजाज और बहुत खुश था। उसके
					सदा प्रसन्न रहने का भाव उन्हें सदानन्द कहने लगा। ऐसी मान्यता है कि श्री
					सदानंद या रूपा का जन्म कलियुग की शुरुआत में श्रीदत्त प्रभु के अधीन हुआ था। या सदानंदानी
					बाल्यावस्था में ही घोर तपस्या कर श्री शंकरला को प्रसन्न किया। उसके बाद शंकरानी ने उन्हें आदेश दिया
					पश्चिम जाने के लिए। अवधूत से मुलाकात होगी। वह आपका शिक्षक और मार्गदर्शक होगा। तब सदानंद ने सोचा,
					मैं उन्हें कैसे जान सकता हूँ? तब उन्होंने कहा कि तुम एक-एक करके 'अहो, श्रीदत्त' की तरह गर्जना करो
					हजार कदम। जहाँ से प्रतिसाद मिले, तुम बस तपस्या करो। तुला के दर्शन होंगे
					अवधूत। शंकर की आज्ञानुसार श्री सदानंद पश्चिम दिशा की ओर चल पड़े। दत्तात्रेय का
					हर हजार पावलवानरों के लिए गजले किए जाते। बसवकल्याण द्वारा शहर में आया था
					इस तरह घूम रहे हैं। अथवा किसी स्थान पर श्रीदत्तत्रेय का प्रत्युत्तर उन्हें प्राप्त हुआ। ऐसा एक
					कहानी संगीताली जाती है। उन्होंने वहां तपस्या शुरू कर दी। वहां उन्होंने श्री दत्तात्रेय और उनके दर्शन
					किए
					सदानंदवर पर भरपूर कृपा बरसाई। उन्होंने कल्याण में आनंद सम्प्रदाय की स्थापना की। श्री
					श्री सदानंद के शिष्य रामानंद ने इस संप्रदाय को और आगे बढ़ाया है। वह परंपरा अब भी है
					चल रहा। या संप्रदाय की गुरु परंपरा, विष्णु - विधि - अत्रि - दत्ता - सदानंद - रामानंद
					ऐसे ही चलता रहता है।</p>

				<div role="group" class="caption caption-img align-left data-img">
					<img alt="बसवकल्याण मंदिर"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Basav-Kalyan/basav-kalyan-1.jpg">
					<figcaption class="figncaption"> बसवकल्याण मंदिर</figcaption>
				</div>
				<p>श्री बसवकल्याण एक अद्वितीय दत्तक्षेत्र है और यहां 48 मकबरे हैं और 30 ऐसे हैं
					अन्य स्थानों पर मकबरे, कुल 78 मठाधीशों के मकबरे। कुल नौ भुयारे हैं।
					मंदिर एक किले की तरह है और प्रत्येक भुयारा में कई भिक्षुओं की कब्रें हैं। या जो इस्तेमाल करते थे
					बादलों में उतरना सचमुच समाध्या को देखकर थक जाएगा। बहुत आनंद है
					और अद्भुत अनुभव आते हैं। क्षेत्र की विशेषता यह है कि यहां की संजीवन समाधि है
					सदानंद महाराज। साथ ही यहां श्रीदत्त पीठ और श्री सरस्वती पीठ एक ही स्थान पर हैं।
					सरस्वती पीठ बहुत जाग्रत है और सरस्वती माता ऐसा ही बोलती हैं। जब शंकराचार्य यहां आए
					और उनके दर्शन किए, उन्होंने उन्हें पूर्ण आशीर्वाद दिया। इसके बाद उनकी बोलती बंद हो गई
					श्री शंकराचार्य ने जमकर लिखना शुरू किया, ऐसा आख्यान है।</p>
				<p>इस स्थान पर श्री गणपति की 'सुमुख गणेशमूर्ति' है। के जन्म की कहानी के अनुसार
					भगवान गणेश, उनके सिर को शंकर ने काट दिया था और बाद में हटीचे का मुंह खींचा गया था।
					सिर काटने से पहले भगवान गणेश की अनूठी सुंदर मूर्ति यहां है। श्री दत्तात्रेयन की पीठ है
					वहाँ केवल और श्री दत्तपादुका हैं। मुख्य मंदिर औदुम्बराचा वृक्ष है और भुयारा में है
					एक बहुत ही अनोखी 'श्रीशेषदत्त पादुका' है। पादुका संभवतः शेषनाग के उदर का एकमात्र क्षेत्र है।
					यदि पादुका उत्तम स्थिति में हो तो उसे देखकर मन को संतोष होगा। या के मठाधीश
					क्षेत्र पूरी तरह से प्रसिद्धि-उन्मुख है या भक्तों को क्षेत्र का फारसी ज्ञान नहीं है।
					प्रत्येक दत्त भक्त को यहाँ जाकर दर्शन करना चाहिए। भक्त निवास एवं की नि:शुल्क व्यवस्था है
					इस स्थान पर रहने के लिए भोजन प्रसाद।</p>
				<p>यह आनंद संप्रदाय के प्रमुख पीठों में से एक है।</p>
				<br>
				</div>
		</section>
	</main>
</body>

</html>