<!DOCTYPE html>
<html>

<head>
	<title>Dattaguru Parikrama - Nashik Road Ghaisas Datta Mandir</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<दिव>
				<div class='caption caption-img align-left data-img'>
					<img alt='अष्टि दत्त मंदिर'
						src='https://raw.githubusercontent.com/onkar2498/JSON/master/images/Nashik/datta.jpg'>
					<figcaption class="figncaption">नासिक रोड घासस दत्त मंदिर</figcaption>
				</div>
				<h3>नासिकरोड घैसस दत्तमंदिर</h3>
				<p><b>स्थान: </b>नासिक रोड से 2 तक। एम., नासिक (महाराष्ट्र राज्य)</p>
				<p><b>सतपुरुष: </b> श्री काकासाहेब घैसस </p>
				<p><b>विशेष: </b>दत्ता मंदिर </p>
				<p>नासिक रोड स्टेशन से 2. किलोमीटर दूर श्री. (सीए.) महादेवराव सदाशिव घैसस हयानी बांधलेले
					दत्त मंदिर आहे। </p>
				<p>सीए. काकासाहेब घैससांचा का जन्म वर्ष 1895 में कोलाबा के मेधे या गवी झाला जिले में हुआ था। वह
					बचपन से ही श्रीदत्त की पूजा करना पसंद करते थे। वास्तव में श्री दत्त महाराज हमेशा उनके रहेंगे
					शिष्य। शिक्षा की कमी के कारण, भगवान की भक्ति और आत्मविश्वास के कारण उन्हें एक नौकरी मिल गई
					रेलवे में सात रुपये वेतन पर केबिन कैंडिडेट और सही जगह भी हासिल की
					ब्रिटिश शासन। 1950 में आई.एस. ते 'असि. 'यातायात प्रबंधक' के पद से सेवानिवृत्त हुए। </p>
				<p>सेवा करते हुए, उन्होंने श्रीदत्त की पूजा करना, श्रीदत्त के लिए वार्षिक उत्सव करना कभी नहीं छोड़ा।
					नमूना
					एक तुमदार मंदिर ऐसा हो, उन्हें ऐसा लगे। </p>
				<p>नौकरी के लिए नासिक रोडला आने पर उन्होंने एक एकड़ जमीन खरीदी। वहां चार-पांच कमरे बन गए।
					वहाँ रहकर चुपचाप श्रीदत्त की सेवा करना ही प्रयोजन होता। लेकिन जब वह उठा, तो अजीब लगा
					अनुभव आने लगे। जोरजोरत दूर वजात, दगदांचे आवाज होता। यह की ध्वनि है
					हँसी और मानवीय संकट; लेकिन वह व्यक्ति नजर नहीं आया। पूछताछ अंत में समझ में आया कि,
					कोई सुदूर पूर्वी श्मशान भूमि रही होगी; इसलिए काकासाहेब ने जगा छोड़ने का निश्चय किया।
					लेकिन उसी रात उन्हें एक दर्शन हुआ। श्री दत्त महाराज स्वयं स्वप्न में आये और सांगून चले गये,
					'हाय जगा सोडू नाकोस। उस व्यक्ति का उद्धार आपके हाथ में होगा। और दोनों ही जगहों पर
					ऑडुम्ब्राचे का पेड़ लगाओ।' </p>
				<p>आज्ञा के अनुसार काकासाहेबनी के दो पेड़ प्यारे हैं। इन तीन वृक्षों की सहायता से, सभी
					मुसीबतें बंद हो गईं। उस स्थान पर प्रसन्नता का अनुभव करने लगे। नाइट स्टैंड की आवाजें, साथ ही साथ
					रोशनी की गंध। कुछ दिनों के लिए दृष्टान्त बन गया, 'औदुम्बरशेजरी माजे मंदिर बांध।'</p>
				<p>काकासाहेबन्नी हि सुधा देवाची अजना अमलत अनलि। मंदिर बन गया, लेकिन सवाल दत्त का
					मूर्ति उठी। देने के लिए भी चिंता तुरंत गायब हो गई। लगभग उसी समय, श्री नारायण
					महाराज (केदगांव) त्र्यंबकेश्वर के दर्शन के लिए नासिकला आते थे। उन्होंने और काकासाहेब ने ए
					संकट। जब वह मंदिर बनाने के लिए तैयार हुआ, लेकिन दत्त की मूर्ति रह गई, तो उसने कहा, 'मैंने बनाया था
					आपको मेरे सपने में दत्ता की मूर्ति देने का आदेश दिया।' इसकी स्थापना वर्ष 1940 में श्रीदत्त पर हुई थी
					जयंती। उसी समय से श्रीदत्त जयंती का उत्सव शुरू हो गया। यह उत्सव तीन दिनों तक चलता है
					दिन। श्रीदत्तपूजा, श्री सत्यदत्तपूजा, लघुरुद्र, श्रीदत्तजन्म, पालकीसोहला जैसे कार्यक्रम हैं
					तीन दिनों के लिए आयोजित किया गया। </p>
				<p>उत्सव शुरू होने के बाद, श्री दत्तो की पूजा उनके मन में अधिक दृढ़ता से निवास करने लगी
					इससे पहले। इसका परिणाम यह हुआ कि प्रत्येक गुरुवार को महादेवराव के अंगत के अवसर पर
					दत्त जयंती के अवसर पर दत्त का संचार प्रारंभ हुआ। जबकि जुनून की ऐसी स्थिति में, वह
					कई भूतिया बाधाओं और पीड़ाओं को दूर किया। रोज शाम और सुबह भजन बासत करें और पूजा करें
					श्रीदत्त। एकतारी को हाथ में लिए मूर्ति के सामने खड़े श्रीदत्त के भजन में मग्न थे
					एकतारी के राग में। 20 नवंबर 1955 रोज़ी आशाच एक पहते ओ दत्ता भक्त, श्रीदत्तची भूपाली
					मान्यता रंगून गेल अस्तानाच अचानक कार्डिएक बैंड पदून दत्तमंदिरत श्रीदत्तचारणी विलेन
					झाले।</p>

				</div>
		</section>
	</main>
</body>

</html>