<!DOCTYPE html>
<html>

<head>
	<title>Dattaguru Parikrama - अबुवरील गुरुशिखर</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<दिव>
				<div class='caption caption-img align-left data-img'>
					<img alt='श्री दत्ता भिक्षा लिंग मंदिर'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-1.jpg">
					<figcaption class="figncaption">श्री दत्त भिक्षा लिंग मंदिर</figcaption>
				</div>
				<h3>श्री क्षेत्र दत्ताभिक्षालिंग मंदिर</h3>
				<p>कोल्हापुर शहर में श्री दत्त भिक्षालिंग मंदिर रविवार पेठेटिल आज़ाद चौक जागृत दत्त स्थान है और है
					प्राचीन काल से एक महत्वपूर्ण स्थान या क्षेत्र माना जाता है। दोपहर में श्री दत्तप्रभु
					ईटेक जगदम्बेकदून भिक्षा प्राप्त करता है। उन स्थानीय नवनाथों में से एक वत्सिद्ध नवनाथन्नी श्री
					दत्तप्रभुना भिक्षा देने वाले केले होते। साथ ही श्री गोरक्षनाथनी दत्त महाराज की भिक्षा
					झोली स्थित श्रीदत्त भिक्षालिंग स्थान से मैदान शुरू होता। या की कहानी
					स्थान के बारे में वत्सिद्धनागनाथची नवनाथकथासर अध्याय संख्या 36 और 37 में आया है।</p>
				<p>श्रीदत्त प्रभु दक्षिण काशी क्षेत्र के कोल्हापुर में दिन के मध्य में भिक्षा प्राप्त करते हैं। </p>
				<p>या स्थानीय श्री गोरक्षनाथन्नी श्री समर्थ रामदास स्वामीना कुबड़ी के प्रमुख होते।
					आज के सज्जन गदावर पहवायस पाते हैं। श्री महालक्ष्मी की माता आदेशवरुण श्री नारायण
					स्वामी ने इसी स्थान पर तपस्या की थी। श्री दत्तप्रभु ने स्वयं उन्हें यह स्थानीय दर्शन दिया। उसके
					समाधि मुख्य दत्त क्षेत्र श्री निरहसिंह वाडी में स्थित है। या श्रीदत्त की उपस्थिति
					स्थानीय डुपरचाय बरच्या आरतीच्या के समय प्रभुंचे का आभास होता है। जैसे गंगापुर में सद्गुरु
					दत्तात्रेय के दूसरे मानव अवतार श्री नृहसिंह सरस्वती स्वामी ने इस दौरान शहद मांगा
					दोपहर। इसी तरह, दत्तप्रभु स्वयं भीख माँगने यहाँ आते हैं।</p>
				<p>कोल्हापुरला तक केवल रेल और बस द्वारा ही पहुँचा जा सकता है। पूरे महाराष्ट्र से यहाँ के लिए बसें उपलब्ध
					हैं
					कोल्हापुरला। </p>

				<p><b>श्री दत्ताभिक्षालिंग मंदिर देवस्थान</b></p>
				<p>आजाद चौक, संडे पेठ कोल्हापुर.</p>
				<div class='caption caption-img align-left data-img'>
					<img alt='श्री दत्तात्रेय देव मठ संस्थान'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-2.jpg">
					<figcaption class="figncaption">श्री दत्तात्रेय देव मठ संस्थान </figcaption>
				</div>
				<div class='caption caption-img align-left data-img'>
					<img alt='श्री दत्त मूर्ति, दत्त भिक्षालिंग मंदिर'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-3jpg">
					<figcaption class="figncaption">श्री दत्त मूर्ति, दत्ता भिक्षालिंग मंदिर</figcaption>
				</div>
				<div class='caption caption-img align-left data-img'>
					<img alt='दत्त भिक्षालिंग मंदिर, श्री दत्ताची पूजा'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-4.jpg">
					<figcaption class=" figncaption">दत्ता भिक्षालिंग मंदिर, श्री दत्ताची पूजा</figcaption>
				</div>
				<div class='caption caption-img align-left data-img'>
					<img alt='श्री दत्तात्रेय देव मठ संस्थान सूचना'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-5.jpg">
					<figcaption class="figncaption ">श्री दत्तात्रेय देव मठ संस्थान सूचना</figcaption>
				</div>
				<div class='caption caption-img align-left data-img'>
					<img alt='दत्ता भिक्षा लिंग मंदिर दोपहर महालक्ष्मी सदगुरुना भिक्षा दे'
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-6.jpg">
					<figcaption class="figncaption">दत्त भिक्षा लिंग मंदिरत पाधि महालक्ष्मी सद्गुरुना भिक्षा
						घालटाना</figcaption>
				</div>

				</div>
		</section>
	</main>
</body>

</html>