<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<दिव>
				<div class='caption caption-img align-left data-img'>
					<img alt='नृसिहावाड़ी'
						src='https://raw.githubusercontent.com/onkar2498/JSON/master/images/nrusihawadi-001.jpg'>
					<figcaption class="figncaption">नरसिंहावदी-&nbsp;भक्त काम कल्पद्रुम महाराज की राजधानी
						</अंजीर केप्शन>
				</div>
				<h3>श्री दत्ताची राजधानी नृसिंहवाड़ी&nbsp;</h3>
				<p><strong>भक्त काम कल्पद्रुम महाराजा की राजधानी</strong></p>
				<p>नृसिंहसरस्वच्य के नाम से जाने जाने वाले क्षेत्र में दत्तप्रभुंची राजधानी, जिन्हें द्वितीय श्रेणी के
					रूप में जाना जाता है
					दत्त भक्तों के बीच दत्तप्रभु के अवतार। इसलिए एक जगह है। वासुदेवानंद
					सरस्वती उर्फ टेम्बेस्वामिन भारत का भ्रमण करने के बाद यहीं निवास किया और की राजधानी के रूप में
					संबोधित किया
					नृसिंहवादिला दत्तप्रभुंची। 1378 में, नरसिंह सरस्वतीनी का जन्म करंजा में हुआ था। 1388 में, के बाद
					संन्यास दीक्षा लेकर वे तीर्थस्थान को चले गए। इस बीच, वर्ष 1421 में, उनकी मंजिल होगी
					औंदुबरी क्षेत्र रहा होगा, और 1422 में कृष्णा पंचगंगा संगमंजिकछाया में रहा होगा
					गाँव rajnagar। नरसिंहसरस्विनी ने यहां बारह वर्षों तक तपस्या की थी। 1434 में तपस्या करने के बाद
					पवित्र संगमस्थल, उन्होंने मनोहर पादुका और अन्नपूर्णा जान्हवीची को औदुम्बर वृक्ष पर स्थापित किया और
					भक्तों को दिल और गंगापुरी में यह कहकर छोड़ दिया कि उन्हें यहीं रहना चाहिए।</p>
				<p>नृसिंहसरस्वतिंच्य को पवन वासत्यमुलेच या क्षेत्रला नृसिंहवाटिका के नाम से जाना जाने लगा। यह है
					आज की नरसिंहवाड़ी या नरसोबची वाडी। कृष्ण पंचगंगेय च नयनराम्य तिरावर वसलेलन, यह
					दत्त भक्तों के लिए तीर्थ स्थान को आज दत्तप्रभुंची की राजधानी के रूप में मान्यता प्राप्त है। बाद में
					नृसिंहसरस्वती, कई महान हस्तियां यहां रह चुकी हैं। साधना, उपासना और भक्ति है
					इसके लिए अनुकूल, अमुक या स्थानीय तीन बार, दत्त भक्ति का जागरण प्रारम्भ हो जाता है। कि वजह से
					नदी बाण, परिसर को मिली समृद्धि, भक्ति से सराबोर हुआ माहौल अमरेश्वर पर
					गुरुचरित्र में वर्णित पीला बाण, कृष्ण का ऐसा चौड़ा पात्र या दत्तभक्ति का सुंदर
					तीर्थ स्थान, दत्तभक्तांच का अष्टोपराहार राब्ता असतो।</p>
				<p>सुबह तीन बजे से रात दस बजे तक दत्त का भक्ति जागरण शुरू हो जाता है
					यहां। काकड़ आरती, पंचामृत अभिषेक, महापूजा, पावमन पठान, धूपदीप आरती, दत्तगजरात जटना
					पालकी सोहला और शेजराती ऐसी दिनचर्या पूरी श्रद्धा और उत्साह के साथ निभा रहे हैं
					आज। दत्ताची विविध कावने और पदंचा हाई-वेक, वेक अप और रोजचा पालकी सोहला स्पेशल
					अनुभव। साल भर विभिन्न त्योहार, नरसिंह जयंती, रामनवमी और अन्य सनकादिक
					पुण्यतिथि और त्यौहार नियमित रूप से मनाए जाते हैं।<br>
					नदी के तट पर मंदिर होने के कारण जब महापुरचे पादुकाओं, भक्तों का स्पर्श करते थे
					तेज बहाव के कारण दक्षिण द्वार से आशीर्वाद लेने बड़ी संख्या में आते थे
					पानी। सभी दैनिक अनुष्ठानों को प्राचीन मंदिर के पानी के पार ले जाया जाता है। पानी अलयावर ही
					त्योहार की मूर्ति के लिए कदम-कदम पर हलवाली जाते थे। अर्थात् का पालन
					यहां वार्षिक या दैनिक कार्यक्रम का कड़ाई से पालन किया जाता था। साधारण पन्द्रह-बीस वर्ष पूर्व विस्तार
					नरसिंहवाड़ी का अपेक्षाकृत सीमित होता। भीड़ भी सीमित थी। हालांकि वहाँ है
					विस्तार की प्राकृतिक सीमा, आज यह क्षेत्र धर्मशालाओं, भक्ति निवासों, प्रसादालयों और
					वेदों की पूजा के लिए सुविधाएं विस्तृत घाटों के कारण मंदिर परिसर भव्य है
					नदी के किनारे बनाया गया है। 2005 का महापुरात लगभग पूरी तरह से ढका हुआ था
					पानी।</p>
				<p>वदिति दत्ता मंदिर के बारे में जो जानकारी मिली है वह आश्चर्यजनक है। जरी का पवित्र स्थान है
					हिन्दू असलान्तरी विजापुर के आदिलशाह अपनी पुत्री के दर्शन की प्रार्थना करते। इसके कारण
					सकारात्मक परिणाम आदिलशाह ने मंदिर का निर्माण करवाया। इसलिए इससे कोई फर्क नहीं पड़ता।</p>
				<p>श्रीदत्तात्रेयवतार श्रीनरसिंहसरस्वती स्वामी महाराज&nbsp;&nbsp;हे कृष्ण-पंचगंगा संगमंजिक
					वास्तव में बारह वर्ष रहा होगा। उस समय वहां सुनसान जंगल रहा होगा
					और नदी परतीरावर अमरापुर (औरवाड़) गाँव। आज अमरेश्वरांचा का निवास है
					और उसके पास चार योगिनियों का परिवार रहता है। श्री नृसिंह सरस्वतीमहाराजंचि सेवा योगिनी
					ते&nbsp;आज तक। नरसिंहवाड़ी मगहूं केवटारी वसलेले अहे का गांव है। तब तक हिस्सा
					शुक्लतीर्थ से संगमा तक के अष्टतीर्थ को धार्मिक दृष्टि से अमरापुर के नाम से जाना जाना चाहिए। यह इसके
					लिए है
					उद्देश्य यह है कि टेम्बेस्वामी महाराजा द्वारा लिखित श्रीनारसिंह सरस्वती स्तोत्र में, 'अमरख्यपुरे च
					योगिनीवरदो योत्खिलदोस्ति योगिनी:| स नृसिंह सरस्वती यतीर्भगवान, मीस्ति परवर गति:॥'
					</strong>आसा ने केले का जिक्र किया
					asawa. <strong>'श्रीसिंहावटिका क्षेत्रेवदाद्शबदानवसंसुधि:। लेकिन उस समय नहीं था
						नृसिंहवाड़ी का एक गाँव के रूप में उल्लेख, <strong>'गृहस्थ: सदाशिन भार्यं विन्देत'।</strong> या
						जैसा कि भविष्य में वादा किया गया था, भविष्य के नृसिंहवाड़ी क्षेत्र का ऐसा मतलब देखा जा रहा है।
						अमरेश्वर,
						चौसाष्ट योगिनी, शुक्लदि अष्टतीर्थे, कृष्ण-पंचगंगा संगम, ऐसे सर्वांगीण तीर्थ
						श्री गुरु के साक्षात केले हैं, और वे आज भी जीवित हैं। वह महानता से अवगत है
						दिव्य दृष्टि का।</p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 योगिनी पूजा"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/64-yogini.jpg">
					<figcaption class="figncaption">64 योगिनी पूजा&nbsp;</figcaption>
				</div>
				<p><strong>'नृसिंहवती क्षेत्रे वाददाशवदानवाससंसुधिः। तत्र स्थित्वापि गधरवरपुमेत्य वसनमथे
						॥'</strong><br>
					या श्लोकट श्रीतेनबेस्वामीमहाराजनी हेच स्पष्ट केले। ईश्वर सर्वव्यापी है अर्थात देश असीम है
					यह वर्णन असम्भव नहीं है। यह इस समय के पहले से नरसिंहवाड़ी क्षेत्र के भगवान हैं
					इसका ज्ञान त्रिकालज्ञ महापुरुषों को ही दिया जा सकता है। इसलिए श्रीरामचंद्रयोगी
					महाराज
					प्रभुदर्शनकर्ता दो वर्ष तक पूर्वविच में रहे। क्षेत्रीय प्रसिद्धि
					शिरोलचा वदिजापुत्र टेम्बेमहाराजनी के रूप में जीवित हो गए</p>
				<p><strong>'ततप्रभृति तत्पुरे प्रवरमबाभाऊ सुंदरम।'</strong></p>
				<p>तृष्टि काव्य में भी यही वर्णन है। या जैसा कि प्रभु का शाश्वत निवास पवित्र है
					नरसिंहवाड़ी क्षेत्र में समय-समय पर भगवद्भक्त महापुरुषों का निवास होना स्वाभाविक है। श्री।
					उनमें नारायण
					स्वामी महाराज और अगले श्री वासुदेवानंद सरस्वती महाराज हैं।</p>
				<p>मत चिता चिन्ति सच्ची ही वादी नरसोबाची है वचन ज्या महापुरुषणे आप काव्यात
					ग्रंथितत&nbsp;केले आहे
					ऐसा प. संगीत के पैमाने का पाँचवाँ स्वर। श्री वासुदेवानंद सरस्वती स्वामी महाराज कहते हैं कि वादी
					संगत के श्री दत्तात्रेयांची हैं।
					राजधानी है श्री महाराज काशी की सेवानिवृत्ति के बाद, करंजयस उनके जन्मस्थान पर आए।</p>
				<p>तेथून दक्षिण यत आसता, भीलवाड़ी का अर्थ औदुम्बर या कृष्ण की काठी-जड़ित 'गवी' आती है
					गूदा।
					वृक्षहीन तपस्या करने लगे। करवीरस्थ की पुत्री भगवती भुवनेश्वरी देवीनी
					ब्राह्मण, है।
					कृष्ण के प्रवाह की आज्ञा मानकर श्री नृसिंहसरस्वती स्वामी महाराज आए और उन्होंने बड़े समर्पण से शरण ली
					भक्ति।
					श्री महाराजाणी कृपामृताने करुं त्या मंदमती ब्राह्मण पुत्रला ज्ञानी केला छोड़ने के बाद।</p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 योगिनी पूजा"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/nrusiha-wadi-mandir01.jpg">
					<figcaption class="figncaption">64 योगिनी पूजा&nbsp;</figcaption>
				</div>
				<p>पुढिल कार्य के लिए श्री नृसिंहवाड़ी में आगमन के समय, घने पेड़ों से आच्छादित क्षेत्र।
					चाहेंगे। भगवती पावन गंगा कृष्णमाता के पास उनका पावन दहन
					यह हवा हो गया होता। वहाँ, श्री स्वामी महाराज ने एक सुंदर गूलर के पेड़ पर ध्यान किया और एक
					खाली खंभा।
					दो फिरौन के समय भिक्षा अमरापुर या उस स्थान पर जाती है जहां है
					पलतीरावर और परत उस स्थान पर आ जाती है।
					ध्यान सरल है। ऐसे ही कुछ दिन बाद आलास गांव के श्रीपदभट जेरे थोड़ी दूर हैं
					दूर।
					शिरोल गाँव जोशीपनाची पास के वृद्ध गृहस्थ का रवैया। ते मार्गस्थ असत श्री स्वामी
					असत महाराजा को प्रणाम कर आगे बढ़े। इस तरह कुछ दिनों के बाद ब्राह्मणों को भाग्योदय हुआ और
					यछेकदु भगवान श्रीपाद श्री वल्लभ स्वरूप श्री दत्तात्रेय के मनोहर पादुकांचि की स्थापना हुई
					या
					वहां पुराने ब्राह्मणों को अर्चक के रूप में रखा गया था। श्री स्वामी महाराजानी अगले कार्य के लिए
					निकलते समय या
					ब्राह्मणों ने आशीर्वाद दिया है या गूलर के वृक्षों ने फूलों और फलों को जड़ा है। तेवधा आपका वंश वृक्ष
					बढ़ी। कारण
					इस स्थान पर प्रत्यक्ष भगवान दत्तात्रेय आने वालों के दुखों को दूर करने के लिए विराजमान हैं
					आश्रय। कुछ दिनों के लिए
					श्रीपदभट आलाशुन प्रतिदिन उस स्थान पर आकर पूजा-अर्चना किया करते थे। वहां कुछ देर बाद
					एक छोटी सी बस्ती थी और
					चूंकि श्री नृसिंह सरस्वती ने वहां तपस्या की थी, इसलिए उस स्थान से नाव प्राप्त हुई श्री
					नृसिंहवाड़ी।
					वहीं श्रीपदभटचे के पुत्र वंशवंशी राहों श्री महाराजांचि अर्चना केली। इसमें सिद्धगुरु
					या वह जगह,
					सिद्ध साधु योगी ने एकांत स्थान देखकर तपस्या की। उनमें से परम पावन श्री नारायण
					स्वामी महाराज,
					श्री गोपालस्वामी महाराज, श्री मौनीस्वामी महाराज, श्री वासुदेवानंद सरस्वती स्वामी महाराज
					सिद्धानी असली केला। कुछ समय बाद, इस स्थान का नाम श्री नृसिंहवाड़ी रखा गया।&nbsp;
				</p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 योगिनी पूजा"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/nrusihawadi01_0.jpg">
					<figcaption class="figncaption">64 योगिनी पूजा&nbsp;</figcaption>
				</div>
				<p>श्री नृसिंहवाड़ी या भक्ति सेवा के माध्यम से, हमारे प्यारे ने गुरुमौली को लगातार जागृत रखा है।
					इसीलिए
					आज हजारों भक्तों या पुजारियों की प्रार्थना के कारण श्रीदत्त ने गुरु दत्त को रोक दिया।
					अनुभव किया। दक्षिणद्वार परवानी, संततधार, नित्य पालकी, महाराजा के विभिन्न उत्सव,
					पुरोहित मण्डली
					आप कितने करते हैं और इसलिए आप श्रीदत्त प्रभु की खुशी महसूस करते हैं या आप कितने चमकते हैं
					स्वचालित रूप से जगह पर महसूस करें।
					गेला के बिना कैसे पता चलेगा?</p>
				<p>श्रीनरसिम्हा सरस्वती दत्तमहाराज का सबसे पवित्र जीवन यात्रा की साधना से संबंध होगा
					तब एहसास हुआ
					वैकुंठिच राणा भक्तवत्सल परमात्मा जीवंच उद्धार वावा में ऊं, पौस, ठंडी, वारा
					कशचिहि तम न
					विवरण फिर से लेना। अनेकाना सन्मार्गला लवले। आदमर्गी पॉल पडले तेर मातृ प्रेमाने
					ममलुओं पुन्हा
					रास्ते में नेतृत्व किया रांझले-गंजलिया को दिलासा दिया। निराश लोगों को आशा दें। गोरगरिबांचे आश्रु
					मवाद। जीवन का रहस्य क्षणभंगुर है, सांगून ने मुझे तन को सुलाना सिखाया। नाराचा
					नारायण ध्यान संगीताली। जीव, शिव कैसे हैं, तुम शिकायत करो। उनका पूरा जीवन एक उत्कृष्ट था
					एक
					शास्त्र हैं। त्यालाच को 'श्री गुरुचरित्र' कहा जाता है।</p>

				<p>एक पल में, सागर पृथ्वी को टैप कर सकता है, लेकिन गरिमा का उल्लंघन नहीं करता है, हे अनुभवी
					व्यक्ति।
					श्रीनारसिंह गुरु, जो सागरला के स्वामी हैं, स्वयं अनंत ब्रह्मांड के नायक हैं, द
					राजाओं के शासक,
					वह है योग सम्राट। फिर भी बड़े कोमल हृदय भक्त हैं। वे निपुण हैं। 'माला अहंकार नहीं' असही
					अहं साधकना नसावा, ऐसे ते संगतत।
					पोहे मितक्या मरित खलेले है। जनाबैंचे डालने दल्ले आहे। कबीरचे शेले विनाले है। अर्जुन का
					घोड़ों
					वे गंदे हैं।</p>
				<h2>श्रीची पूजा, अर्चना और दिनचर्या&nbsp;</h2>
				<p>इस स्थान पर बहुत से भक्त हैं, उनमें कला है, श्री महाराज उनकी मनोकामना पूर्ण करते हैं
					जिज्ञासु अर्थ।
					चूंकि यह स्थान आसपास के गांवों में प्रसिद्ध हो गया था। या इसे वास्तविक जगह पर बनाएं, सब
					ब्रह्मवृन्द वा मनोहर
					पादुकांची तीन बार पूजा कर रही है, केवल पूजा चल रही है।&nbsp;</p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 योगिनी पूजा"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/shrinchya manohar Paduka_0.jpg">
					<figcaption class="figncaption">64 योगिनी पूजा&nbsp;</figcaption>
				</div>
				<p>सुबह या रहस्य की शुरुआत। भूपाला, काकड़ आरती उपक्रम है। थोड़ी देर के लिए श्रीमान
					सूर्यनारायण उदयचलावर इससे पहले श्री महाराजा को कृष्ण माता के हवन में स्नान कराया जाता है और
					पंचोपचार
					महाराज के पादुकावर को भगवा वस्त्र अर्पित कर उनकी पूजा की जाती है और नाग देवता को विराजमान किया जाता
					है
					उस पर स्थापित।
					सुबह में, कलछी पूजा पूरी होती है।&nbsp;9 बजे के बाद कई भक्त गांव आते हैं
					बाहर जाकर नहा लो।
					करुण, पंचामृत पूजन सिद्ध होते हैं। अर्चक स्नान कर भक्तों के पैरों के वस्त्र उतारते हैं
					श्री पादुका की।
					पंचामृत स्नान मनोकामना पूर्ण करने वाला सिद्ध होता है। यह उद्यम आम तौर पर तीन घंटे चलता है।&nbsp;
				</p>
				<p>इसके बाद मध्याहंकाली या पादुकांची महा पूजा शुरू होगी। उस समय पादुकावर दूध, केले,
					आम
					दिन में श्री महाराज को आमरस, दही, दूध,
					तंबाकू और शहद।
					तब जाते हैं तब साफ ऐसे कपड़े पादुकाओं पर जल सोखने के काम आते होंगे। बाद में सुगंधित, लेकिन
					बेहोश सुगंधित
					अटार्चे लेपन केले में जाता है। महाराज शांत स्वभाव के होने के कारण अत्तर भी मोगरा, चमेली के समान होता
					है।
					गुलाब।
					एस्ट। बाद में पादुन्कावर के सुगंधित फूलों का उपयोग गुडी बनाने के लिए किया जाता है। तुलसीपत्र,
					बिल्वपत्र ही
					केले की पेशकश
					चलते हैं बाद में श्री पादुकंवर का दिव्य वक्ष केले से ढका हुआ है। रेशमी वस्त्रों का भोग लगाया जाता है
					यह। बाद
					नागदेव के वरदान को स्थापित करने के बाद उस स्थान पर त्रिमूर्ति के स्वर्ण मुकुट रखे जाते हैं।
					महाराजाना
					दो बजे
					प्यास बुझाने के लिए ठंडे और सुगन्धित जल से भरी कमण्डलूची की व्यवस्था की जाती है।
					बाद में भक्त
					कई लोग महाराज को आरती के रूप में पूजते हैं। बाद में श्री महाराजा रौप्य टाटा ने शद्रस अन्नच में
					नैवेद्य चढ़ाया जाता है। प्रसाद ग्रहण करने और तीर्थ यात्रा करने के बाद सभी भक्त अपने घर जाकर भोजन
					करते हैं
					भोजन हर दिन।
					करने के लिए रवाना इस तरह श्री पादुकांची मध्याह्न पूजा संपन्न होती है।&nbsp;</p>

				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 योगिनी पूजा"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/shrinchi-mahapooja.jpg">
					<figcaption class="figncaption">64 योगिनी पूजा&nbsp;</figcaption>
				</div>
				<p>दोपहर में विद्वान ब्रह्मवृन्द मंजुल श्री महाराज के सामने वेदमंत्रों का पाठ किया करते थे।
					संध्या
					पुराणिक श्री महाराजा को दिव्य पुराण सुनाते थे। सात बजे से
					संध्या
					महाराज की संध्या पूजा प्रारंभ होती है। उस समय अर्चक पंचोपचार का पूजन कर नैवेद्य अर्पित करें
					धूप, मंगल आरती
					करते हैं उस समय चांदी के बर्तन से केसर मिला हुआ दूध, कुछ जंगली जिन्स और अलग-अलग
					फलों के प्रकार
					श्री महाराज को नैवेद्य अर्पित किया जाता है। तत्पश्चात श्री महाराजांची उत्सवमूर्ति दिव्य वस्त्र एवं
					दिव्य
					श्री नारायणस्वामी के मंदिर में अलंकार, मंत्र वाद्य यंत्र और मंत्रोच्चारण से स्वयं को सुशोभित करें
					छतरियों के साथ।
					गुजरात खाली महाराज के मंदिर लाता है। वहां महाराजा को फूल चढ़ाए जाते हैं। उस पर अर्चक
					समय
					ब्रह्मवृन्द दिव्या आर्त्य झंजंच्य गजरत कहतन। फिर ऐसे महाराजची उत्सवमूर्ति को सुशोभित करें
					गजरा में शिबिके और मंगल में बैठकर उन्होंने शिबिके के राजा की तीन परिक्रमा की
					परिक्रमा।
					उस समय ब्रह्मबृन्द के सब उपासक और भक्त निर्निराले मंगल हैं
					पड़नी और भावपूर्ण अंत:कारणने श्री।
					महाराजा को प्रसन्न करता है। उसके बाद तीर्थप्रसाद किया जाता है और ब्रह्मवृंद मन्त्रों का जाप करते हैं
					महाराजा को संतुष्ट करता है।
					बाद में महाराज मन्त्र गजरा ने दिव्य नाम में श्री नारायण स्वामींचे मंदिर में विराजमान होने की घोषणा
					की
					उसकी जगह
					वे रात को सोते थे। श्री महाराज शयनकक्ष में प्रवेश करते हैं और वे द्वार बंद हो जाते हैं। सेवा देना
					भक्त अपने घर जाते हैं।&nbsp;</p>
				<p>खरोखराच श्रीदत्तमहाराज के नाम का पाठ करने से सभी विकार शांत हो जाते हैं। परमपावन
					दत्तकथा भावरोग्यला अमृतवल्ली
					वे समान हैं और उन्हें सुनने से भवबंधन में बाधा नहीं आती। पवित्र दत्तप्रबोधिनी मात्रा
					भवरोग्ने
					जन्म कार्यकर्ता की यात्रा को लेना और चुकाना। जीवन के जन्म और मृत्यु का अंत क्या है?
					श्री गुरुपादुकन का भक्त, जो निरंतर प्रबुद्ध है, एक पल के लिए भी नहीं भूल सकता। धार्मिक
					मन
					अच्छा आचरण करने वाले भक्तों का श्रीगुरु से बड़ा प्रेम होता है; अतः अत्रि-अनसूया, राजा-सुमति,
					अम्बा-माधव
					अथवा एक गुणी पति पत्नी की भक्ति, निष्ठा, प्रेम या गुणों के कारण श्री गुरु को प्राप्त हुए
					गर्भवती। अवधूत,
					ब्रह्मचारी, सन्यासी आशा वेशानी समाज प्रबोधन बनाना।</p>
				<p>भगवान श्री गुरुदत्त बच्चों को परब्रह्म वास्तु प्रदान करते हैं। पापियों के लिए प्रायश्चित शिक्षा&nbsp;
					संकटग्रस्त लोगों को संकट से मुक्त करते हैं।&nbsp;बनवाकर मोक्ष देते हैं
					आत्मज्ञान का त्याग। रोगियों के लिए दवा
					दे देते हैं अभिमान का नाश कर देते हैं अभिमान को। वह उन लोगों को स्वर्ग देता है जो स्वर्ग में हैं।
					ते दयासागर नरसिम्हा
					सरस्वती गुरुराज रूपणे साक्षात मदन वाणिन, बृहस्पति, क्षमाने पृथ्वी सहिष्णु, प्रज्ञा महान
					विद्वान और
					तेजाने प्रत्यक्ष सूर्यनारायण भष्टत। भक्तों को दुःख से मुक्त करने के लिए, उन्हें प्रसन्न करने के लिए,
					नरसोबवादिला अखंड
					जगत बैठ जाता है। भगवंतला को सहारा देने के लिए स्वर्गीय देवता का जन्म मानव रूप में हुआ था
					हर अवतार।
					मनुष्य के रूप में आकर, परमेश्वराल सहन करते हैं। रामावतारत वनरांच्य रुपाणे,
					कृष्णावतारत
					यादवरूपे देवानी के रूप में जन्म लेकर भगवंतला सहचरी होतीं। या श्रीदत्त
					महाराज के श्री नृसिंहसरस्वती
					एक अवतारी पुजारी होने के नाते, वह उन्हें सहन कर रहा है। अलस गावचे भैरवभट जेरे वा मूल पुरुष
					देवताओं के रूप में भक्तों की
					हैं। आगे मृतक देवाच और भैरव के पौत्र दत्तप्रभु की इच्छा जानकर
					भाटजी के पोते,
					प्रपौत्र ने बाद के सभी कुलविस्तरों और के आकर्षक रूप में अवतार लिया
					श्री नृसिंह सरस्वती भगवंत।
					पादुकांचि त्रिकाल की पूजा करने लगे। त्य देवस्वरूप द्विजनी श्री गुरु भक्तला
					काम चिंकारार्थमनोरथ:। देवद्विजप्रसादेना। सर्वे अर्थात भवन्तु ते। चिंतित
					मनोरथसिद्धिरास्तु”
					कार्य सफल हो गया।
					समझा। श्रीदत्तप्रभु का समर्थन करने वाले वंशानुगत भक्ति वाले लोग, ऐसे के उपासक हैं
					श्रीनृसिंहवाड़ी।
					रूप जल के रूप में दिखाई पड़ता है, ऐसा अनुभव होता है कि स्वर्ग के सारे देवता हैं। ऊन, बारिश, हवा,
					ठंडा, जो भी हो
					आसो; श्रीकृष्ण का कुशित शिरुण प्रभुंची से ही स्नान करता है। सुबह 5 बजे से रात 10 बजे तक
					विभिन्न सेवाएं करेंगे। पालकी मीरवण धन्य परिक्रमा करेंगी। काकड़ती से
					शेजरति ची वा प्रभु
					दिव्य सेवा लेकर, प्रभु के सुंदर चरण, अपना आधा सिर उनके चरणों में रख दिया
					सोचो।&nbsp;</p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 योगिनी पूजा"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/datta-maharaj-utsav-murti-nrusihawadi.jpg">
					<figcaption class="figncaption">64 योगिनी पूजा&nbsp;</figcaption>
				</div>
				<p>नृसिंहवादित&nbsp;कृष्णमाई उत्सव&nbsp;कार्यक्रम जारी है। अनेक भक्त&nbsp;आपपल्य
					वाहन
					नित्या यहाँ&nbsp;अभी तक। विभिन्न उपासक एक लेने के बाद श्री महाराज की पूजा में भाग लेते हैं
					गंगा स्नान. या जगह श्रीमान
					महाराज के उत्सव ही मनाए जाते हैं। श्री दत्त जयंती, श्री गुरु द्वादशी, श्री नरसिंह
					जयंती। श्री।
					गुरुप्रतिपदा, श्री गुरुपूर्णिमा, श्री नारायण स्वामींच उत्सव, श्री तेम्बे स्वामींच उत्सव हैं
					त्योहारों
					सजरे केले जाते हैं।&nbsp;</p>
				<p>दसवें दिन, श्री महाराज अपनी महिमा से भरे शिलिंगनस जाते हैं। दीपावली सर्व अर्चंच्य
					देवियों ने दिव्य वस्त्र पहने, श्री महाराजा को ओवलतट। श्रीमान महाराज पूर्णिमा से पंचमी तक
					यहां लंबे-लंबे भक्त दर्शन करने आते हैं। ते महाराज एक सन्यासी होने के नाते, पवित्र&nbsp;
					अर्चाकांशा के बिना मंडपेट में प्रवेश नहीं मिलता है। शिबिकेला में किसी को भी बिना प्रणाम किए
					शिबाइक का समय
					स्पर्श का कोई नियम नहीं है। इसके लिए धोती पहने भक्त, उपर वाले और बायीं ओर होते हैं
					पक्ष
					शर्ट व अन्य कपड़े पहने हुए हैं। शिबाइक के बाद अब्दागिरी और छत्र हैं। आशा राजवैभवत
					महाराज
					शिबाइक में चढ़ाई। मंदिर के बाहर मिठाई, धार्मिक किताबों की दुकानें सज गई हैं। शाम को
					सनाई और चौघड़ा के वादन से श्री महाराज संतुष्ट होते।</p>
				<p>नृसिंहवाड़ी में श्री मारुतिराय का मंदिर है। श्री ब्रह्मानंदस्वामी, श्री नारायणस्वामी मंदिर,
					आदि।
					देवताओं के मन्दिर हैं। श्री नृसिंहवाड़ी में बस्ती चन्द्रमा के समान बढ़ती जा रही है
					उज्जवल पक्ष। कई भक्त
					मेल-मिलाप और शांति प्राप्त होगी। इसलिए यहां मामले आ रहे हैं। दार बड़ा वार्शनी
					श्रीगंगामाई श्री कृष्णमैला
					भेटयला जीते।&nbsp;&nbsp;लाखों भक्त या मित्र शामिल होते हैं और आपको शुद्ध बनाते हैं।&nbsp;
				</p>
				<p>वेदपाठाशालेची&nbsp;गावचे के बाहर एक खूबसूरत जगह में स्थापित किया गया था और छात्रों ने अध्ययन किया था
					वहाँ।
					वे बुराई करते हैं। बाहर सुगंधित फूलों का बगीचा है। उन बाग के फूलों को अर्पित किया जाता है
					महाराजा।</p>

				<h1>दिव्य सतपुरुषन्या&nbsp;&nbsp;नाज़ारेतून नृसिंहवाड़ी महात्म्य</h1>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 योगिनी पूजा"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/tembeswami.jpg">
					<figcaption class="figncaption">64 योगिनी पूजा&nbsp;</figcaption>
				</div>
				<p>श्रीतेनबेस्वामी महाराज की अवधि 1776 से 1836 तक, 1854 से 1914 तक थी। जन्म से पहले पन्ने
					का
					श्री नारायण स्वामी महाराज का जीवनकाल वर्षों जितना लंबा होना चाहिए। दोनों एक ही के हैं
					सरस्वती संप्रदाय।
					श्रीनारायणस्वामी महाराजना श्रीदत्तमहाराजन की संन्यास दीक्षा का उल्लेख उनके चरित्र में मिलता है।
					श्रीवासुदेवानंदसरस्वतिनाही श्रीनरसिंहसरस्वतीमहाराजनीच संन्यास दीक्षा प्रथम है।
					दिल, मगहोन
					उसने उज्जयिनी के दूसरे स्वामींकाडु को दण्डित किया। पान गंगाखेड़ला श्रीतेम्बेस्वामी महाराजानि
					पत्नी की मृत्यु के चौदहवें दिन सेवानिवृत्त हुए। तभी बैंक से एक मास्टर उनके पास आए
					नदी का।
					उनके चरित्र में उल्लेख है कि उन्होंने मंत्र का उपदेश दिया और चले गए। मूल
					यह मानना कि गुरु श्री नृसिंह सरस्वती महाराज अशोभनीय हैं।</p>
				<p>श्रीनारायण स्वामीमहारा द्वारा लिखी गई पुस्तकें उपलब्ध नहीं हैं, जिसके कारण उन्होंने अपना पूरा किया
					काशी क्षेत्र में अध्ययन।
					हमारे गुरु की इच्छा के अनुसार उन्हें दी गई प्रतिज्ञा गुरुदक्षिणा हो। प्रत्यक्ष कारण
					जिस प्रकार खण्डन प्रवचन में एक प्रकार का वाद-विवाद होता है उसी प्रकार खण्डन किसी के लेखन में होता
					है।
					किताब।
					स्वपक्षमदन अस वदानश राहच। इस वजह से उन्होंने गुरु के त्याग का संकल्प रखा
					संघ अंत तक।
					श्रीनारायणस्वामी के केलों के लिए 'सप्तसागर' प्रसिद्ध है। लेकिन हे अन्य कोई तेरी केला होना चाहिए
					असाही एक
					मतप्रवाह आहे।&nbsp;नारायणस्वामी उत्तम भगवद्भजन करित असत्।&nbsp;श्रीमहालक्ष्मीदेविना उंकी
					भजन
					एकवेसे वातल्याने मुद्दम, उन्होंने महाराजा कोल्हापुर और उस महाराजाणी के पास जाने की इच्छा व्यक्त की
					पूर्णा केली, ऐसे उनके चरित्र आहे। श्रीनारायण स्वामी के शिष्य गुरुभक्त विश्वम्भर
					धोबले पुजारी
					यांचे प्रसादपूर्णा वद। मई आर्त्य, पाडे ई। रुपाणे प्रसिद्ध है और आज वही वाडी क्षेत्र होना है
					समय-समय पर एकत्र किया गया।
					उन सबको एकत्रित करना, उनका संकलन करना और प्रसिद्ध करना, प्रकाशित करने का श्रेय अ
					प्रसादिक वाडमय
					यह कार्य मौजूदा दत्तदेव संस्थान के विश्वस्तनी द्वारा किया जाना चाहिए, केवल इच्छा।</p>
				<p>श्रीवासुदेवानंद तेम्बेस्वामी महाराजान्नी राहेली विभिन्न भजन, संस्कृत, प्राकृत कई ग्रंथ,
					उप-पाठ,
					सर्वशास्त्र टीका आदि विपुल वद्मय प्रसिद्ध है। ये सभी श्रीगुलवाणी के प्रसिद्ध केले हैं
					महाराजानी।
					'ऋतंभराचा प्रज्ञा' या सूत्र के अनुसार, उनका ज्ञान दुनिया से परे है, उनके प्रवचन हैं
					प्रत्युत्पन्नमति ने विभिन्न शास्त्रों को असत्य के रूप में प्रदर्शित किया। वदिशाश्री पूर्व द्वारा की
					गई
					उन्होंने संस्कृत ग्रन्थ हरिवदर में सन्यास लेने के बाद कई दिनों तक टीका लिखी। उस पर मूल
					समय
					जैसा कि उल्लेख किया गया है, पाठ वदिसहस्री पास में उपलब्ध नहीं था। मुझे इस तरह की एक अनूठी किताब
					लिखनी है
					यह
					उन्हें जिम्मेदारी का कोई एहसास नहीं था।</p>
				<p>अंत में 'श्री कृष्ण हरि' लिखा है -</p>
				<p><strong>कृष्णस्थप्रयत्मति-रवासुदेवसरस्वती। कृष्णमस्तौदत: प्रियनारसिंहसरस्वती।
					</strong><br>
					तात्पर्य यह है कि कृष्ण तिरावर में रहने वाले भगवान श्रीकृष्ण ने बुद्धिमानी दी
					प्रेरणा, केवल कृष्ण हरि का गुणगान किया।
					अहा। बुद्धि द्वारा रचा गया ग्रंथ परमात्मा का रूप है, भाव ही अंत में महाराज है
					'वदिशाश्री' पुस्तक के
					एक्सप्रेस।</p>
				<p><strong>'एस एवत्रेयगोत्रोत्थगणेशब्रह्मपुत्रगन। पुनर्नोर्थो जययात्रा ग्रन्थात्मा तारकोयव्य:
						॥'</strong><br>
					गणेशब्रह्मपुत्रच्य वनीला शोधक तोच ग्रन्थात्मा दत्तप्रभु तारक सभी को
					सर्वोत्करसने या जगत रहता आहे।</p>

				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 योगिनी पूजा"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/tembeswami.jpg">
					<figcaption class="figncaption">64 योगिनी पूजा&nbsp;</figcaption>
				</div>
				<p>हे दोनों ज्ञानी महात्मे 'तस्मिस्ताज्जने भेदभावत' या नारदोक्ति के समान भगवत रूप में हैं।
					वे विश्वधारा, विशेष रूप से वाडीक्षेत्र के प्रति बहुत उत्सुक रहते थे। इसलिए समय-समय पर वे
					एक भव्य आदेश होता। अर्थात वदीक्षेत्र सदैव उन्नति के पथ पर अग्रसर रहे
					जैसे श्री दत्त महाराज।
					मुझे लगता है कि पूर्ण आनंद की प्राप्ति और दुख का पूर्ण त्याग ही इसका मुख्य साधन है
					प्रगति और इसका वास्तविक कारण धर्म है।
					अहा। इसलिए भगवान के वचन 'धर्मस्थानार्थाय सम्भमवि युगे युगे' जैसे हैं। 'उर्ध्वाबहुरविरोमयेश
					नृत्य'
					कश्चित श्रीनोति में। धर्मदार्थश्च कामश्च स किमर्थ न सेव्यते॥
					हैं। लेकिन धनोन्मुख, कर्म प्रधान किम्बाहुना धर्मविहीन कलियुग की ओर कौन ध्यान देगा
					धर्म?</p>
				<p>प्रभुणी श्रीपाद श्रीवल्लभ और श्रीनरसिंहसरस्वती धर्म को बढ़ाने वाले हैं।
					उनके रवैये को कम करके लोगों के हित।
					दोनों ही अवतार कलि को लेकर अखंड धर्म प्रचार का कार्य करते रहे हैं
					युगत। यादगार घटना
					केंद्रीय स्थान का अर्थ है वह स्थान जहां पवित्र स्थान में भगवान की स्थापना स्थित है।
					योगदाराचनस्यतिशायनात। अभिरुप्यच बिम्बनान देव: सन्निध्यमृच्छति ॥' या घरेलू देवता के रूप में
					वादे के अनुसार।
					अथवा ग्राम देवता का प्रकटीकरण, आर्चकैश का व्यक्तिगत शरीर, वाक्, वाक्
					निरंतर तपस्या
					एक कारण है और यह भी उनके द्वारा दैनिक रूप से किया जाएगा, जानबूझकर देवताओं की पूजा की जाएगी
					विशेष पूजा है अहम कारण।</p>
				<p>पुरविचे तपस्या पानी की कमी का साधन है; अपिचेत सुदुरचारो बाजाते
					मनोन्याभक साधुरेव सा मन्तव्यः सम्यग्व्यवासितो हि सः ॥' या श्लोकत श्री भगवान हेच संहतत।
					इसका मतलब
					आचारधर्म सुत्ला ट्राई चालेल और ऐसे बिंगण चालनार नहीं। कारण है, 'आचारहीन न पुनन्ति वेदः'।
					ऐसे स्पष्ट शब्द।
					अहा। अर्थ : आचरण, धर्म और ईश्वर की उपासना दोनों साधनों का समन्वय ही साधन है
					व्यक्तिगत और सामुदायिक कल्याण की।
					अहा। श्रीनारायणस्वामी और के स्थान पर यह समन्वय उत्साहपूर्वक हुआ होगा
					श्री टेम्बेस्वामी। तो उनका
					आदेश के अनुसार क्षेत्र के विकास में काफी मदद मिली। श्रीतेनबेमहाराजनी 'युवा
					शिक्षा'
					ग्रंथ के अंत में छंदों में श्रीनारायणस्वामी के चरित्र को फिर से दिया गया है।
					जिसका पहला श्लोक
					आहे। 'कृष्णपंचनदियोगे'भ्यार्च्य श्रीदत्तपादुके।
					अर्थ कृष्णा-पंचगंगा नदी के संगम श्रीदत्तपादुका के भक्त नारायणस्वामी या की पूजा करते हैं
					कलियुग
					जीवनमुक्त पदवी पोचले जाउँ। आशिक प्रभुंचि कृपा सब पर प्रभु की उन्नति ।
					उद्यान क्षेत्र
					इस 'मनोहर पादुका' को करना श्री नृसिंह सरस्वती महाराज की अखंड प्रार्थना है।</p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 योगिनी पूजा"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/nrusihawadi-01.jpg">
					<figcaption class="figncaption">64 योगिनी पूजा&nbsp;</figcaption>
				</div>
				<p><strong>दूरी उपसर्ग दूर असती है। परी मौत के करीब।<br>
						वह चुनाव निश्चित रूप से बताता है। ॥<br>
						क्रोध, द्वेष, अहंकार। वासना, क्रोध, ईर्ष्या।<br>
						अवसादग्रस्तता मनोविकार। हेचि असुर निश्चय ॥<br>
						उनका आधा करिता दमन। कोथून एक बाहरी राक्षस के रूप में उभरता है।<br>
						इनका स्वभाव घातक बताया जाता है। यांसी जापून राहिजे ॥</strong></p>
				<p>दुष्ट आत्माओं को जो दूर हैं उन्हें शांत करने की कोशिश करने के बजाय दुश्मन के रूप में देखते हुए
					शत्रु को महा विपदा मत बनाओ। भीतर के शत्रु शांत रहते हैं और बाहर के शत्रु शांत नहीं रहते
					दृश्यमान।&nbsp;धर्मराजच्य
					ज्ञात उष्टी को दूर करने के लिए केला उपयोगी होता है। श्री नरसिम्हा गुरुसुद्ध जो धर्म का पालन करते
					हैं, का
					सात्विक भाव,
					और जिन घरों में सतशील, विनम्र स्वभाव सती हैं, वे ब्राह्मणों के घर गए हैं
					भिक्षा। उद्दंड,
					अहंकारी ऐसे धनी लोगों के पास कभी नहीं गए। ईश्वर प्रेम का भूखा है,
					No.&nbsp;समाज सेवा, दान, कर्तव्यपरायणता, विनम्रता, प्रेम, विश्वास, निष्ठा, निःस्वार्थता,
					समाधान पाने के लिए पूजा और शांति या सद्गुणों की स्वीकृति बहुत जरूरी है। मार्गलेला समुदाय
					त्योहारों
					फिर से होश में आना; इसलिए केले के रस को ध्यान में रखते हुए सजाना चाहिए
					त्यौहार। साधुसंत और अवतारी
					पुरुषों के लिए बने उत्सव के लिए यह संभव होना चाहिए। प्यारा लेकिन शिष्ट!</p>
				<p><strong>खुशी के लिए करीसी तलमल।<br>
						तारि तू वादीस जय एक वेल.<br>
						मगर तू अवघाची वर्दी होसी।<br>
						कई जन्मों के दुख चले गए।</strong></p>

				<div role="group" class="caption caption-img align-left data-img">
					<img alt="64 योगिनी पूजा"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/kanyagat-maha-parva-kaal.jpg">
					<figcaption class="figncaption">64 योगिनी पूजा&nbsp;</figcaption>
				</div>
				<एच1>
					<p>श्री क्षेत्र नृसिंहवाड़ी, शिरोल तालुका, कोल्हापुर जिला, का अर्थ है श्रीदत्तमहाराजंची लड़की।
						राजधानी श्रीनरसोबाची वाडी में 12 महीने तक 24 घंटे के लिए पुण्यकालच लगता है। वहाँ गुरु
						कन्या राशित
						गेलावर&nbsp;महापुण्यकाल पूरे साल शुरू होता है।&nbsp;त्यालाच कन्यागता महापर्वकाल कहते हैं।
						श्री क्षेत्र
						नृसिंहवाड़ी&nbsp;यहां हर 12 साल में, हर 12 साल में एक बार कन्याघाट सोहला मनाया जाता है
						बड़े पैमाने पर। ऐसा कहा
						हर 12 साल में एक बार, गंगा यहाँ अवतरित (प्रकट) होती थी, और फिर
						उत्सवमुर्तिला और गंगा स्नान किया जाता है। इसे शाही स्नान भी कहते हैं। हे स्नान 'शुक्ल तीर्थ'
						नामित स्थान समृद्ध होते।</p>
					<p>पहले दिन के पहले दिन
						श्रीदत्त महाराज के उत्सवमूर्ति देवद्विज पालखित मीरवानुकाइन मंदिर के सामने विराजमान होंगे।
						जो शुक्लतीर्थस्थान अनुन हैं वे उत्सव स्थल का अनुपम सोहला करते हैं। हाथी,
						मीरवानुकी में घोड़े,
						छत्र, चमार, चौघड़ा, वजंत्री आदि अनेक प्रकार के वाद्य यंत्रों की शान हैं
						लोग। आरती, पाडे, इंदुकोटी,
						भजन आदि धार्मिक कार्यक्रमों की निरन्तर आलोचना की जाती है। गुरुमूर्तिची आरती सुवासिनिंकाडु में
						प्रत्येक घर
						हा नयनमनोहर सोहला भविष्यकन्नी चुक्वु नए होते।</p>
					<p>इस तीर्थस्थल पर सात नदियां मिलती हैं
						पावन हुई भूमि कृष्णतीरावर शुक्लतीर्थ, पाप विनाशक, काम्य, सिद्ध, अमर, कोटि,
						शक्ति व
						प्रयागतीर्थ आशी अष्टतीर्थे आशा या परम दिव्यस्थानी कन्यागत कलात, जो कृष्ण के यहाँ स्नान करती हैं
						साल भर पानी
						भक्तों से मुंडन-क्षौर, पोषण, हिरण्य श्राद्ध करवाना चाहिए; मतलब पूर्वज
						बचाया जाना चाहिए। गंगा पूजा
						तीर्थाश्रद्ध अवश्य करना शुभ के बाद का विधान है, श्रीदत्तप्रभुंची महापूजा, ब्राह्मण सुवासिनी
						भोजन करें सन्यासी सतपुरुषांची समाधि मंदिर अत्यधिक पूजनीय हैं।
						कुंवारी त्योहार की तरह लगता है। वदित उत्साह से प्रेरित है। प्यार सच हो जाता है। सुख आता है
						लहरों से। पण
						भक्तराजों को भी अपनी व्यक्तिगत योग्यता में वृद्धि करते हुए जनता जनार्दन के बारे में सोचना चाहिए।
					</p>
					<p>गांव में कुल 8 तीर्थ हैं। इनमें प्रथम तीर्थ शुक्ल हैं
						तीर्थ.&nbsp;ओटवाड़ी का स्थान
						मार्गला वेदपाठ स्कूल से थोड़ा आगे, आप गेट देख सकते हैं। छप्पर 12 साल पहले गंगा
						एक बार अवतार लिया
						देवलातून स्वामींची पालकी वजात्गजत त्या स्थली दिलवाझेजदे&nbsp;तब्बल 15
						तसंच अवधी कोस्टो।
						दरअसल यह अंतर एक किमी से भी कम है। एकदच में केवल 12 साल की पान श्रींची पालकी
						गाँव rajnagar
						इसलिए हर घर के सामने पालकी रुकती थी। उस समय घर की महिलाएं
						त्योहार के प्रतीक, पालकी खींची
						पालखी के रास्ते में वेलवेट भी करते हैं और फूल भी। तिवारीं वजात राजपत्र पालकी
						शुक्लतीर्थवर पहुंचता है।&nbsp;जब गंगा उतरती है, उत्सवमूर्ति के शाही स्नान का क्षण होता है
						लिया।
						जा रहा है।&nbsp;तेथून नदी का पानी देवलछाया की ओर बहता है। श्रृंग्य स्नान के जल को ओढ़ने के लिए
						प्रधान
						हजारों भक्त देवता की प्रतीक्षा करते हैं।</p>
					<p>शाही स्नान के बाद सभी को उपहार और आतिशबाजी की घोषणा की गई। मंदिर में भक्त
						आतिशबाज़ी होतच नदित बूदी मारून श्रींच्या स्नांचे पानी और ही हेडकावर। या शाही के बाद
						नहाना
						नियोजित सभी विधि अतपुन पालकी परत देवलच्य की ओर प्रस्थान करती है। तभी सभी क्रियाओं का आधा
						होता होगा पालकी शुक्ल पहले गली में तीर्थ जाते हैं और फिर देवलक और जाते हैं
						दूसरी गली में जाता है।
						इस प्रकार मुख्य सोहला पूरा हो जाता। गंगा ने अगले 13 दिनों तक यहाँ निवास किया
						महीनों और फिर 12 महीनों के लिए।
						बरसात की परत उतर जाती।</p>
					<p>सह्य पर्वतवर उगम पर्वतये, जो कृष्ण की तरह सार्वभौमिक रूप से स्वीकृत और कृतज्ञ हैं
						गंगा नदी, साल भर गंगा के दर्शन करने और हकीकत को पूरा करने आती है।
						वह पापी लोगों के साथ संपर्क बनाकर सभी पापों को नष्ट कर देगा। अभी भी सहने योग्य
						MOUNTAINEER
						गंगाकुंदतुन 'कन्या' राशि गुरु गेलावर में जल के बाद मां गंगा प्रकट होती
						प्रवाह प्रारंभ हुआ। बाकी समय पर
						इसलिए बहाव नहीं दिख रहा है। हर बारह साल में यह सबसे पवित्र त्योहार माना जाता है
						बारह साल। इस समय
						श्रीनृसिंहवदीत भक्तवत्सल श्रीदत्त महाराज पलखित बसुन दूर बड़े ठठाने
						शुक्लतीर्थवर स्नान
						यह वह स्थान है जहाँ कृष्ण माता पश्चिम वाहिनी हुई है। त्यागी पर
						श्रींच्य स्नान समारोह का समय
						कृष्ण की धारा में स्नान कर लेना ही परम पुण्य है। स्नान संस्कार, अन्य धार्मिक अनुष्ठान
						और परत पालकी
						मंदिर आएं, 15 से 18 घंटे टहलें। आँखों को पार देखने के लिए।</p>
					<p>या महापर्वच्य अत्युच्य सुमुहूर्तवर भगवान दत्तात्रेय के शुक्लतीर्थवर ने लिया होगा महान
						नहाना। इसके बाद
						हजारों दत्त भक्त उस पवित्र स्थान में स्नान करते हैं। तत्पुरी श्रीदत्त से बारात
						दूर मोठी को मंदिर
						महाराज की मीरवानुकिची की शुभ सूचना को छोड़कर सबसे पहले चौधा सनाई दतेल।
						त्यागमगे अश्ववादी
						आधुनिक वाद्ययंत्र जैसे पथका, बैंड या जैसे, लेझिम पथका, उसके बाद श्रींच्या पालकीगेट
						पुरोहित वर्ग और अन्य
						दत्त के भक्त धोतार और उपरने या पारंपरिक वर्दी पहनते हैं और भजन गाते हैं। और
						बलिदान
						भगवान दत्त महाराज की पालकी, दत्त भक्तों और पूर्ण नृसिंहवटीकेवर कृपा, आशीर्वाद
						देत महाराज शुक्लतीर्थ के लिए प्रस्थान करते हैं। वतेत पंचप्राणंच्य भक्तिपूर्ण भवनेन सुवासिनी
						महाराजा आरती करते हैं। गौभर मंडप, रंगरंगोटी, दिव्यांचा झगमगाट, अत्तर आदि गंधयुक्त
						सड़ांध,
						अगरबत्ती-सुगंध, सड़े पांव, घनी शुभ वातावरण। अवतारों का क्या?
						स्वर्ग और पृथ्वी का?
						ऐसे अनुभव के बिना कोई राहत नहीं मिलती।</p>
					<p>या विराट महापर्वचे सुनियोजित प्रशासन दत्त देवस्थान समिति, ग्राम पंचायत, अन्य
						सरकार और शिक्षा भी
						संगठन युद्ध के मैदान में है। या स्थानीय के साथ-साथ सरकारी तंत्र के माध्यम से
						शुरुआत हो रही है। दत्ता देवस्थान की विकास एवं सुधार देवस्थान समिति कराटे। पर
						महापर्वच्य प. के अवसर पर संगीत के पैमाने का पांचवां स्वर।
						वासुदेवानंद सरस्वती स्वामी महाराज, मैंने दत्तमहाराजन से इन्हीं शब्दों में प्रार्थना की।</p>
					<div role="group" class="caption caption-img align-left data-img">
						<img alt="64 योगिनी पूजा"
							src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/manohar-paduka-lepan01.jpg">
						<figcaption class="figncaption">64 योगिनी पूजा&nbsp;</figcaption>
					</div>
					<h2>चंदन लपन&nbsp;और दक्षिणद्वार परवानी</h2>
					<p>यथिल पुजारी और सेवक गुरुपादुकों की अत्यंत भक्ति के साथ पूजा करते हैं। गर्मियों में पादुकाना
						गर्मी की हताशा का आलम यह है कि पूरे शरीर पर शीतल चंदन का लेप लगा हुआ है। राजा
						ठंडा पानी रखते थे।
						सुगंधित फूल रखता है। अत्यधिक गर्मी के दौरान केवल संताधार रखा जाता है। लगातार रखना
						रस्में चल रही हैं। त्यौहार
						समारोह काले &nbsp;भर्जरी वस्त्र पुष्पांची की विशेष रचना करते हैं। तिर नाडी काठी नाले
						या मंदिरात कृष्ण
						पंचगंगेची का स्तर बढ़ने पर पानी मंदिर में प्रवेश कर जाता था। उत्तर बाइटून पानी
						पादुकावरूण दक्षिण
						तुम द्वार से बाहर आते हो, पर तुम पादुकावरुण में आते हो। वह एक महान होता
						पर्वतारोही। इसलिए भक्त या दक्षिण
						द्वार पर ही स्नान करते हैं और अपने जीवन को सफल मानते हैं। वादिवसितार या परम पावन
						क्षनाला उत्सव रूप
						साजरे करता है। बाहर से कई भक्त संस्थाओं और उपासकों के संपर्क में आते हैं
						बाहर से आ रहा है।
						वह&nbsp;परवानी साधत है। धन्य हैं आप दक्षिणाद्वार परवानी!</p>
					<p>या मस्तानात देव&nbsp;वर&nbsp;उत्सव मुर्तीचे मेरेजन&nbsp;अस्तत। भगत वा काल मनोहर
						पादुका के दर्शन
						नहीं होता है उत्सव मूर्तियाँ&nbsp;दर्शन&nbsp;घाव देती हैं। पानी की कमी होने पर,
						सभी पुजारी और भक्त
						सेवा करने से पूरा मंदिर परिसर धुएं से साफ हो जाता है। अनेक जन्मों का संचित पुण्य असील
						तारक दक्षिण द्वार और
						मंदिर की सेवा का अवसर मिलता है, पुण्य का अवसर मिलता है तो जान सकते हैं
						इसका महत्व। सदर समय
						महाराज पानी में हैं, तो कुदरत उनसे डरेगी, तो ये रही बनाने की विधि
						नए लोगों के लिए काढ़ा।
						यह काढ़ा महाराजा को पिलाया जाता है। कई दवाएं मुख्य रूप से हैं। हच कड़ा पुजारी
						जनकदे व
						इससे भक्तों को अनेक रोगों से सुरक्षा मिलती है, ऐसे भक्त का अनुभव और भक्ति
						अहा। कई पुजारी और नौकर या गरीब लोग महाराज की स्थिति की सेवा करते हैं। यह कहा जाता है
						वह 5
						कई साल पहले जब कई घरों में पानी घुसा तो मरून महाराजा पानी में उड़ गए
						छत।
						पादुक पहुंचकर वहां पूजा-अर्चना की। ये सभी अद्भुत&nbsp;और अद्भुत हैं।
						संक्षेप में, विश्वास की पराकाष्ठा!</p>
					<div role="group" class="caption caption-img align-left data-img">
						<img alt="64 योगिनी पूजा"
							src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DakshinDwar-NarsihaWadi.jpg">
						<figcaption class="figncaption">64 योगिनी पूजा&nbsp;</figcaption>
					</div>
					<h2>वेद मूर्ति भैरवभट जेरेन यंचेवर श्रींच अनुग्रह और नरसिंहवाड़ी इतिहास</h2>
					<p>ई.एस. 1422-1435 या 12 साल के दौरान कृष्णा-पंचगंगा संगम बेहद सुखद रहा होगा
						स्थान। ऑडम्बर, शमी,
						यहां वड़, बेल, पलास, चंदन, साल, देवनार खैर, रुई जैसे दाव के पेड़ लगते थे।
						लोकवस्ती फारसी नहीं थी। संगीत के पैमाने का पाँचवाँ स्वर।
						संगीत के पैमाने का पाँचवाँ स्वर। रामचन्द्र योगी और कुछ और योगी आकर ठहर जाते
						यहाँ तपचरण के लिए। अमरापुर, कृष्णा के पूर्व में
						उसके दक्षिण में आदिच-तीन मालावर अलास नाम का एक गाँव है। या बहुतों से संपन्न गाँव
						वेदों
						ब्राह्मणों के अनेक घर होते थे। या पंच क्रोषित कुरुंदवाद, शिरोल अमरापुर आशी गवे होती।
						brahmavridanche
						यहां आने के लिए जाना होगा।</p>
					<p>भैरवभट्ट नवाचे वृद्ध ब्राह्मण आलस्य के बीच में निश्चिंत हो जाते। वे
						वेदों से परिपूर्ण और सदाचारी थे। उनका
						पत्नी अत्यंत गुणी और गुणवान होती। पति भगवान का गुरु और सब कुछ है
						इस तरह से है।
						आपस में अपार प्रेम होता। घर एक मंदिर जैसा होता। लेकिन
						दुर्भाग्य से यह शादी
						निःसंतान होता। आप एक दूसरे का बहुत ख्याल रखते हैं। पंचक्रोषित भैरवभट्टना
						बहुत सम्मान होता। आलस्य,
						अमरापुर, गोपुर, शिरोल, कुरुंदवाड़ वा ग्राम ते पुरोहित्य करित करित। शिरोला दर्शन कर रहे हैं
						अमरेश्वरतली में।
						कृष्णा। नदी पर ओलंदून पंचगंगेच्य कथाना शिरोला जाति। वर्षा ऋतु गंगानुज
						नवेतून उन्हें कृष्णा क्रॉस
						इसको ऐसे करो। एकादिवशी शिरोल जटाना अमरेश्वरी दर्शन लेखवर संगमतिरावर वाणे
						अश्वत्थ
						वृक्षचेतली बसलेले, एक तेजपुंज साधु बसलेले दिसले। उस दिव्य मूर्ति को देखकर भैरव भाटजी का
						हाथ
						अनाहत फलक जोड़ा गया। ओलंदुन नदी पश्चिम तिरावर तक पहुंची और उन लोगों के बहुत करीब से दर्शन किए
						महान आत्माएं।
						भगवा वस्त्र, रुद्राक्ष की माला, कपालवार त्रिपुण्ड्र (भस्मचे) लाए गए।
						दिव्य मूर्तियां।
						भैरव भट्ट देखकर मंत्रमुग्ध हो गए।&nbsp;</p>
					<p>ऑडुम्बर तलवती बसलेली दिव्यमूर्ति का अर्थ है भैरव भट्टानी जो वास्तव में नरसिंह सरस्वती हैं
						स्वामी महाराज।
						साष्टांग नमस्कार घाटला और स्वामी उच्चरिले 'नारायण'। भैरव भट्ट शिरोला गए और
						फिर से वह
						स्वामी महाराज के दर्शन किए। और घर जाकर अपनी पत्नी और पति का वर्णन करता रहा। हां
						ऐसा नियमित रूप से होने लगा, वे यात्रीराज के दर्शन से आच्छादित हो गए। श्री गुरुच्या
						'नारायण' वा
						सुखद शब्द। इसके अलावा कोई बातचीत नहीं हो रही है. भाटजी
						यतिराज उस समय शाम को यतिराज के दर्शन कर जाते। भाभी संध्या
						केली.पास
						आसनस्थ यतिराज। ना नाम निशान केला और घर में गया तो स्वामी जी ने कहा, "मिल रहा है
						अँधेरा।
						ओह और तुम बहुत बूढ़े हो गए हो, इतने दुर्गम जंगल में साथ नहीं जाना चाहते, यहीं रहो
						आज और सुबह में
						जाओ।"
						बोला था। उनकी मधुर वाणी ईश्वर का दुर्लभ साहचर्य है; सो वह रुका रहा
						फैसला किया।&nbsp;</p>
					<p>स्वामी ने उनके बारे में पूछताछ शुरू की। तब भाटजी ने कहा, "अमहि अलस गावचे देशस्थ ब्राह्मण
						गोत्र भारद्वाज। पिता वेदोनारायण रहे होंगे। घरानाजिकच विश्वेश्वरचे मंदिर जे
						श्रीमद् शंकराचार्य
						वह वहीं स्थापित होकर नित्य पूजा और रुद्रपाठ करता है। जगदंबा एकवीरा कुलदेवी हैं। एम
						panchcroshit
						पुरोहित पत्नी सतशील और सदाचारी होती है। लेकिन आह बच्चा नहीं है। मैं बूढ़ा हो गया हूं और मेरी
						पत्नी
						आ गया है
						साथी ओलंदली। आर्थिक स्थिति असह्य है, लेकिन एकवीरा माता की कृपा से कभी अन्न की कमी नहीं हुई।
						घर
						अग्निहोत्र है। इसलिए तीर्थ यात्रा पर नहीं गए। आपको देखने के बाद से सभी तीर्थंकर शामिल हो जाते
						हैं
						हाथ
						हैं। आपलानारायण शब्द सुनकर मन प्रफुल्लित हो उठता है, आनंदित हो जाता है, रोगी हो जाता है और
						मृत्यु से डर जाता है।
						ऐसा नहीं लगता कि श्रीगुरु की कृपा दृष्टि ऊपर उठी और कहा, "मैं आम, मग के लिए इतना सम्मान महसूस
						करता हूं
						संगमवरच।
						रहयला या ना!" यह वाक्य अद्वितीय है और भटजी गोंधाले। स्वामी महाराज अलौकिक हैं
						त्रिकालज्ञानी दिव्य पुरुष।
						हे भटजीना पटले, लेकिन आप क्या कह सकते हैं? श्री गुरुनी ने इस स्थिति को पहचाना और कहा, "हां
						तपोभूमित
						आमे अम्हास 12 बरस लोटली। चलो दूसरी जगह चलते हैं। हालाँकि, अंतरिक्ष का स्थान जारी है
						बढ़ना
						हम यहां आने वाले भक्तों की मनोकामना पूरी करने हमेशा के लिए यहीं रहेंगे।
						इसलिए साठ वैदिक शास्त्रों के कारण पादुकाओं की नित्य पूजा आवश्यक है और
						गुणी ब्राह्मण।
						हम आपका&nbsp;सम्मान देखकर खुश हैं। तब हमारे परिवार के लोग यहां आकर रहें।
						मुझे लगता है।"
						बारिश गांव से ही आती है, दिन तो चलता है पर रात को कैसे सम्हाला?
						फिलिंग कैसे होगी? सेवा देना
						हाल जानकर मैं यहां रहने आया हूं, फिर भी मेरी पत्नी है, जैमेल क्या है? दुखलम
						खुपल तार वैद्य कोठे? काली स्त्री
						जब पंचगंगा की दुथड़ी हो तो कहां जाएं? क्या करें कहूर केले द्वारा मनाया जाता है
						इस प्रकार भैरवभटांचे।
						फिर भी थोड़ा सा पकड़कर श्री गुरु ने कहा, "महाराज, मेरा जन्म-जन्म भाग्य क्यों है
						श्रीपादुकांची
						मुझे सेवा करने का अवसर मिलता है। लेकिन ऐसा लगता है कि पत्नी के साथ विचारों का आदान-प्रदान होना
						चाहिए
						एकांत स्थान में। आपकी तैयारी होगी
						मैं यहां खुश रहूंगा।"
						भारी अवस्था में भैरव भटानी स्वामी के चरण कस कर जकड़े हुए थे। केवड़ा हा अनूठा आयोजन
						देवादिकानाही
						&nbsp;भटजिंचा हेवा वाटला असेल। पान भातजी की नींद उड़ी &nbsp;एक ही हालत में छाले।&nbsp;
					</p>
					<p>आलस्य के बीच भाटजी की पत्नी आंखें बंद करके बैठ जाती। पति हमेशा
						सूर्यास्त से पहले आता है
						कालोक झालतारी अभी तक कैसे उपलब्ध नहीं हैं? घर में अग्निहोत्र, पत्नी ने किया हवन
						शास्त्रों के अनुसार। और
						पत्नी इंतजार करती रही। साध्वी की चाहत में खलबली मचने लगी। अनेक विचार आने लगे
						मेरा मन। वे बूढ़े हो जाते हैं
						दाग आता सोसत नहीं, आज एकादशीचा व्रत, रोडत चक्कर तार अली नसले ना? कुछ नहीं
						नहीं। आधी रात को देवघराट, एकवीरा मटेला, हल्द कुंकू वाहिले और
						करुणा भाकु लागली।
						"माताएं जीवित हैं। यदि निर्जनों को कोई खतरा हो तो आप आकर रक्षा करें।"
						उन्हें। आप
						आप मेरे कुलदेवता हैं। माँ, आप हमारी सुरक्षा के लिए जिम्मेदार हैं।"
						ग्लानि आली वा ति देव घरा तच पदून राही है। त्या अवस्थेटच माता एकवीरा प्रकट हुईं और बोलीं,
						"हे साध्वी चिंता!
						ऐसा न करें के संगम पर स्वामी महाराज के सान्निध्य में आपका सौभाग्य सुरक्षित है
						कृष्णा-पंचगंगे।
						श्री गुरु आपके सामान्य आचरण और भक्ति से प्रसन्न होते हैं। वह तुम्हें आशीर्वाद देगा।
						मैं तुम्हारे दोस्त के साथ आया हूं, आओ, चिंता मत करो। "मुबारक मुद्रा, माथे पर कुमकुम का तिलक,
						नाज़ुक
						सुवर्णा मंगलसूत्र, पायतिल रुंझुन नूपुरे और मंजुल शब्द अर्थात साध्वी सुखावली। वह
						स्थिति अभी तक
						महाराज की चरणी निद्रिष्ट भैरव भटजी दिसले। आनंद कब तक चला?
						एकवीरा और संगमवरिल यतीराजा के रूपों को बार-बार याद किया जाता।
						घर में महक फैल गई
						सोनचाफा जाउ जूइच वकृष्ण कमल फुलानी आज दावरुन गए। यह भाग्य क्यों है! ब्रह्मा
						मुहूर्तवर स्वामी
						महाराज नहाने चले गए। भैरव भाटजी चले गए और स्वामी महाराज के शरीर से जल बहने लगा
						स्नान कर आशीर्वाद लें। स्नान और संध्या के बाद, स्वामी महाराज को प्रणाम करने के बाद, लेना
						उनका आशीर्वाद
						अपने घर के रास्ते पर चलें।&nbsp;</p>
					<p>भटजी घर आते हैं, दोनों एक दूसरे के साथ अपने दिव्य अनुभव साझा करते थे। दोनों महसूस किया
						दिव्य
						जब साध्वी भाटजी ने भाटजी को गर्म दूध का बर्तन दिया, तो भाटजी ने कहा, "कल त्याग यत्री राजनेचे
						यहाँ।
						उने आमा ठेओंघेटले आपको चिंता वतली असलना?" इस पर पत्नी ने कहा, "माला सर्व जात आहे।
						प्रथम
						आपके अनेक उरकून घ्या मग बोलू"
						क्या श्री सूक्त, रुद्र और पावमन पथ के साथ गोगरा, वैश्वदेव के साथ पूजाकर्म नहीं था
						और काकबलिझाला अतिथिची वाट।
						एक जटाधारी योगी को अपाहिज देखकर। भटजिनी उनके सामने आए और उन्हें श्लोक दिए। देना
						उन्हें खाना
						कृपया अनुरोध करें। सब्जी पका भोजन बढ़ा, महाराज से प्रार्थना की कि आपको भोजन दिलवा दें। जगतपालक
						श्री.
						नरसिंह
						सारस्वतीच रूप पलटन आई, संतुष्ट हुई। भैरवानी यतिन्ना दरभाची मत के बाद आराम करें
						खाना
						बोला था। भाटजी स्वामी महाराज ने अटल घराट और अष्ट भारून के बारे में बात करना शुरू किया।
						बात करते-करते पत्नी ने कहा, एकवीरा मेरे साथ आई है और मैंने तुम्हें और यतिराज को देखा है।
						घडविल। क्या फैसला किया जाना है?
						मुनि वामकुक्षी करने का निश्चय किया, तुम उठे, त्य दंपत्यये ने सोचा, और मुनिवर्य उच्चरिले
						"संगमावर्चे
						संत प्रत्यक्ष दत्तात्रय हैं। जैसा कि आप कई जन्मों से धन्य हैं, इससे आपको लाभ होगा
						उनकी सेवा।
						मन में कोई भय नहीं है, पर मुझे कोई भय नहीं है, मैं वहाँ जाऊँ। मनोहर
						पादुका की पूजा शुरू हुई
						जीरा। वह सभी संकटों को दूर करेगा और हमारे योगक्षेम को चलाने में सक्षम होगा। आप खुश हैं
						वो हैं।"
						इसे ले लिया। ग्रामस्थ, इष्ट, ऋषि सोइरे याने या दिव्य कार्यों की अनुकूलता आखिल्ली!</p>
					<p>अश्विन वाद्य 10 अमाताच्छ त्य दमपत्यने &nbsp;प्रातः आन्हिक अतोपले वैश्वदेव नैवेद्य झाले।
						सिद्धा
						सामग्री, बर्तन-पान लेकर गांव छोड़कर गांव की जड़ ने दिल दे दिया
						शिकायत। यति महाराज को भेंट
						करने के लिए फलाहार लिया। जटाना शुभ शगुन होता रहा;
						भारद्वाज पक्ष की शुभ ध्वनि आला, नेवला युगल अप्रसन्न, सुवासिनी अद्व्या जल लेकर
						कलाशत
						आलिया। अमरेश्वर के युगल ने दर्शन किए। श्रीगुरु कृपा गंगनुज नाडी तेरी प्रतीक्षा
						चाहेंगे। स्वामी महाराज पर्णकुटीत होते। स्वामी महाराज के दर्शन होतेच और युगल के
						अष्टसात्विक भाव
						उठे दोनों ने चरणों में प्रणाम किया। स्वामी महाराजाणी प्रसाद श्रीफल त्य द्विजपत्निचे
						ओटिट
						कपड़े पहने और धन्य &nbsp;आपको अखंड भाग्य का आशीर्वाद मिले! काश तुम ए
						बहुॅ! तेजपुंज स्वामींचे को देखने के लिए
						दंपत्ति भारावून गए होंगे। फिर भी उसने थोड़ा हिचकिचाते हुए सोचा, 'महाराज आटा
						मांझी साथी होते हैं आहे और
						इनकी आयु 80 वर्ष है। पुत्र कैसे प्राप्त होगा? उस पर कृपासिंधु स्वामी ने कहा। हमारी हाँ
						आशीर्वाद का यह जन्म फलदायी होगा, आपको जल्द ही एक पुत्र होगा और उसके चार पुत्र होंगे
						भविष्य। वह
						ऑदुम्बर के चार पुत्रों का परिवार बढ़ने के साथ ही फल देता है। एक शिलेवर पादुका होगी
						प्रकट होना और
						पादुकांचे यवतचंद्रदिवाक्रो पुद्यंपिध्य पूजन करना चाहिए। आटा अमहास जाता है
						गंधर्वनगरी (गंगापुर)
						करिये आहे लेकिन मनोहर पादुकांचे रूपाणे अहर्निश मजे स्वस्थ राहील। यस्थानि तुमहास
						याची
						बार-बार मशहूर होंगे। यहां आने वाले भक्तों की मनोकामना पूरी होगी।
						कहत स्वामिनी औदुम्बर
						वृक्ष के नीचे काला पत्थर, कमदलूटिल कृष्णजल शिम्पडल। उस पर ओंकाराची आकृति बोटानी
						रेखाली व
						वही उँगली रेखतल्या मानव पावलनिचा मुद्रा। वह शंख, चक्र, पद्म,
						गदा, जम्बुफलाशी
						रेखातली और आश्चर्य भग्ता भग्ता या मनोहर पद्यगुल या शिलेवर शुभ के साथ प्रकट हुए
						प्रतीकों।
						इस भैरव को देखकर दंपती और उनके साथी भाव विभोर हो गए। के आँसू
						मेरी आँखों से आनंद बह निकला और
						वर्तमान में स्वामीजी अ.नी मनोहरपादुक के दर्शन होते थे। हैप्पी ते भाग्यवान जे हां
						प्रसंगचे
						प्रत्यक्षदर्शी थे। कुछ देर बाद स्वामीजी भाटजी ने कहा कि आप तैयार करके डाल दें
						पादुकाओं के सामने सामग्री।
						साक्षात अन्न पूर्ण अवतारर अहे। उसकी पूजा करो जो तुम्हारा है लेकिन तुम्हारे बेटे और पोते हैं
						क्षेत्र में रहने वाले ग्रामीणों व श्रद्धालुओं को अब भोजन व उड़कची की चिंता नहीं करनी पड़ेगी
						यहां।
						अन्ना पूर्णेची पूजा पर टूट पड़े। हर तरफ खुशबू फैल गई। भाभी ने मुझे ए
						पर्णकुटी बांध। एकादशी के दिन
						ब्रह्म मुहूर्ती भाटजी और स्वामीजी स्नान करने चले गए। विधवा पत्नी व्यवसाय करने लगी। तब
						और भी हैं
						वावर की प्राप्ति तब हुई थी 64 योगिन्चें। उन्होंने तिल दर्शन व काशी क्षेत्रच्य योगिनी श्री
						सेव साथी
						कृष्ण के पूर्व तिरी कहा है। अन्नपूर्णा माता स्वयं यहाँ महाराज को दान दिया करती थीं। यहां
						भैरवभटाने स्वामी के शरीर से निकले हुए केले, जल में स्नान करके अन्यत्र केले।
						मध्यम महापूजा केली।
						श्री नरसिम्हा स्वामी यहां वास्तविक प्रवास के लिए आएंगे। संगीत के पैमाने का पाँचवाँ स्वर।
						रामचंद्रयोगी
						वास्तव में यहाँ आकर रुके होंगे।
						उन्होंने भैरव भाटस को अपने भाग्य के लिए सलाह दी। और उन्हें श्रीपादश्रीवल्लभ और नरसिंह सरस्वती
						अवतार की जानकारी दी। भैरवदंपत्यस आप्तेश और भक्तवृंदानी के वस्त्र, बर्तन,
						आदतें, गुदा। फलों का दूध
						शक्कर ले आओ। सभी ने श्री गुरु और मनोहर पादुकाना को प्रणाम किया। उधर महाराजाणी भैरव
						भटना पूजाविधान
						बोला था। विधिपूर्वक पवित्र वचनों का पाठ करते हुए नंदीश्रद्ध के बाद श्रींचे पादुका की पूजा करने
						का संकल्प लिया।
						मंत्रोच्चारण और बीच में अविभाज्यता के बाद पादुकावर श्रृंख दिखाई देने लगा
						सर्वना पादुका और श्री
						पतला।</p>
					<p>भैरव भाटजी ने प्रार्थना की, <strong>"महाराज, आपके आशीर्वाद और कृपा से ही आपके परमात्मा
							पादुका की पूजा हमसे हुई है। आशीर्वाद के अनुसार अगले वंशज से
							आपके द्वारा दिया गया
							यवाचचंद्रदिवाक्रो आशिच पूजा अखंड करनी चाहिए। सबको शुद्ध बुद्धि दो,
							धन, प्रसिद्धि, प्रसिद्धि
							संतान, समृद्धि याचा का&nbsp;लाभ क्या। मानव स्वभाव के अनुसार कुछ अपराध है
							प्रतिबद्ध है लेकिन माँ का हृदय उदार है।
							अपने विवेक से सभी को क्षमा करें और अपने आशीर्वाद से अखंड लाभ प्राप्त करें। वे
							जो हमारे प्यारे जूतों की सेवा करते हैं
							सर्व भक्तांची मनोरथे पूर्ण करावीत।
							इस समय हर व्यक्ति बार-बार श्री महाराज की दिव्य मूर्ति का दर्शन करता है और
							सुंदर पादुकाओं का रूप।
							विवेक बासठ रख लेता। ऐसे ही कुछ पल बीत गए। महाराजाणी ने लिया
							सजा कमंडलु। भैरव भटजिनी
							श्रींचे ने चरण कमलों को मजबूती से पकड़ रखा था। तब स्वामी ने कहा, मैं यहां पादुकारूपेण के रूप
							में रहूंगा। मालिक
							पूर्वाभिमुख झाले, कृष्ण प्रवाह आले प्रवाह के पास दुभंगला दुतरफा फुलांचे पुष्कर्णी
							डिस्ले। इस पर
							अगली जात महाराज डिसेंसेस झाले। यथावकाश भैरव भटना को एक पुत्र प्राप्त हुआ और 4 प्राप्त हुए
							शादी के बाद बच्चे।
							और आज श्रीसेवक पुजारियों की ख्याति का विस्तार हुआ है। उनकी दुआएं साथ हैं
							श्री गुरु का आशीर्वाद।
							धन्य हैं भैरवभट्ट युगल और उनकी गुरुभक्ति!</p>
					</div>
		</section>
	</main>
</body>

</html>