<!DOCTYPE html>
<html>

<head>
	<title>Dattaguru Parikrama - नासिकरोड घैसास दत्तमंदिर</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>

<body>
	<main>
		<section class="datta-main-section">
			<div>

				<h3>Nasikrod Ghaisas Dattamandir</h3>
				<p><b>Location: </b> Nashik Road to 2. That. Me., Nashik (Maharashtra State) </p>
				<p><b>Satpurush: </b> Shri Kakasaheb Ghaisas </p>
				<p><b>Special: </b>Datta Mandir </p>
				<div class='caption caption-img align-left data-img'>
					<img alt='' src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Nashik/datta.jpg">
					<figcaption class="figncaption">Nashik Road Ghaisas Datta Temple</figcaption>
				</div>

				<p>From Nashik Road Station 2. kilometers away Mr. (Ca.) Mahadevrao Sadashiv Ghaisas Hayani Bandhalele
					Dutt Mandir Aahe. </p>
				<p>Ca. Kakasaheb Ghaisasancha was born in the year 1895 in Medhe or Gavi Jhala district of Colaba. He
					used to love to worship Shridatta since childhood. In fact Shri Dutt Maharaj would always be his
					disciple. Due to the lack of education, due to God's devotion and self-confidence, he got a job as a
					cabin candidate in the railways for a salary of seven rupees and also got the rightful place in the
					British rule. I. S. In 1950 Te 'Asi. Retired as 'Traffic Manager'. </p>
				<p>While serving, he never stopped worshiping Shridatta, doing annual festivals for Shridatta. Swatche
					ek Tumdar temple should be like it, they feel like it. </p>
				<p>He bought an acre of land when he came to Nashik Rodla for a job. Four-five rooms were built there.
					The purpose would have been to stay there and serve Shridatta quietly. But when he woke up, strange
					experiences started coming. Jorajorat door wajat, dagdanche awaaz hota. This is the sound of
					laughter and human distress; But the person was not visible. Inquiries finally understood that,
					there would have been a far eastern cremation ground; That's why Kakasaheb decided to leave Jaga.
					But the same night he had a vision. Shri Dutt Maharaj himself came in a dream and went to Sangoon,
					'Hi Jaga Sodu Nakos. The salvation of that person will be in your hands. And at both the places,
					plant the Audumbrache tree.' </p>
				<p>According to the decree, Kakasahebani's two trees are lovely. With the help of these three trees, all
					the troubles stopped. Started feeling happy at that place. The sounds of the night stand, as well as
					the smell of the lights. For a few days the parable became, 'Audumbarashejari Maje Mandir Dam.'</p>
				<p>Kakasahebanni hi suddha devachi ajna amlat anali. The temple was built, but the question of Datta's
					idol arose. To give even the worry immediately disappeared. Around the same time, Shri Narayan
					Maharaj (Kedgaon) used to come to Nasikala for the darshan of Trimbakeshwar. He and Kakasaheb had a
					problem. When he got ready to build the temple, but the idol of Datta was left, he said, 'I had
					ordered you to give the idol of Datta in my dream.' It was established in the year 1940 on Shridatta
					Jayanti. From that time the celebration of Shridatta Jayanti started. This festival lasts for three
					days. Shridattapuja, Shri Satyadattapuja, Laghurudra, Shridattajanma, Palkhisohla such programs are
					held for three days. </p>
				<p>After starting the festival, the worship of Shri Datto began to reside in his mind more strongly than
					before. The result of this was such that, on the occasion of Mahadevrava's Angat every Thursday, on
					the occasion of Datta Jayanti, Datta's communication started. While in such a state of passion, he
					removed many ghostly obstacles and pains. Do bhajanas basat every evening and morning and worship
					Shridatta. Holding Ektari in hand, standing in front of the idol, Shridatta's bhajan was engrossed
					in the melody of Ektari. 20 Nov 1955 Rosi Ashach Eka Pahates O Datta Bhakt, Shridattachi Bhupali
					Mananyata Rangoon Gayle Asantach sudden cardiac arrest Padoon Dattamandirat Shridattacharani Vilen
					Jhale. </p>

				<p><b>. Digambara Digambara Shripadvallabh Digambara.</b></p>
			</div>
		</section>
	</main>
</body>

</html>