<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name='viewport' content='target-densityDpi=device-dpi' />
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
</head>

<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left data-img'>
					<img alt='Shri Kshetra Pithapur '
						src='https://raw.githubusercontent.com/onkar2498/JSON/master/images/Pitapur/pithapur-datta-mandir.jpg'>
					<figcaption class="figncaption">Shri Sector Pithapur</figcaption>
				</div>
				<h3>Shri Kshetra Peethapur- the birthplace of Shripadanche&nbsp;</h3>
				<p>Andhra region 'Pithapur' village was a Brahmin relief of Apalraja Navacha Apastamba branch. His
					husband's wife Sumati does guest-worship daily. Once at the time of Shradh ceremony in the house of
					a Brahmin, Shri Dattatreya came in the form of a guest. Brahmins had not eaten. Apalaraja was not at
					home at that time. That Brahmin woman offered alms to the king. Lord Shridattatreya said that I am
					pleased. He thought about her wish in her mind. She said that after having many sons in the Lord,
					you become a resident of heaven and those who speak are axless, legless. What is the meaning of a
					life without a virtuous son? I am a knowledgeable, God-like son like you. Hearing this,
					Shridatta-Maharaj was pleased to think about his future invention and said, "Tula Kulbhushan,
					Tapasvi, Kirtiman will be such a son. Then your poverty will be removed." Hearing this, the Brahmin
					woman was very satisfied and then Shridatta Maharaj disappeared. Techi Pati Ghari Alyavar Tinee
					Sarva Vritant Patila Sangitla. Then Te Patnila said that all my forefathers were satisfied by giving
					alms to Shridatta-Swaroop Maharaj.</p>
				<p>After the affair, a Brahmin woman gave birth to a son. The astrologers in this place describe the
					child as a wise, ascetic, initiate teacher. Keep the boat Shripad like this. When he was seven years
					old, he was happy. At that time, the child had four Vedas, Mimamsa etc. Started saying So, till the
					age of 16, all the Brahmins were taught Vedarth, Dharma, etc. Such complaints After 16 years, his
					parents planned to get him married. But the son refused completely, on the contrary, he replied that
					he wanted to go for pilgrimage immediately, so permission was sought. Shridatta Maharaj's words at
					the time of alms for mother and father are eight and he is not a son but an incarnate man. Then you
					know, it is wrong to give any order to him. The son also told that you fulfill all your wishes and
					immediately your father brothers who are blind and crippled become healthy and knowledgeable by
					looking at them with nectar and bless them with children, long life, mother-father's servant, happy
					in this world and hereafter. Get the fame of Vedashastra. He left Pithapuram after seeing his
					parents Shridatta-Swaroopat. This Peethapur is famous as the birth place of Shripad-Shrivallabh
					Maharaj and the monks of Shridatta-Maharaj come there everyday. Also Padgaya is the place where
					Shrikshetra Peethapur is here. Gayasurache's feet are there in the Tirth Kunda in front of the
					temple. Or Lord Shankar himself is in the form of Kukkuteshwara in the area. This is a Shaktipeeth.
				</p>
				<p>There are many Shaktipeeths in India. Among them, Pithapuram is the most powerful and great Peetha in
					the world. This is the only Shaktipeeth which can change the direction of any human life. O Godavari
					District Samalkotahun in Andhra Pradesh 12 kms. There is a very small village far away. Year 1320
					Shripadancha was born in Bhadrapada Shu. On Chaturthi (Ganesh Chaturthi) Krishna Yajurveda branch,
					Apastamba Sutra, Bhardwaj Gotrodbhava Brahmashri Ghandikot Appallaraju Sharma and Akhand Saubhagya
					Lakshmi Maharani Sumtidevi's grandson. Generally in the year 1983 Ramswami bought a small piece of
					paper and in the year 1985, he planted an audumbrache ropte lavale. Also, in the year 1987, the
					devotees had given birth to the purchase and they had established a beautiful and graceful temple,
					that is, Mahasansthanachi, and in the year 1988, on February 22, Shripad Shrivallabhanchya's
					birthplace means (Shri Bapannaryulyuchya Ghari) Shri Ganapati and Shripad Padukanchi were
					established. Poo Got into the hands of Ramswami. Also Shripad Shrivallabh Charitramrit or Akshar
					Satya Granth Shripadani has said that wherever I was born, my Paduka temple would be built in that
					place and he established Shripadachya Padukachanchi at the place of birth of Shripadachya like
					Sangitalya.</p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="Shri Kshetra Pithapur, Janmasthan Temple"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Pitapur/pithapur-mandir01.jpg">
					<figcaption class="figncaption"> Shree Kshetra Pithapuram Janmasthana Temple</figcaption>
				</div>
				<p>Yaya Mandirat Shripad Shrivallabhanchi, Shri Dattatreyanchi and Shri Nrisinghasaraswati have unique
					and stunning such beautiful idols. Ya Murtachi establishment date 6/2/1992 La Jhali. Also charming
					and attractive are such black-colored Shripadachya Paduka and Bajulach Audumbrache Jhad. His arms
					are Shri Dattatreya's dark colored idol and Shrinchya Paduka. The scenery there is very pleasant and
					peaceful. The temple hills open at 5.00 am and usually all the rituals are started from seven
					o'clock in the morning. Temples are usually closed between 1 to 4 in the afternoon due to the nets.
					After seven o'clock in the evening, three pradakshina or circumambulation of Shripadachya Palkhi is
					done around the temple. At this time the whole atmosphere is very cheerful and pleasant. At this
					time, Shripadanchi other bhajans as well as holy and pleasing Siddha Mangal are sung through the
					devotees. Or to enjoy the pleasure of palanquin and to get the benefit of taking palanquin, the
					devotee should have clean lungi and sowle nestle at that time. The Palkhi is decorated with Fulani
					and the beautiful silver idol of Shripad Shrivallabhanchi sits on the Palkhit. Very beautiful,
					divine, auspicious atmosphere used to be there at that time. Shripadachya Prasadache is distributed
					to all the devotees after performing Aarti. Since the temple is small, for the rest of the day and
					for the food, they used to go near Deolach. Temples usually close at 9.00 pm.</p>
				<p>Like Tasripadachya Tithi, many festivals are organized here. of them
					1) Shripad Shrivallabh Swami Jayanti
					2) Shri Dattajayanti
					3) Shri Gurudwadashi
					4) Shri Krishna Ashtami
					5) Mr. Pu. Vasudevananda Saraswati Jayanti
					6) Gurupournima.
				</p>
				<p>The three incarnations of Shri Dattatreya are at the same place and the only Mahasansthan and
					Adyapeeth is Shripad Shrivallabh Mahasansthan. Here different types of services are done to the
					devotees. Among them Nityaseva, Palkhi Seva, Bilvarchana, Tulshipatra and Brahmin food etc.</p>
				<p>Pithapur is a proven area since ancient times. That's why the area is called Padgaya. The surprising
					thing is that the electric light used to light up from the Shivling of Shri Kukkuteshwar and at that
					time, the Akashvani of the marriage of Appalraju Sharma and Sumati Maharani was heard from it. Or
					there is a pond in the place where thousands of devotees bathe daily. Also, by donating the pind of
					a deceased person with full devotion, the soul is freed. Or Jagelach Padgaya would have been
					addressed. Also in Shripad Shrivallabh or Charitra Adhyay 6 Paan no. 38 It has been said here that
					Shri Appalaraju Sharma used to worship Kalagnishaman Dattatreya in his house and after that Shri
					Dattatreya came out in human form and sat in front of Appalaraju and then Sridattaprabhu used to
					merge into that small idol. Pithapur will become a great area after a few rains, as sung in Shripad
					Shri Vallabh Charitramrita, and there people will go astray and there will not be even a little seed
					left for sale. Hey Shripadanche's sentences are like a rope hit by a black stone.</p>

				<div role="group" class="caption caption-img align-left data-img">
					<img alt="Shri Kukuteshwar Mandir, Pithapur"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Pitapur/pithapur-kukuteshwar mandir.jpg">
					<figcaption class="figncaption">Shri Kukuteshwar Temple, Pithapuram</figcaption>
				</div>
				<p>Daksha Prajapati king in ancient times would have organized yagya. All the deities (Yaksha Garuda,
					Gandharva, Kimpurusham, Maharishi, Vishnu, Brahmadev) would have been invited for the sacrifice. Due
					to not inviting Lord Shankar or Yagya Saathi, his wife Satidevi (Daksha Raja's daughter) or
					Yagyanimit would have gone to meet her father. There, Sati Devi did not invite Lord Shankarana,
					while Daksha Prajapati disobeyed Lord Shankarana and due to this, Sati Devila felt very sad. At that
					time, the Daksh yagyaat Sati Devi went to the invitation and Sati Yoggni sacrificed her body. Lord
					Shankar took the body on the shoulder and started doing the earth's tandav. And Lord Vishnu's
					Sudarshan Chakra is banana cut into pieces. Parts of Sati Devi's body fell at different places, and
					one part of the body fell in Pithapurala, and these places are called 'Fur Huttika Shakti Peeth'.
					Pithikapur in the east and Pithapur in the east are like this. Shripad Shrivallabh says "Shri
					Peethikapur is my very dear place. My feet will be installed in the house of my mother who was born
					in Peethikapurat. My birth, deeds are very divine. They are a hidden secret. Taking a gift from Kaal
					Nagachi".</p>
			</div>
		</section>
	</main>
</body>

</html>