<!DOCTYPE html>
<html>

<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name='viewport' content='target-densityDpi=device-dpi' />
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
</head>

<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left data-img'>
					<img alt='श्री क्षेत्र पीठापुर'
						src='https://raw.githubusercontent.com/onkar2498/JSON/master/images/Pitapur/pithapur-datta-mandir.jpg'>
					<figcaption class="figncaption">श्री सेक्टर पीथापुर</figcaption>
				</div>
				<h3>श्री क्षेत्र पीठापुर- श्रीपादंचे की जन्मस्थली&nbsp;</h3>
				<p>आंध्र क्षेत्र 'पीथापुर' गांव अपलराजा नवचा आपस्तम्बा शाखा का एक ब्राह्मण राहत था। उसके
					पति की पत्नी सुमति नित्य अतिथि-पूजन करती है। एक बार के घर में श्राद्ध के समय
					एक ब्राह्मण, श्री दत्तात्रेय अतिथि के रूप में आए। ब्राह्मणों ने भोजन नहीं किया था। अपलराजा नहीं थे
					उस समय घर। उस ब्राह्मण महिला ने राजा को भिक्षा दी। भगवान श्रीदत्तात्रेय ने कहा कि मैं हूं
					प्रसन्न। उसने उसके मन में उसकी इच्छा के बारे में सोचा। उसने कहा कि प्रभु में कई पुत्र होने के बाद,
					तुम स्वर्गवासी बनते हो और बोलने वाले तो धुरीहीन, पैरहीन। ए का क्या अर्थ है
					गुणवान पुत्र के बिना जीवन? मैं आप जैसा ज्ञानी, देवतुल्य पुत्र हूँ। यह सुनकर,
					श्रीदत्त-महाराज अपने भविष्य के आविष्कार के बारे में सोचकर प्रसन्न हुए और कहा, "तुला कुलभूषण,
					तपस्वी, कीर्तिमान ऐसा पुत्र होगा। तब तेरी दरिद्रता दूर होगी।" यह सुनकर ब्राह्मण
					महिला बहुत संतुष्ट थी और फिर श्रीदत्त महाराज गायब हो गए। तेचि पति घरि आल्यवर तिने
					सर्व वृतान्त पटिला संगीता। तब ते पटनीला ने कहा कि मेरे सभी पूर्वज देकर तृप्त हुए थे
					श्रीदत्त-स्वरूप महाराज को भिक्षा।</p>
				<p>अफेयर के बाद एक ब्राह्मण महिला ने एक बेटे को जन्म दिया। ज्योतिषी इस स्थान का वर्णन करते हैं
					एक बुद्धिमान, तपस्वी, दीक्षा शिक्षक के रूप में बच्चा। नाव श्रीपाद को ऐसे ही रखो। जब वे सात वर्ष के
					थे
					बूढ़ा, वह खुश था। उस समय बालक के पास चार वेद, मीमांसा आदि थे
					16 वर्ष की आयु में सभी ब्राह्मणों को वेदार्थ, धर्म आदि की शिक्षा दी गई। ऐसी शिकायतें 16 वर्ष बाद
					उनकी
					माता-पिता ने उसकी शादी करने की योजना बनाई। लेकिन बेटे ने पूरी तरह मना कर दिया, उल्टा उसने ऐसा ही
					जवाब दिया
					वह तुरंत तीर्थ यात्रा पर जाना चाहता था, इसलिए अनुमति मांगी गई। श्रीदत्त महाराज के शब्द पर
					माता और पिता के लिए भिक्षा का समय आठ है और वह पुत्र नहीं बल्कि एक अवतारी पुरुष है। फिर आप
					जानिए, उसे कोई आदेश देना गलत है। पुत्र ने यह भी बताया कि आप अपनी सभी मनोकामनाएं पूरी करते हैं और
					तुरंत तुम्हारे पिता भाई जो अंधे और अपंग हैं, स्वस्थ और ज्ञानी हो जाते हैं
					उन्हें अमृत से देखकर संतान, दीर्घायु, माता-पिता का सेवक, सुखी होने का आशीर्वाद दें
					इस दुनिया में और उसके बाद। वेदशास्त्र की कीर्ति प्राप्त करो। उसे देखकर उसने पीथापुरम छोड़ दिया
					माता-पिता श्रीदत्त-स्वरूपत। यह पीठापुर श्रीपाद-श्रीवल्लभ के जन्म स्थान के रूप में प्रसिद्ध है
					महाराज तथा श्रीदत्त-महाराज के सन्यासी प्रतिदिन वहाँ आते हैं। साथ ही पडगया वह स्थान है जहाँ
					श्रीक्षेत्र पीठापुर यहां है। गयासुरचे के चरण सामने तीर्थ कुंड में हैं
					मंदिर। या भगवान शंकर स्वयं क्षेत्र में कुक्कुटेश्वर के रूप में हैं। यह एक शक्तिपीठ है।
				</p>
				<p>भारत में कई शक्तिपीठ हैं। इनमें पिथापुरम सबसे शक्तिशाली और महान पीठ है
					दुनिया। यह एक मात्र शक्तिपीठ है जो किसी भी मानव जीवन की दिशा बदल सकता है। हे गोदावरी
					आंध्र प्रदेश में जिला समालकोटहुन 12 कि.मी. दूर एक बहुत छोटा सा गांव है। वर्ष 1320
					श्रीपदांच का जन्म भाद्रपद शू में हुआ था। चतुर्थी (गणेश चतुर्थी) को कृष्ण यजुर्वेद शाखा,
					आपस्तम्ब सूत्र, भारद्वाज गोत्रोद्भव ब्रह्मश्री घंडीकोट अप्पलराजू शर्मा और अखंड सौभाग्य
					लक्ष्मी महारानी सुमतिदेवी के पौत्र। आम तौर पर वर्ष 1983 में रामस्वामी ने
					कागज और वर्ष 1985 में, उन्होंने एक ऑडम्ब्राचे रोप्टे लवले लगाया। साथ ही, वर्ष 1987 में,
					भक्तों ने खरीद को जन्म दिया था और उन्होंने एक सुंदर और भव्य मंदिर की स्थापना की थी,
					यानी महासंस्थानाची और वर्ष 1988 में 22 फरवरी को श्रीपाद श्रीवल्लभंच्य के
					जन्मस्थान का अर्थ है (श्री बापन्नार्युल्युच्य घरी) श्री गणपति और श्रीपाद पादुकांची थे
					स्थापित। पू रामस्वामी के हाथ लग गई। साथ ही श्रीपाद श्रीवल्लभ चरित्रामृत या अक्षर
					सत्य ग्रंथ श्रीपादनी ने कहा है कि मैं जहां जन्म लूंगा, वहीं मेरा पादुका मंदिर बनेगा
					स्थान और उन्होंने श्रीपादच्य के जन्म स्थान पर श्रीपादच्य पादुकाचांची की स्थापना की
					संगीतालय।</p>
				<div role="group" class="caption caption-img align-left data-img">
					<img alt="श्री क्षेत्र पीठापुर, जन्मस्थान मंदिर"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Pitapur/pithapur-mandir01.jpg">
					<figcaption class="figncaption"> श्री क्षेत्र पिथापुरम जन्मस्थान मंदिर</figcaption>
				</div>
				<p>यया मंदिर श्रीपाद श्रीवल्लभांची, श्री दत्तात्रेयंची और श्री नृसिंहसरस्वती के पास अद्वितीय है
					और आश्चर्यजनक ऐसी सुंदर मूर्तियाँ। या मुर्तची स्थापना दिनांक 6/2/1992 ला झाली। मनमोहक भी
					और आकर्षक हैं ऐसे काले रंग की श्रीपादच्य पादुका और बजुलाच औडुम्ब्रेचे झाड़। उसके हाथ
					श्री दत्तात्रेय की सांवली रंग की मूर्ति और श्रींच्य पादुका हैं। वहां के दृश्य बहुत ही सुखद और हैं
					शांतिपूर्ण। मंदिर के पहाड़ सुबह 5.00 बजे खुलते हैं और आमतौर पर सभी अनुष्ठान सात बजे से शुरू हो जाते
					हैं
					सुबह के तीन बजे। मंदिर आमतौर पर दोपहर 1 से 4 बजे के बीच जालियों के कारण बंद हो जाते हैं।
					शाम सात बजे के बाद श्रीपादच्य पालखी की तीन प्रदक्षिणा या परिक्रमा होती है।
					मंदिर के आसपास किया। इस समय पूरा वातावरण बहुत ही प्रफुल्लित और खुशनुमा होता है। इस पर
					समय, श्रीपदांची अन्य भजनों के साथ-साथ पवित्र और मनभावन सिद्ध मंगल के माध्यम से गाए जाते हैं
					भक्त। या पालकी का सुख भोगने के लिए और पालकी ग्रहण करने का लाभ पाने के लिए
					भक्त को उस समय साफ लुंगी और बोने का घोंसला रखना चाहिए। पालकी को फुलानी से सजाया जाता है
					और श्रीपाद श्रीवल्लभांची की सुंदर चांदी की मूर्ति पालखिट पर विराजमान है। अति खूबसूरत,
					दिव्य, शुभ वातावरण उस समय होता था। श्रीपादच्य प्रसादचे का वितरण किया
					आरती करने के बाद सभी भक्तों को चूंकि मंदिर छोटा है, बाकी दिन और
					भोजन के लिये वे दियोलाख के पास जाया करते थे। मंदिर आमतौर पर रात 9 बजे बंद हो जाते हैं।</p>
				<p>तश्रीपादच्य तिथि की तरह, यहां कई त्यौहार आयोजित किए जाते हैं। उनमें से
					1) श्रीपाद श्रीवल्लभ स्वामी जयंती
					2) श्री दत्तजयंती
					3) श्री गुरुद्वादशी
					4) श्री कृष्ण अष्टमी
					5) श्री पु. वासुदेवानंद सरस्वती जयंती
					6) गुरुपूर्णिमा।
				</p>
				<p>श्री दत्तात्रेय के तीन अवतार एक ही स्थान पर हैं और एकमात्र महासंस्थान और
					आद्यपीठ श्रीपाद श्रीवल्लभ महासंस्थान है। यहां विभिन्न प्रकार की सेवाएं की जाती हैं
					भक्त। इनमें नित्यसेवा, पालकी सेवा, बिलवर्धन, तुलसीपत्र और ब्राह्मण भोजन आदि शामिल हैं।</p>
				<p>पीठापुर प्राचीन काल से एक सिद्ध क्षेत्र है। इसलिए इस क्षेत्र को पडगया कहा जाता है। आश्चर्यजनक
					बात यह है कि श्री कुक्कुटेश्वर के शिवलिंग से और उस पर बिजली का प्रकाश होता था
					उसी समय अप्पलराजू शर्मा और सुमति महारानी के विवाह की आकाशवाणी सुनाई दी। या
					उस स्थान पर एक तालाब है जहाँ हजारों श्रद्धालु प्रतिदिन स्नान करते हैं। साथ ही पिंड दान करके
					एक मृत व्यक्ति पूरी भक्ति के साथ, आत्मा को मुक्त कर देता है। या जगलच पडगया होता
					संबोधित किया। श्रीपाद श्रीवल्लभ या चरित्र अध्याय 6 में भी पान नं. 38 यहाँ कहा गया है कि
					श्री अप्पालाराजू शर्मा अपने घर में कालाग्निशमन दत्तात्रेय की पूजा किया करते थे और उसके बाद श्री
					दत्तात्रेय मानव रूप में बाहर आए और अप्पलाराजू के सामने बैठ गए और फिर श्रीदत्तप्रभु करते थे
					उस छोटी मूर्ति में विलीन हो जाओ। पीथापुर थोड़ी सी बारिश के बाद एक महान क्षेत्र बन जाएगा, जैसा कि
					श्रीपाद में गाया जाता है
					श्री वल्लभ चरित्रमृत, और वहाँ लोग भटक जाएँगे और वहाँ रत्ती भर भी बीज नहीं होगा
					बिक्री के लिए छोड़ दिया। अरे श्रीपदांचे के वाक्य काले पत्थर से टकराई रस्सी की तरह हैं।</p>

				<div role="group" class="caption caption-img align-left data-img">
					<img alt="श्री कुकुटेश्वर मंदिर, पिठापुर"
						src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Pitapur/pithapur-kukuteshwar mandir.jpg">
					<figcaption class="figncaption">श्री कुकुटेश्वर मंदिर, पिथापुरम</figcaption>
				</div>
				<p>प्राचीन काल में दक्ष प्रजापति राजा ने यज्ञ का आयोजन किया होगा। सभी देवताओं (यक्ष गरुड़,
					यज्ञ के लिए गंधर्व, किम्पुरुषम, महर्षि, विष्णु, ब्रह्मदेव) को आमंत्रित किया जाता। बकाया
					भगवान शंकर या यज्ञ साथी, उनकी पत्नी सतीदेवी (दक्ष राजा की बेटी) या को आमंत्रित नहीं करने के लिए
					यज्ञीमित अपने पिता से मिलने जाता। वहां, सती देवी ने भगवान शंकरना को आमंत्रित नहीं किया,
					जबकि दक्ष प्रजापति ने भगवान शंकरनारायण की अवज्ञा की और इससे सती देविला को बहुत दुख हुआ। उस पर
					समय, दक्ष यज्ञात सती देवी के निमंत्रण पर गई और सती योगग्नि ने अपने शरीर का त्याग कर दिया। भगवान
					शंकर ने शरीर को कंधे पर लिया और पृथ्वी का तांडव करने लगे। और भगवान विष्णु का
					सुदर्शन चक्र केले को टुकड़ों में काटा जाता है। सती देवी के शरीर के अंग अलग-अलग स्थानों पर गिरे, और
					पीठापुरला में शरीर का एक अंग गिरा था, और इन स्थानों को 'फर हुतिका शक्ति पीठ' कहा जाता है।
					पूर्व में पिथिकापुर तथा पूर्व में पीथापुर इसी प्रकार है। श्रीपाद श्रीवल्लभ कहते हैं, "श्री
					पीठिकापुर मेरा अति प्रिय स्थान है। मेरे पाँव मेरी माता के घर में स्थापित किए जाएँगे, जिसने जन्म लिया
					है
					पीठिकापुरात में। मेरा जन्म, कर्म बड़ा दिव्य है। वे एक गुप्त रहस्य हैं। काल से उपहार लेना
					नागाची".</p>
			</div>
		</section>
	</main>
</body>

</html>