<!DOCTYPE html>
<html>
<head>
	<title>Dattaguru Parikrama - Anusaya Tirth</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">	
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">	
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<main>
		<section class="datta-main-section">
			<div>
				<h3>श्री क्षेत्र अनसूयातीर्थ</h3>
				<p>प्रतापनगर (बडोदे) वेस्टर्न रेल्वेलाईनवरून डभोईमार्गे दहा मैलांवर चांदोद (गुजरात) नावाचे क्षेत्र आहे. त्या ठिकाणी नर्मदा नदीचे विस्तीर्ण पात्र आहे. समोरच पूर्वबाजूस ‘कर्नाळी क्षेत्र’ आहे. कर्नाळी व नर्मदेचे मधून ‘ओर’ नदी वाहते, त्या ठिकाणी ओरसंगम आहे. हा संगम पवित्र असल्याने तेथे मृत माणसांच्या अस्थी विसर्जन करतात.</p>
				<p>चांदोदक्षेत्राचे पश्र्चिम दिशेस सुमारे दोन मैलांवर नर्मदा नदीचे तीरावर शिनोर नावाचे गाव आहे. शिनोरपासून ‘अनसूयातीर्थ-क्षेत्र दत्तस्थान’ पाच मैलावर नर्मदेच्या तीरावरच आहे. त्या ठिकाणी महासती साध्वी दत्तात्रेयमाता अनसूया यांचे मंदिर आहे. मंदिरासमोरच श्रीदत्तात्रेय यांचे मंदिर आहे. तेथील पुजाऱ्याचे नाव साने असे आहे. </p>
				<p>हे स्थान अत्यंत पवित्र, निसर्गसुंदर व रमणीय आहे. अनसूयामंदिराजवळची माती निष्ठापूर्वक लाविली असता मोठमोठे रोग बरे होतात, असे कित्येक भाविक भक्तांचे अनुभव आहेत. तसेच अनसूया देवी नवसास पावते अशी भाविक लोकांची श्रद्धा आहे! गंगासप्तमीला अनसूयाक्षेत्री मोठा मेळा भरतो. दर रविवार, मंगळवार, शुक्रवार या दिवशी दर्शनासाठी लोकांची अतिशय गर्दी होते.</p>
				<p>येथे रक्तपिती लोकांचा प्रसिद्ध दवाखाना आहे. अनेक रोगी येथे बरे होतात. त्यांचेसाठी मोफत औषधोपचार करण्यात येतात!</p>
			</div>
		</section>
	</main>
</body>
</html>