<!DOCTYPE html>
<html>
<head>
	<title>Dattaguru Parikrama - Anusaya Tirth</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">	
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">	
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left datta-img'>
					<img alt='आष्टी दत्तमंदिर' src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Asti-Beed/asti-1.jpg">
					<figcaption class="figncaption">आष्टी दत्तमंदिर</figcaption>
				</div>			
				<h3>श्री क्षेत्र आष्टी दत्तमंदिर</h3>
				<p>मुंबई-बीड राजमार्गावर नगरपासून ३६ मैलांवर आष्टी हे बीड जिल्ह्यातील तालुक्याचे गाव आहे.</p>
				<p>मात्र वद्य प्रतिपदा शके १८८८ शनिवार दि. २५/२/१९६७ रोजी येथे श्रीदत्तमूर्तीची नव्याने स्थापना करण्यात आली. ही मूर्ती जयपूरहून मुद्दाम तयार करवून आणली आहे. ती शिवदत्ताची म्हणजे त्रिमुखांपैकी मधले मुख शंकराचे असलेली आहे. मूर्ती ३॥ फूट उंच, शुभ्र संगमरवरी पाषाणाची असून, ध्यान अत्यंत नयनमनोहर व विलोभनीय असे आहे.</p>
				<p>या मंदिराची पूजा-अर्चादी सर्व व्यवस्था श्रीदत्तभक्त श्री. रघुनाथराव अनंतराव कालकुंद्रीकर यांच्याकडे असून मंदिराचे विश्वस्तही तेच आहेत.</p>
				<div class='caption caption-img align-left datta-img'>
					<img alt='' src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Asti-Beed/asti-2.jpg">
					<figcaption class="figncaption"></figcaption>
				</div>			
				<div class='caption caption-img align-left datta-img'>
					<img alt='आष्टी दत्तमंदिर पालखी ' src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Asti-Beed/asti-3.jpg"><figcaption class="figncaption">आष्टी दत्तमंदिर पालखी </figcaption>
				</div>			
				<div class='caption caption-img align-left datta-img'>
					<img alt='अष्टी दत्त मंदिर ' src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Asti-Beed/asti-4.jpg"><figcaption class="figncaption">अष्टी दत्त मंदिर </figcaption>
				</div>			
			</div>
		</section>
	</main>
</body>
</html>