<!DOCTYPE html>
<html>
<head>
	<title>Dattaguru Parikrama - Nashik Road Ghaisas Datta Mandir</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">	
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">	
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left datta-img'>
					<img alt='आष्टी दत्तमंदिर' src='https://raw.githubusercontent.com/onkar2498/JSON/master/images/Nashik/datta.jpg'><figcaption class="figncaption">नासिक रोड घैसास दत्त मंदिर</figcaption>
				</div>			
				<h3>नासिकरोड घैसास दत्तमंदिर</h3>
				<p><b>स्थान: </b>नाशिक रोड पासून २।। कि. मी., नाशिक (महाराष्ट्र राज्य)</p>
				<p><b>सत्पुरुष: </b> श्री काकासाहेब घैसास </p>
				<p><b>विशेष: </b>दत्तमंदिर </p>
				<p>नासिक रोड स्टेशनपासून २॥ किलोमीटर अंतरावर श्री. (कै.) महादेवराव सदाशिव घैसास ह्यांनी बांधलेले दत्तमंदिर आहे. </p>
				<p>कै. काकासाहेब घैसासांचा जन्म सन १८९५ साली कुलाबा जिल्ह्यातील मेढे या गावी झाला. त्यांना बालपणापासूनच श्रीदत्तउपासनेची आवड होती. खरोखर श्रीदत्तमहाराज त्यांच्या पाठीशी सदैव होते. कमी शिक्षण असताना देवाच्या श्रद्धेने व कृपेने स्वत:च्या हिंमतीवर त्यांनी रेल्वेत अवघ्या सात रूपयांच्या पगारावर केबिन कॅंडिडेट म्हणून नोकरी मिळवली आणि ब्रिटीश राजवटीत देखील धडाडीने वरची अधिकाराची जागा मिळवली. इ. स. १९५० मध्ये ते ‘असि. ट्रॅफिक मॅनेजर’ म्हणून सेवानिवृत्त झाले. </p>
				<p>नोकरीत असताना श्रीदत्तउपासना, श्रीदत्ताचे वार्षिक उत्सव करायचे त्यांनी कधी सोडले नाहीत. स्वत:चे एक टुमदार मंदिर असावे असे त्यांना सारखे वाटत असे. </p>
				<p>नोकरीनिमित्त नासिक रोडला आले असताना त्यांनी एक एकर जमीन खरेदी केली. तेथे चारपाच खोल्या बांधल्या. हेतू हा होता की, तेथे पुढे राहून निवांतपणे श्रीदत्तसेवा करावी. परंतु त्या राहत्या जागी विचित्र अनुभव येऊ लागले. जोराजोरात दरवाजे वाजत, दगडांचे आवाज होत. हसण्याचा आणि मनुष्याचा विव्हळण्याचा आवाज येई; परंतु व्यक्ती दिसत नसे. चौकशीअंती समजले की, ती जागा फार पूर्वी स्मशानभूमी होती; म्हणून काकासाहेबांनी जागा सोडण्याचा निर्णय घेतला. परंतु त्याच रात्री त्यांना दृष्टान्त झाला. स्वत: श्रीदत्तमहाराज स्वप्नात येऊन सांगून गेले की, ‘ही जागा सोडू नकोस. त्या जागेचा उद्धार तुझ्याच हातून होणार आहे. तर दोन ठिकाणी औदुंबराचे झाड लाव.’ </p>
				<p>दत्तादेशानुसार काकासाहेबांनी दोन झाडे लावली. ती झाडे लावल्यापासून सर्व त्रास बंद झाला. त्या ठिकाणी प्रसन्न वाटू लागले. रात्री खडावांचे आवाज, तसेच उदबत्त्यांचा वास येऊ लागला. परत काही दिवसांनी दृष्टान्त झाला, ‘औदुंबराशेजारी माझे मंदिर बांध.’</p>
				<p>काकासाहेबांनी हीसुद्धा देवाची आज्ञा अंमलात आणली. मंदिर बांधले, परंतु दत्ताच्या मूर्तीचा प्रश्न उद्भवला. ही चिंतासुद्धा देवाने ताबडतोब मिटवली. त्याच सुमारास श्रीनारायणमहाराज (केडगाव) त्र्यंबकेश्वराच्या दर्शनासाठी नासिकला आले होते. त्यांची आणि काकासाहेबांची गाठ पडली. त्यांना जेव्हा कळले की, मंदिर बांधले आहे, परंतु दत्ताची मूर्ती बाकी आहे, तेव्हा ते म्हणाले, ‘माझ्या स्वप्नात तुला दत्ताची मूर्ती द्यावी असा आदेश झाला आहे.’ अशाप्रकारे सांगितल्याप्रमाणे त्यांनी एक फूट उंचीची स्वत:च्या जवळची दत्ताची मूर्ती काकासाहेबांना दिली आणि त्या संगमरवरी मूर्तीची स्थापना सन १९४० साली श्रीदत्तजयंतीला करण्यात आली. त्या वेळेपासून श्रीदत्तजयंतीचा उत्सव सुरू केला. हा उत्सव तीन दिवसांचा असतो. श्रीदत्तपूजा, श्रीसत्यदत्तपूजा, लघुरुद्र, श्रीदत्तजन्म, पालखीसोहळा असे कार्यक्रम तीन दिवस होतात. </p>
				<p>हे उत्सव सुरू केल्यानंतर श्रीदत्तोपासना पूर्वीपेक्षा अधिक दृढतेने त्यांच्या मनात वास करू लागली. त्याचा परिणाम असा झाला की, महादेवरावांच्या अंगात दर गुरुवारी उत्सवप्रसंगी, दत्तजयंतीच्या दिवशी दत्ताचा संचार होऊ लागला. त्या आवेशात असताना त्यांनी अनेकांची भूतबाधा व पीडा दूर केली. दररोज संध्याकाळी व सकाळी सायंसंध्या करून ते श्रीदत्ताचे पूजन करून भजनास बसत. हातात चिपळ्या, एकतारी घेऊन, मूर्तीपुढे उभे राहून श्रीदत्ताच्या भजनात एकतारीच्या सुरावर ते तल्लीन होत. २० नोव्हें. १९५५ रोजी अशाच एका पहाटेस हे दत्तभक्त, श्रीदत्ताची भूपाळी म्हणण्यात रंगून गेले असतानाच अचानक ह्रद्यक्रिया बंद पडून दत्तमंदिरात श्रीदत्तचरणी विलीन झाले.</p>
					
			</div>
		</section>
	</main>
</body>
</html>