<div class="row">
  <div class="col-md-3 stretch-card grid-margin">
    <a href="banner.html">

    <div class="card bg-gradient-danger card-img-holder text-white">
      <div class="card-body">
        <img src="cms/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h2 class="font-weight-normal mb-3">Banner <i class="mdi mdi-chart-line mdi-24px float-right"></i>
        </h2>
        <h5 class="sub-title-h5">Update Banner Image,Title, Subtitle.. </h5>
      </div>
    </div>
  </a>
  </div>
  <div class="col-md-3 stretch-card grid-margin">
    <a href="productdetails.html">
    <div class="card bg-gradient-info card-img-holder text-white">
      <div class="card-body">
        <img src="cms/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h2 class="font-weight-normal mb-3">Youtube Video<i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h2>
        <h5 class="sub-title-h5">Add/update public Youtube Video's</h5>
      </div>
    </div>
  </a>
  </div>
  <div class="col-md-3 stretch-card grid-margin">
    <a href="calender.html">

    <div class="card bg-gradient-success card-img-holder text-white">
      <div class="card-body">
        <img src="cms/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h2 class="font-weight-normal mb-3">MP3 Video <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </h2>
        <h5 class="sub-title-h5">Add/update public Youtube MP3 Video's...</h5>
      </div>
    </div>
  </a>
  </div>
  <div class="col-md-3 stretch-card grid-margin">
    <a href="location.html">
    <div class="card bg-gradient-secondary card-img-holder text-white">
      <div class="card-body">
        <img src="cms/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h2 class="font-weight-normal mb-3">Locations <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </h2>
        <h5 class="sub-title-h5">Add/Update the course locations..</h5>
      </div>
    </div>
  </a>
  </div>
</div>
<div class="row">
  <div class="col-md-3 stretch-card grid-margin">
    <a href="review.html">

    <div class="card bg-gradient-primary card-img-holder text-white">
      <div class="card-body">
        <img src="cms/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h2 class="font-weight-normal mb-3">Reviews <i class="mdi mdi-chart-line mdi-24px float-right"></i>
        </h2>
        <h5 class="sub-title-h5">Add/Update user reviews </h5>
      </div>
    </div>
  </a>
  </div>
  <div class="col-md-3 stretch-card grid-margin">
    <a href="citydescription.html">
    <div class="card bg-gradient-warning card-img-holder text-white">
      <div class="card-body">
        <img src="cms/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h2 class="font-weight-normal mb-3">City <i class="mdi mdi-bookmark-outline mdi-24px float-right"></i>
        </h2>
        <h5 class="sub-title-h5">Add/Update citywise description</h5>
      </div>
    </div>
  </a>
  </div>
  <div class="col-md-3 stretch-card grid-margin">
    <a href="corporate.html">

    <div class="card bg-gradient-dark card-img-holder text-white">
      <div class="card-body">
        <img src="cms/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h2 class="font-weight-normal mb-3">Corporate <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </h2>
        <h5 class="sub-title-h5">Add/Update corporate training</h5>
      </div>
    </div>
  </a>
  </div>
  <div class="col-md-3 stretch-card grid-margin">
    <a href="cmsTabs.html">
    <div class="card bg-gradient-vinsys card-img-holder text-white">
      <div class="card-body">
        <img src="cms/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h2 class="font-weight-normal mb-3">Tabs <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </h2>
        <h5 class="sub-title-h5">Add/Update the course locations..</h5>
      </div>
    </div>
  </a>
  </div>
</div>
<div class="row">
  <div class="col-md-3 stretch-card grid-margin">
    <a href="metadata.html">
    <div class="card bg-gradient-success card-img-holder text-white">
      <div class="card-body">
        <img src="cms/images/dashboard/circle.svg" class="card-img-absolute" alt="circle-image" />
        <h2 class="font-weight-normal mb-3">Meta Data <i class="mdi mdi-diamond mdi-24px float-right"></i>
        </h2>
        <h5 class="sub-title-h5">Add/Update meta data..</h5>
      </div>
    </div>
  </a>
  </div>
</div>
