
<html lang="en" class="">
   <head>
   	  <title>Datta Guru Login</title>
      <meta charset="UTF-8">
      <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
      <meta http-equiv="Pragma" content="no-cache">
      <meta http-equiv="Expires" content="0">
      <meta name="robots" content="noindex">
      <link rel="stylesheet" href="cms/css/login.css"/>
      <script data-ad-client="ca-pub-1255529006075362" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
   </head>
   <body>
		<div class="login">
		    <h1>CMS Login</h1>
		    <form>
		        <input id="username" type="text" name="username" placeholder="Username" required autocomplete="false"/>
		        <input id="password" type="password" name="password" placeholder="Password" required autocomplete="false"/>
		        <span id="errorlogintext"></span>
		        <button onclick="login()" type="button" class="btn btn-primary btn-block btn-large">Login</button>
		    </form>
		</div>
   </body>
   <script src="js/jquery.min.js"></script>
   <script src="js/cms/login.js"></script>
</html>
