<!DOCTYPE html>
<html>
<head>
	<title>Dattaguru Parikrama - अबुवरील गुरुशिखर</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">	
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">	
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left datta-img'>
					<img alt='श्री दत्त भिक्षा लिंग मंदिर' src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-1.jpg"><figcaption class="figncaption">श्री दत्त भिक्षा लिंग मंदिर</figcaption>
				</div>			
				<h3>श्री क्षेत्र दत्तभिक्षालिंग मंदिर</h3>
				<p>कोल्हापूर शहरातील रविवार पेठेतील आझाद चौकामध्ये श्री दत्त भिक्षा लिंग मंदिर हे जागृत दत्त स्थान असून प्राचीन काळापासून या महत्त्वाच्या स्थानात या क्षेत्राची गणना होते. माध्यान्हकाळी श्री दत्तप्रभू इथेच जगदंबेकडुन भिक्षा ग्रहण करतात. त्या स्थानी नवनाथांपैकी एक वटसिद्ध नवनाथांनी श्री दत्तप्रभूंना भिक्षादान केले होते. तसेच श्री गोरक्षनाथांनी दत्त महाराजांची भिक्षाक्षेत्राची झोली येथील श्रीदत्त भिक्षालिंग स्थानापासून सुरु केली होती. या स्थानाबाबतची वटसिद्धनागनाथांची कथा नवनाथकथासार अध्याय क्रं.३६ आणि ३७ मध्ये आलेली आहे.</p>
				<p>श्रीदत्त प्रभू दक्षिण काशीक्षेत्र असलेल्या कोल्हापूर येथेच माध्यान्नकाळी भिक्षा ग्रहण करतात. </p>
				<p>या स्थानी श्री गोरक्षनाथांनी श्री समर्थ रामदास स्वामींना कुबडी प्रधान केली होती. ती आजची सज्जन गडावर पहावयास मिळते. श्री महालक्ष्मी मातेच्या आदेशावरुन श्री नारायण स्वामींनी याच ठिकाणी तपश्चर्या केली. त्यांना स्वयं श्री दत्तप्रभुंनी याच स्थानी दर्शन दिले. त्यांची समाधी प्रमुख दत्त क्षेत्र श्रीनृहसिंह वाडी येथे आहे. या स्थानी दुपारच्या बाराच्या आरतीच्या वेळी श्रीदत्तप्रभूंचे अस्तित्व जाणवते. ज्या प्रमाणे गाणगापूर येथे सदगुरु दत्तात्रेयांचे द्वितीय मनुष्यरुपी अवतार असलेले श्री नृहसिंह सरस्वती स्वामी दुपारच्या वेळी माधुकरी मागतात. त्याचप्रमाणे येथे स्वयं दत्तप्रभू भिक्षा मागण्यास येतात.</p>
				<p>कोल्हापूरला रेल्वे आणि बस मार्गानेही जाता येते. संपूर्ण महाराष्ट्रातून कोल्हापूरला जाण्यासाठी बसेस मिळतात. </p>
				
				<p><b>श्री दत्तभिक्षालिंग मंदिर देवस्थान</b></p>
				<p>आझाद चौक, रविवार पेठ कोल्हापूर.</p>
				<div class='caption caption-img align-left datta-img'>
					<img alt='श्री दत्तात्रेय देव मठ संस्थान ' src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-2.jpg"><figcaption class="figncaption">श्री दत्तात्रेय देव मठ संस्थान </figcaption>
				</div>			
				<div class='caption caption-img align-left datta-img'>
					<img alt='श्री दत्त मूर्ती, दत्त भिक्षालिंग मंदिर ' src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-3jpg"><figcaption class="figncaption">श्री दत्त मूर्ती, दत्त भिक्षालिंग मंदिर </figcaption>
				</div>			
				<div class='caption caption-img align-left datta-img'>
					<img alt='दत्त भिक्षालिंग मंदिर, श्री दत्ताची पूजा ' src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-4.jpg"><figcaption class="figncaption">दत्त भिक्षालिंग मंदिर, श्री दत्ताची पूजा </figcaption>
				</div>			
				<div class='caption caption-img align-left datta-img'>
					<img alt='श्री दत्तात्रेय देव मठ संस्थान  माहिती ' src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-5.jpg"><figcaption class="figncaption">श्री दत्तात्रेय देव मठ संस्थान  माहिती </figcaption>
				</div>			
				<div class='caption caption-img align-left datta-img'>
					<img alt='दत्त भिक्षा लिंग मंदिरात दुपारी महालक्ष्मी सद्गुरूंना भिक्षा घालताना' src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/DattaBhikshaLing-Kolhapur/d-6.jpg"><figcaption class="figncaption">दत्त भिक्षा लिंग मंदिरात दुपारी महालक्ष्मी सद्गुरूंना भिक्षा घालताना</figcaption>
				</div>			
				
			</div>
		</section>
	</main>
</body>
</html>