<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
	<meta name='viewport' content='target-densityDpi=device-dpi'/>
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">
	<script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
	<!-- main-banner -->
	<ins class="adsbygoogle"
		 style="display:block"
		 data-ad-client="ca-pub-1255529006075362"
		 data-ad-slot="4279346191"
		 data-ad-format="auto"
		 data-full-width-responsive="true"></ins>
	<script>
		 (adsbygoogle = window.adsbygoogle || []).push({});
	</script>
</head>
<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left datta-img'>
					<img alt='कर्दळीवन ' src='https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kardalivan/kardaliwan01.jpg'><figcaption class="figncaption">कर्दळीवन</figcaption>
				</div>			
				<h3>श्री क्षेत्र कर्दळीवन दुर्गम पण जागृत तपस्थान&nbsp;</h3>
				<p>दत्तसंप्रदाय हा सर्व आध्यात्मिक मार्गाला सामावून घेणारा व सर्व परंपरांचे मूळ तत्त्व आहे. जो सत्याला आपला धर्म मानतो, मग तो कोणत्याही धर्माचा असो, तो दत्तात्रेयांनी आखून दिलेल्या मार्गावर चालत असतो. खऱ्या धर्माचा प्रसार करण्यासाठी परमेश्वराने श्रीदत्तात्रेयांच्या रूपात अवतार घेतला. कोणतीही व्यक्ति, मग ती कोणत्याही जाती-धर्माची असो तसेच ती विद्यार्थीदशेतील, गृहस्थाश्रमातील किंवा संन्यासी असो, ती व्यक्ती दत्तसंप्रदायाने आखून दिलेल्या भक्तिमार्गाचा अवलंब करू शकते. कोणत्याही जाती-धर्माची व्यक्ती शेवटी जगताचा मार्गदर्शक असलेल्या अशा श्रीदत्तात्रेयांच्या मार्गदर्शनाखाली येते. ऐश्वर्यसंपन्न असे श्रीदत्त चराचरात सामावलेले आहेत. श्रीदत्त हे सर्वश्रेष्ठ मायावी असून त्यांनीच मांडलेल्या मायेच्या खेळातून अनेक उदाहरणे निर्माण करुन साधकाचा उद्धार ते स्वत:च करत असतात. तेच ब्रह्मा, तेच विष्णू आणि तेच रुद्र आहेत. तेच इंद्र आहेत आणि स्वर्गातील इतर देव-देवता व जीवही तेच, धरती आणि तेच आकाश आहेत. तेच परमतत्त्व असून हेच श्रीदत्तात्रेयाच्या अस्तित्त्वाचे वैभव आहे.</p>
				<p>श्रीगोरक्षनाथांनी ‘सिद्धसिद्धार्थ’ या ग्रंथात ‘अवधूत’ या शब्दाची व्याख्याच सांगितली आहे. “सर्वान् प्रकृति विकारान् अवधूनितो इति अवधूत: ।” अर्थ असा की ज्यांनी प्रकृति विकाराचा त्याग केला आहे ते अवधूत, आनंदी, मस्तीत राहणारा योगी, वासनात्याग, निरामय वक्तव्य, शुद्धचित्त, नि:संग, अलिप्त असूनसुद्धा ते अवधूत लोकाभिमुख असतात. बालोन्मत्तपिशाच्चवृत्ती, लहान मुलासारखे खेळतात, यांना जेवणाचे घास भरवावे लागतात, धान्याची उलथापालथ करणे, घास भरवावा लागणे अशा प्रकारचे लहान बालकांचे गुण त्यांच्या ठायी असतात. पाण्यामधून चालणे, अंतराळातून विहार करणे अशाप्रकारे अनेक योगिक चमत्कार ते करू शकतात.</p>				
				
				<div role="group" class="caption caption-img align-left datta-img">
					<img alt="व्यंकटेश किनाऱ्यावरील  बोट प्रवास " src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kardalivan/kardaliwan02.jpg"><figcaption class="figncaption">व्यंकटेश किनाऱ्यावरील  बोट प्रवास </figcaption>
				</div>
				<p>श्रीदत्तात्रेयांचा योगावतार आपल्याला आपले प्रत्येक कर्म कौशल्याने व स्फूर्तीने करण्यास शिकवतो. योगाला कोणत्याही प्रकारच्या साधनांची तसेच अतिपरिश्रमाची गरज नसते, तर फक्त जीवनाकडे बघण्याचा दृष्टिकोन बदलून आत्मनिरीक्षण करुन, एक विशिष्ट बदल आपल्यात प्रस्थापित करण्याची गरज असते.</p>				
				<p>‘कर्दळीवन’ या स्थानाला दत्त संप्रदायात विशेष महत्त्वाचे स्थान आहे. अन्य तीर्थक्षेत्रांप्रमाणे कर्दळीवनाची परिक्रमा सहज किंवा थोड्याशा परिश्रमाने साधणारी नाही. तसेच या स्थानाबद्दल फारशी माहितीही सहजी उपलब्ध अशी नाही. त्यामुळे त्याबद्दल सांगोवांगीच्या कथा आणि गूढ फार असे असते, तेव्हा अधिकारवाणीने बोलणाऱ्यांना ऊत येतो, आणि ते सांगतात त्याची शहानिशा करणे शक्य होत नाही. मग ते सांगतात ते सत्य मानून चालणारे तरी दिसतात किंवा सगळ्याच भाकडकथा आहेत, असे मानणारे भेटतात. परिणामी दंतकथा आणि समज-अपसमज वाढत जातात आणि भाविक नकळत सत्यापासून दूर जायला लागतो. अशा विषयांबाबत स्वत: शोध घेण्याची अनेकांना इच्छा तरी नसते किंवा इच्छा असली तरी अन्य कारणांमुळे ते शक्य होत नाही. त्यामुळे वर्षानुवर्षे चालत आलेले तेच, समाजमनात दृढ होते. मात्र जिद्दीने आणि ध्यासाने अशा विषयांचा शोध घेणारेही काही लोक आहेत. पण ते थोडेच आहेत.</p>

				<div role="group" class="caption caption-img align-left datta-img">
					<img alt="असा हा दुर्गम प्रवास" src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Kardalivan/kardaliwan03.jpg">
					<figcaption class="figncaption">असा हा दुर्गम प्रवास</figcaption>
				</div>
				<h3>कर्दळीवन स्थान महात्म्य </h3>
				<p>कर्दळीवन हे श्रीदत्तगुरूंचे गुप्त स्थान आणि श्रीस्वामी समर्थांचे प्रकटस्थान. श्रीपादश्रीवल्लभ आणि श्रीनृसिंहसरस्वती स्वामी यांच्या अवतार कार्यात त्याला विशेष महत्त्व आहे. अक्कलकोट स्वामींच्या दत्तावतारपणाला पुष्टी देते ते आपण कर्दळीवनातून आल्याचे त्यांचे सांगणे. अन्य अनेक ऐतिहासिक, पौराणिक, धार्मिक, आध्यात्मिक संदर्भ या स्थानाला आहेत. एवढे सर्व असूनही कर्दळीवनात जाणाऱ्यांचे प्रमाण फारच थोडे आहे. दुर्गमता, सोयीसुविधांचा अभाव, भीती वाटावी असे प्रवाद या साऱ्यामुळे तेथे जायला फारसे कोणी धजावत नाही. शिवाय, श्रीदत्तगुरूंच्या मनात असले तरच भाविकाला ही दुर्लभ परिक्रमा घडते, अशीही भाविकांची श्रद्धा आहे. काही असो, परंतु तेथे जाणाऱ्यांचे प्रमाण अत्यल्प आहे आणि तेही प्रामुख्याने अगदी अलीकडचे, गेल्या सात-आठ वर्षांतील आहे, ही वस्तुस्थिती आहे. </p>
				<p>फार प्राचीन काळापासून कर्दळीवन हे सिद्ध, योगी, मुनी आणि ऋषी यांचे अत्यंत आवडते आणि एकांतात तपश्चर्या करण्यासाठी अनुकूल असे ठिकाण आहे. कर्दळीवन परिसरात प्रवेश केल्याबरोबरच तेथील दिव्यत्वाची अनुभूती तत्काळ येते. त्या सर्व परिसरात दिव्य दैवी स्पंदने भरून राहिली आहेत. तेथे प्रवेश केल्याबरोबर आपले अष्टसात्त्विक-भाव जागृत होतात. शरीरातील सुप्त आध्यात्मिक शक्ती जागृत होतात. आपल्या अंतर्मनामध्ये चैतन्याचा आविष्कार होतो. एक विलक्षण जाणीव अंतरंगामध्ये पुलकित होते. मन आनंदाने भरून उठते. ज्या ठिकाणी प्रत्यक्ष श्रीदत्तप्रभूंचा वास आहे, जेथे श्रीदत्तप्रभूंचे सर्व अवतार येऊन मिळतात आणि गुप्त रूपात तेथेच वास करतात त्या कर्दळीवनाचे माहात्म्य किती असेल याची कल्पना आपल्याला करता येणार नाही.</p>
				<p>औकर्दळीवनाचा इतिहास पाहताना कर्दळीवन या शब्दाची उत्पत्ती कशी झाली हे मोठे कोडे आहे. महाराष्ट्रभर कर्दळीवन हे नाव जरी रूढ झाले असले तरी आंध्र कर्नाटकात त्याला कदलीवन किंवा काडलीवन असे म्हटले जाते. एक मात्र खरे की कर्दळीवन या नावाचा आणि कर्दळीच्या झाडाचा काहीही संबंध नाही. कर्दळीवनात सगळीकडे चिखल आणि दलदल असून तेथे कर्दळीची झाडे फोफावली असल्याने त्याला कर्दळीवन म्हणतात हा समज चुकीचा आहे. श्रीनृसिंह सरस्वती ज्या बांबूच्या बुट्टीतून बसून कर्दळीवनात गेले, त्या बुट्टीला कर्दळीची पाने गुंडाळून आणि त्यावर फुले पसरून त्यांचे आसन तयार केले होते.</p>
				<p>&nbsp;</p>
				
				
				
			</div>
		</section>
	</main>
</body>
</html>