<!DOCTYPE html>
<html>
<head>
	<title>Dattaguru Parikrama - अबुवरील गुरुशिखर</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="HandheldFriendly" content="true">	
	<link rel="stylesheet" href="/css/bootstrap-4.5.0-min.css" crossorigin="anonymous">
	<link rel="stylesheet" href="/css/datta.css" crossorigin="anonymous">	
	<script src="/js/jquery.min.js"></script>
	<script src="/js/bootstrap.min.js"></script>
</head>
<body>
	<main>
		<section class="datta-main-section">
			<div>
				<div class='caption caption-img align-left datta-img'>
					<img alt='गुरु शिखर दत्त पादुका मंदिर, अबु ' src='https://raw.githubusercontent.com/onkar2498/JSON/master/images/Abu-Guru-Shikhar/abu-1.jpg'><figcaption class="figncaption">गुरु शिखर दत्त पादुका मंदिर, अबु</figcaption>
				</div>			
				<h3>अबुवरील गुरुशिखर</h3>
				<p>अरवली हा भारतातील सर्वात प्राचीन पर्वत आहे. तो राजस्थानात नैऋत्य - ईशान्य पसरलेला आहे.</p>
				<p>नऋत्य भागात ‘माउंट अबू’ (अबू पहाड, अबूपर्वत) हे या पर्वतातील सर्वात उंच शिखर आहे. त्याची उंची सुमारे १,७०० मीटर आहे. त्याला ‘गुरुशिखर’ असे म्हणतात. हे शिखर अबूपासून सात मैलांवर आहे. अबूपासून पाच मैलांवर व ५०० फूट अधिक उंचीवर ‘ओरिया’ या नावाचे गाव आहे. हे ‘गुरुशिखराच्या’ मुख्य टोकाखाली स्थित झालेले आहे. या गावापासून गुरुशिखर तीन मैलांवर आहे. अबूपेक्षा हे अधिक थंड असून या ठिकाणी हिंदू व जैनांची मंदिरे आहेत. या ठिकाणी ‘कंखलेश्र्वर’ महादेवाचे प्रसिद्ध मंदिर आहे.</p>				
				<p>ओरियापासून थोड्या अंतरापर्यंत सडक आहे. परंतु त्यापुढे अशी पाऊलवाट (पगदंडी) सुरू होते. ती पर्वतावरून आणि नाल्यातून ‘गुरुशिखर’पर्यंत जाते. चढाव जरा जास्त आणि अवघड आहे. परंतु दृढभक्तीने येणाऱ्या मानवास तो कठीण वाटत नाही. श्रीभगवान दत्तात्रेयांनी या स्थानी निवास केला होता. त्या स्मरणार्थ खडकाचे शिळेवर कोरलेल्या पादुका या शिखरावर एका लहानशा मंदिरात स्थापण्यात आल्या आहेत. या ठिकाणी मोठ्यात मोठी अशी घंटा (घाट) आहे. तिचा आवाज फार दूरपर्यंत ऐकू येतो. </p>

				<div role="group" class="caption caption-img align-left datta-img">
					<img alt="अबू येथील दत्त पादुका गुहा" src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Abu-Guru-Shikhar/abu-2.jpg"><figcaption class="figncaption">अबू येथील दत्त पादुका गुहा </figcaption>
				</div>
				<p>या शिखरावर महान योगी तपश्र्चर्या करण्यास राहिलेले आहेत.</p>				
				<p>या ठिकाणी हिंसक प्राणी पण आहेत.</p>
				<p>या ठिकाणहून फार दूरची स्थळे नजरेस पडतात. दूरचे घनदाट जंगल, हिरवळ तसेच वृक्षराजी व शीतल वाऱ्याच्या मंद मंद लहरी मनाला आनंदित करतात.</p>
				<p>या ठिकाणी अनेक यात्रेकरू येतात. रस्ता जरा भितीजनक असल्याने यात्रेकरूंच्या रक्षणासाठी एक पोलिसशिपाई सकाळ-सायंकाळ ओरिया गावापर्यंत येतो. ओरियापासून मार्गदर्शक घेणे अधिक हितावह आहे.</p>
				<p>या ठिकाणी यात्रेकरूंची धर्मशाळा आहे. तसेच कित्येक गुहा (गुंफा) पण आहेत. या ठिकाणी रहात असलेले संत-साधू यात्रेकरूंच्या व्यवस्थेची पूर्ण काळजी घेतात. येथे साधु-संन्याशांना, तसेच गरीब माणसांना मोफत भोजन देण्यात येते. येथे एक सुंदर कुवा व बाग आहे.</p>
				<p>हिंदू धर्माचा उद्धारक रामानंद याच्या पण पादुका येथे आहेत.</p>			
				<p>या ठिकाणी श्रीमंत तुकोजी महाराज होळकर यांना श्रीस्वामी समर्थ (अक्कलकोट) यांनी दर्शन दिले आहे.</p>							
				<br>
				<br>
				<div role="group" class="caption caption-img align-left datta-img">
					<img alt="श्री दत्त चरण पादुका मंदिर " src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Abu-Guru-Shikhar/abu-3.jpg"><figcaption class="figncaption">श्री दत्त चरण पादुका मंदिर </figcaption>
				</div>
				<div role="group" class="caption caption-img align-left datta-img">
					<img alt="श्री दत्त पादुका गुरू शिखर, अबू पहाड " src="https://raw.githubusercontent.com/onkar2498/JSON/master/images/Abu-Guru-Shikhar/abu-4.jpg"><figcaption class="figncaption">श्री दत्त पादुका गुरू शिखर, अबू पहाड </figcaption>
				</div>				
			</div>
		</section>
	</main>
</body>
</html>